[2021-09-05 15:07] matthewgoodwin opened #3158 "build fail: error Command "webpack" not found. in production on Digital Ocean"
Hello, About two weeks ago I updated my Ruby version, but it caused a build issue on Digital Ocean:  `error Command "webpack" not found.` So, I reverted the app back to its original HEAD(before the update). But I continue to get the same error message..
When the revert failed I tried everything: fresh install of `webpacker` (this included deleting `node_modules` + `yarn.lock`); update the `webpack

[2021-09-08 09:29] LiiKaz commented on #2140
@GUI you saved my day !

Is there still no other way to make this working ?

[2021-09-08 10:02] iangullo commented on #2244
I have this exact same problem.

- ./package.json
`{
  "name": "bClub",
  "private": true,
  "dependencies": {
    "@hotwired/turbo": "^7.0.0-rc.3",
    "@hotwired/turbo-rails": "^7.0.0-rc.3",
    "@rails/actioncable": "^6.0.0",
    "@rails/actiontext": "6.1.4-1",
    "@rails/activestorage": "^6.0.0",
    "@rails/ujs": "^6.0.0",
    "@rails/webpacker": "5.4.2",
    "stimulus": "^2.0.0",
    "trix"

[2021-09-08 10:03] iangullo commented on #2244
Previous message using Rails 6.1.4

[2021-09-09 08:21] sled commented on #2956
I don't think this change has been proposed as PR yet, I also ran into a different problem, if you have an asset file twice with identical content hash, only one will land in the output, i.e:

[code]

manifest.json
[code]

which means if you have something like `image_pack_tag('two/a.jpg')` in your views it will crash because it's missing in the manifest.

[2021-09-09 11:25] vkhoa commented on #559
Does this mean refreshing does not reload the current page where are users in? I'm having same problem, I attach vue root app to my rails app, and it uses vue-router to navigate between the links, when user is standing in `/account` path and hit refresh, I want Account page/url should be re-render. Isn't it possible?

[2021-09-09 12:46] jpickwell commented on #559
@vkhoa, no, the page can still be reloaded just fine as long as you have the Rails router and Vue router both setup correctly.

In my [comment](https://github.com/rails/webpacker/issues/559#issuecomment-315785348), I show how to setup the Rails router to handle all of the Vue router routes with a single Rails route.

When you make a request to the application, like `/account`, first Rails will han

[2021-09-09 14:33] #3138 closed

[2021-09-09 15:04] vkhoa commented on #559
@jpickwell  are you talking about MPA, when rails app need to route the request to /account path? But what if my rails app does not have /account endpoint, it is only the vue-router path, my vue app contains all page components and handle navigation through router-link. Can you please look at my issue [here]?(https://stackoverflow.com/questions/69112290/instruct-vue-router-to-re-render-the-corect-

[2021-09-09 22:46] jpickwell commented on #559
@vkhoa, I'll take a look at your SO question. I'll try to provide an example of what I did for a project at work.

[2021-09-10 04:55] vkhoa commented on #559
@jpickwell can you check my comment on SO? Thanks for your answer but it still doesn't point out my problem.

[2021-09-11 02:23] ibrahimab opened #3160 "link on npmjs to Webpack-dev-server causes 404 + suggestion for a more permanent solution for link refs"
The README for `@rails/webpacker` on the npmjs website (https://www.npmjs.com/package/@rails/webpacker) titled `Docs` has a link referring to `Webpack-dev-server` underneath the Development list item. This refers to a non existing page in the repository (most likely because the link refers to "HEAD" in the url rather than the actual branch name). I would change it myself, but I don't know where th

[2021-09-11 08:01] dhh commented on #3153
Choosing to pursue a path that's not contingent on Webpack API changes as explained in https://github.com/hotwired/stimulus/issues/433#issuecomment-917363278

[2021-09-11 10:04] dhh commented on #3153
I can't replicate this using webpack via jsbundling-rails. Maybe something else is wrongly setup in Webpacker. Anyway, reopening.

[2021-09-14 07:35] choznerol commented on #2967
Thanks @OscarBarrett for the snippet. However, in my case (webpacker 5.2.1) all the `p.constructor.name` were `"Object"` so I have to match with the `"key"` property:
[code]
P.s. `"MiniCssExtract"` can be found [here](https://github.com/rails/webpacker/blob/5-x-stable/package/environments/base.js#L37) from the `5-x-stable` branch

[2021-09-15 09:06] bjufre commented on #3148
@Erowlin any news on this? After updating, we're still getting the `TypeError: Class constructor ServeCommand cannot be invoked without 'new'`

[2021-09-15 10:29] jdelStrother commented on #2926
FWIW, Yarn's latest installation instructions suggest `yarn set version 3.x`, which results in `Webpacker requires Yarn ">=1 <4" and you are using 3.1.0-rc.5`

For now I've stubbed out webpacker's version checks by adding the following to my rakefile:

[code]

[2021-09-15 11:53] Erowlin commented on #3148
We postponed the upgrade for now

[2021-09-16 20:32] Sirius-KiH opened #3163 "stylesheet_pack_tag not emitting anything"
Using webpacker 6.0.0-rc5.

My `= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'` emits nothing, i.e. no link tag is being rendered.

I have a folder structure like this:
[code]

The `application.scss` is properly picked up and compiled to the output directory. My `manifest.json` looks like this:

[code]

Webpacker config:

[code]

And finally, my `package.json`:

[code]

[2021-09-19 22:09] tomprats commented on #2775
This was definitely easier than I thought. I was worried I'd have to copy and paste the default setup, but you can just do something like this in your babel.config.js:

[code]

Or if you don't need the environment, you can just use an object with whatever plugins

[code]

[2021-09-21 19:10] vishthemenon commented on #3163
I am running into a similar problem as well.

[2021-09-21 19:43] Sirius-KiH commented on #3163
I don't use the dev_server. For development I run `bin/webpack --watch` and for deployment `bundle exec rails webpacker:compile`, the problem persists with both commands. The issue isn't that the bundles are not compiled or not correctly entered into the `manifest.json`, as on that side everything is how it should be.

[2021-09-22 09:51] thomasdarde commented on #3163
Reading this : https://github.com/rails/webpacker/compare/v6.0.0.beta.7...a1778d7de53d64b7605ea8f49b61c3bdf86980a4

I understand the following:

- you can keep using rc5 with webpack dev server 3 but then you need to set hmr to false.
- or you can try to update wepback dev server to version 4 but then you will need to be careful setting up the host (still not set on my side but this is helping : h

[2021-09-22 15:58] tomprats commented on #3008
I was still running into this on webpacker 6.0.0-rc.5 with a babel.config.js file with an additional plugin, but adding the fix someone mentioned above and installing them as dependencies seems to have fixed the issue.

Before

[code]

After

[code]

Plus

`yarn add ...`

[2021-09-23 15:41] guillaumebriday commented on #3063
What are the versions of your npm packages?

[2021-09-23 22:29] #1951 closed

[2021-09-24 06:02] adrienpoly commented on #3153
This error is not limited to the stimulus/webpacker-helpers, more details [here](https://github.com/hotwired/stimulus/issues/433#issuecomment-926365479)

After several testing and comparison with Webpacker 5 settings, I think I found the source. Removing `loose: true` in babel seems to solve the issue.

[code]

@guillaumebriday any idea if there is something that should be changed in how Stimulus

[2021-09-24 12:39] boardfish opened #3173 "Can't override loader options: Cannot read property 'get' of undefined"
Trying to follow [these steps](https://github.com/rails/webpacker/blob/5-x-stable/docs/webpack.md#overriding-loader-options-in-webpack-3-for-css-modules-etc) with Webpacker 6.0.0-rc.5, Webpack 5.53.0. The aim is to override `localIdentName` from the outside so that I can continue to use CSS modules with pseudo-encapsulation in Rails as I have before. I'd already achieved this in the previous versi

[2021-09-24 14:06] guillaumebriday commented on #3173
`localIdentName` is specific to the `css-loader` so you should override this rule only

There is no key loaders on the config, there is `rules` with `loaders` inside as object

[2021-09-24 14:09] boardfish commented on #3173
I had a feeling that'd be the case. I just wasn't sure how to repeatably find the rule associated with `css-loader`, since the `loader` field points to a specific path under `node_modules` as opposed to a module name, so we can no longer `find(el => el.loader === 'css-loader')`.

I can raise a PR to update that documentation once we have the solution.

[2021-09-26 07:40] AstmDesign commented on #3157
I fixed it by running the below commands after each deployment by using Capistrano task

[code]

But I still need to know the best way for this issue and why it happen? ... is it related to the versions?

[2021-09-27 03:33] taesla14 opened #3175 "Please help this newbie rails programmer"
``I wanted to deploy my app to heroku.

But i got this error message and failed.

Is there anyone know how to solve it?
`remote:        Compiling…
remote:        Compilation failed:
remote:        error Command "webpack" not found.
remote:
remote:        yarn run v1.22.4
remote:        info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
remote:
remote:
remote:  !
r

[2021-09-27 11:26] olleolleolle commented on #3175
👋 @taesla14 Hello! This is a bug tracker, not a support forum. https://stackoverflow.com/questions/tagged/webpacker is a place on StackOverflow, which _is_ a community-driven support forum for all things. You may have more luck asking your question, there!

This repository has [a Troubleshooting document](https://github.com/rails/webpacker/blob/master/docs/troubleshooting.md), but I guess there's

[2021-09-27 12:10] rlogwood commented on #3175
This may help you:
[code]

On Sun, Sep 26, 2021 at 11:33 PM taesla14 ***@***.***> wrote:

[2021-09-27 12:53] #3175 closed

[2021-09-29 08:50] mildred opened #3177 "webpacker 6.0.0-rc.5 (javascript) bundles/vendors webpack causing errors"
When webpacker call webpack code, it uses a bundled version of webpack instead of using the project's version. This can cause errors such as type mismatch.

[code]

Please note in the stack trace that webpack `node_modules/webpack/lib/Compiler.js` is calling to webpacker bundled version of webpack `node_modules/@rails/webpacker/node_modules/webpack/lib/NormalModule.js` and fails to recognize a typ

[2021-09-29 09:32] mildred commented on #3177
I found a way to fix this: add webpack-assets-manifest to your node_modules (node will take it before using the vendored one)

[code]

[2021-09-29 14:01] boardfish commented on #3173
It turned out I had to configure this inside `MiniCssExtractPlugin`, so I ended up doing the following:

[code]

[2021-09-29 14:01] #3173 closed

[2021-09-29 16:22] mildred commented on #2801
I tracked this down and it was possible to avoid this error. I had the error during interactive use of the rails app in the development environment.

It was caused by the fact that webpack and webpacker had mismatching versions. it caused webpack to start the dev server on a different port than webpacker configured. Consequently, webpacker could not detect the server was running and tried to recom

[2021-09-29 18:28] jshah commented on #955
@rajdeepbhatia

Could you explain why this is? Why would it run twice?

[2021-09-29 18:36] guillaumebriday commented on #3163
Can you create a reproduction repo? Because everything seem to be working just fine with the files you provide

[2021-09-29 18:38] guillaumebriday commented on #3158
Your `package.json` seem to be incomplete. try to run `webpacker:install` command to be sure everything is correctly installed. Moreover, Webpacker 4 is really old and should not be use anymore

[2021-09-29 21:23] brandoncordell opened #3179 "Namespacing packs is broken"
#3156 breaks namespaced packs.

We namespace our app heavily on the Rails side of things so we ended up following the same convention when we moved to webpacker. The above PR [removes the recursive glob from base.js](https://github.com/rails/webpacker/commit/5de0fbc1e16d3db0c93202fb39f5b4d80582c682#diff-7af8667a3e36201db57c02b68dd8651883d7bfc00dc9653661be11cd31feeccdR19).

[2021-09-30 16:19] #3179 closed

[2021-09-30 21:55] guillaumebriday commented on #3179
Why did you close the issue @brandoncordell?

[2021-10-01 09:40] mrhead commented on #3153
We had the same issue with Webpacker 6 and Stimulus 3. Setting `loose: false` in `babel-preset.js` fixed the issue.

You can use the following commit (not mine) as reference: https://github.com/ubpb/catalog/commit/47bf8cc4c0def4a5f9a2d4c83e004b0baadd396e

[2021-10-01 11:43] brandoncordell commented on #3179
@guillaumebriday I figured going by the original PR comments that this wasn't a change that would be reverted. If it's up for discussion, we can reopen it.

If I have time later today I'll try and open a PR to make this work with the new folder structure.

[2021-10-02 00:20] yoshyosh opened #3180 "Entry module not found: Error: Can't resolve './src'"
I'm always coming across this error with new or old projects, for the past few weeks. I'm not sure how I should be setting the entry point or if I even need to (I didn't have to in the past). Not sure why my system (M1 Mac) isn't picking things up automatically even with a brand new project. How can I resolve this issue?

Example project created only using `rails new wrose --webpack`: https://gith

[2021-10-03 12:24] pustovalov opened #3183 "[webpacker 6.0.0.rc.5] stylesheet_pack_tag doesn't work with HMR"
[code]
![image](https://user-images.githubusercontent.com/1568885/135753441-0d2a38fb-5034-4d2f-a1f6-43008108d8fc.png)

[code]

![image](https://user-images.githubusercontent.com/1568885/135753473-6154be93-65a9-44cd-8827-2a5e46ed12c7.png)

Demo repo:
https://github.com/pustovalov/webpacker-hmr-reproduce

[2021-10-04 09:45] guillaumebriday commented on #3183
Could you take a look @justin808 please?

[2021-10-04 18:24] tagliala opened #3188 "[5.4] Can't compile Bootstrap 5.1.1 in production"
Hi,

this is not an issue with Webpacker, but I would like to report this here for searching purposes, hopefully save time to others for a subtle issue you may not notice in development and tests, and maybe there is someone willing to fix an issue in a direct Webpacker dependency.

How to reproduce:

[code]

Error:
[code]

Note that this may also be an issue with Webpacker 6 if you are going to re

[2021-10-04 18:24] #3188 closed

[2021-10-05 20:33] justin808 commented on #3183
Should we close this one?

I don't see any documentation of the issue above.

[2021-10-05 20:33] justin808 commented on #3183
Seems like a misunderstanding that HMR page should have the CSS  on the HTML. It just shouldn't.

[2021-10-06 17:08] usershabanov commented on #940
thank you! helped for me as well

[2021-10-08 09:27] JonRCahill opened #3191 "webpacker 6.0.0.rc.5 doesn't work with live code reloading"
Creating a new Rails project using webpacker 6.0.0.rc.5.

* `rails new example --skip-bundle`
* Update `Gemfile` to use `gem 'webpacker', '~> 6.0.0.rc.5'`
* `bundle`
* `rails webpacker:install`
* Create a default route and view (empty)

Then following the instructions for live code reloading at: https://github.com/rails/webpacker#development

* Running `rails s`
* Running `./bin/webpack-dev-server

[2021-10-10 00:55] Godstrump commented on #2825
Solved this here
https://stackoverflow.com/a/69511508/13486752

[2021-10-10 19:26] alexander-storozhenko commented on #1494
I had some error in config/webpacker.yml in ubuntu.
Maybe ubuntu and os x are different in this regard...
I pasted that config and it works for me!
[code]

[2021-10-11 12:51] tbolender opened #3196 "Code in yarn:install breaks prerequisites"
Hi there!

We recently upgraded to webpacker 6 and now receive an exception during assets:precompile in our CI:

#14 219.8 /app/vendor/bundle/ruby/2.5.0/gems/webpacker-6.0.0.rc.5/lib/tasks/yarn.rake:21:in 'system'
#14 219.8 /app/vendor/bundle/ruby/2.5.0/gems/webpacker-6.0.0.rc.5/lib/tasks/yarn.rake:21:in 'block (2 levels) in <top (required)>'
#14 219.8 /app/vendor/bundle/ruby/2.5.0/gems/sentry-rub

[2021-10-12 08:22] #3177 closed

[2021-10-14 22:40] sgaxr commented on #2806
Gah, I got myself again! X{

[2021-10-15 19:18] pustovalov commented on #3183
Need to describe it in the documentation at least. Webpacker v6 doesn't support HMR and CSS outside of JS together. Because this combination worked good in Webpacker v5.

[2021-10-16 01:31] brendon commented on #3064
@pgruener, did you ever find a solution for this? My app is split into many engines and I'd like one of these to export an entrypoint. Right now it seems that this has to be placed in the main app's javascript/packs folder.

[2021-10-16 09:36] pgruener commented on #3064
@brendon I created a task for my scenario, which is discovering the engines' entry_point directories and generates corresponding files in the host_application's javascript/packs folder. It also may remove those, which are not necessary anymore. So for CI/CD purposes, when isolated engines are tested or deployed (thats both needed in our scenario), those entry_points can automatically be in sync wi

[2021-10-16 23:23] brendon commented on #3064
Thanks @pgruener, I guess I kind of worked around it in the same way by adding a new file in the main application's `packs` directory that then imports the file at `engine/javascript/packs/engine_namespace`. I guess given the turn away from Webpack with Rails this one will probably never be properly solved :)

[2021-10-17 16:51] pgruener commented on #3064
lets keep hoping ;-)

[2021-10-18 13:21] saltvedt opened #3200 "binstubs should NOT honor the RACK_ENV environment variable in addition to the RAILS_ENV environment variable"
See issue #773 and associated commit: https://github.com/rails/webpacker/commit/f0ce2a5e66f13cd2b562f71ec851f6f18c195121

When this works, it is by accident. The available values of RACK_ENV supported by Rack are `development`, `deployment` and `none`. Of these, only `development` is a common value of RAILS_ENV.

See: https://github.com/rack/rack/blob/master/lib/rack/server.rb#L180

I found this c

[2021-10-20 21:34] justin808 commented on #3145
@guillaumebriday Suggest closing.

[2021-10-20 22:01] Misterm79 opened #3201 "Jammed"
Stop hacking good men

[2021-10-21 06:30] #3201 closed

[2021-10-21 13:08] TruePath opened #3202 "Documentation for v6 upgrade is unclear"
The documentation for v6 upgrade says:

"Ensure that your layouts and views will only have at most one call to javascript_pack_tag or stylesheet_pack_tag."

This sentence is open to interpretation as saying that you can only call either javascript_pack_tag or stylesheet_pack_tag but not both (i.e. you can have at most one call to a helper in the set {javascript_pack_tag, stylesheet_pack_tag}).

I

[2021-10-21 14:12] gastonmorixe opened #3204 "Future support and long term mantability, will this webpacker be deprecated? Asking for 100M user migration"
Hi community,

A client of mine has a site with around 100M users which is considering moving to React and we need Webpack to integrate we Rails. It's a top website in the world and decisions must be taken carefully.

We are using Rails 3 and plan to upgrade everything. We are considering all options to integrate JS with Rails and the easiest by far is using this gem. Sadly after a [few comments f

[2021-10-24 01:15] tkblackbelt commented on #3188
Thanks for posting this! I had same error and upgraded to new bootstrap version to fix.

[2021-10-26 14:12] SamShekhovtsov opened #3206 "Webpacker 6 documentation discrepancy"
Hi community.

The documentation says:
Usage
Once installed, you can start writing modern ES6-flavored JavaScript apps right away:

[code]

however when I do **rails webpacker:install** , it automatically creates application.js file in the  app/packs/entrypoints directory. Why it's not as the documentation states? Actual structure is following:

[code]

[2021-10-26 20:46] #3191 closed, assigned to nobody

[2021-10-28 15:31] #3204 closed, assigned to nobody

[2021-10-29 16:29] Big-Gray-Al opened #3207 "Can't get webpack to accept sourceMap"
I set up webpacker according to the readme and get the following error when I try to deploy to production or run

`NODE_ENV=production RAILS_ENV=production rails assets:precompile --trace`  The RAILS_ENV is the issue

I can compile if I disable sourceMap on line 40 of  `producion.js of @rails/webpacker`
`return new CssMinimizerPlugin({ sourceMap: false })`

I also take note here that I need to tel

[2021-10-29 19:12] corporealfunk commented on #3180
I also have this problem, using the same environment as the OP. I upgraded the webpacker gem from 5.1.1 to 5.4.3 and when I run:

`./bin/webpack --watch`

as indicated in the documentation, see the following errors:

[code]

It then emits the manifest.json, but for every pack there are other issues, in my case it then outputs:

[code]

It seems to emit that error message the same number of times a

[2021-10-29 19:27] jamesarosen commented on #2913
The monkeypatch doesn't work for us because the missing assets are unnamed ones like `16-e7f6f2726128249b1600.chunk.js`. Those don't show up _anywhere_ in the `manifest.json`.

And using `import(webpackChunkName: "[request]" 'some/path')` just resulted in `public/assets/js/[request]-ed4f692f3e0a1df907e0.chunk.js`.

Lastly, I don't see a way to add Webpack comments for importing CSS from JS
[code]

[2021-10-29 19:27] corporealfunk commented on #3180
For what it's worth, I found that after upgrading, doing the following resolved my issue:

[code]

[2021-10-29 21:27] justin808 commented on #2146
@guillaumebriday Let's close and let somebody reopen if an issue with v6.

[2021-10-30 14:49] leopolicastro commented on #1923
What if I deleted the `.babelrc` file but I still get that error?

[2021-10-30 17:53] joker-777 opened #3208 "Rake tasks don't show log out put"
This happens because you have to assign `Logger.new(STDOUT)` instead of `ActiveSupport::Logger.new(STDOUT)` to `Webpacker.logger`  [in this line](https://github.com/rails/webpacker/blob/master/lib/webpacker.rb#L27). This definitely happens on 5.4.3 but probably also in webpacker 6.

[2021-10-30 23:46] SamShekhovtsov opened #3210 "Webpacker doesn't support custom loaders"
### Custom loaders are causing webpacker to behave incorrectly, ignore some files from loading

if I add a custom loader, for example the haml loader:

[code]

[code]

some application files stop loading. For instance, I got Angular error because corresponding file wasn't loaded:

**TypeError: Cannot read properties of undefined**

just removing this custom loader makes everything work fine. When

[2021-10-31 00:32] SamShekhovtsov commented on #3210
actually that only happens if I specify:

[code]
if I remove that piece, **the custom loader works fine!**

[2021-10-31 16:34] guillaumebriday commented on #3210
Which version of Webpacker you're using?

[2021-10-31 18:49] feliperaul commented on #2163
@PhilCoggins Phil, could you share your entire webpacker.yml file?

Also, I didn't quite understand how exactly you start `./webpack-dev-server`; you can't start it twice (once for development and once for the test environment), obviously, so how exactly is your setup?

[2021-11-01 06:06] gregorvand commented on #2806
I also have this issue @sgaxr - any luck?

[2021-11-01 11:14] joker-777 commented on #3208
We use [semantic logger for rails](https://github.com/reidmorrison/semantic_logger) which is probably the reason for this problem.

[2021-11-01 13:43] sgaxr commented on #2806
@gregorvand No, no luck. I've only been able to get around this by not using scss.

[2021-11-01 14:07] SamShekhovtsov commented on #3210
the latest one: 6 release candidate (6.0.0-rc.5) . I think that this issue can be closed, because when I omit the **extensions: ['.haml']** part it works as desired.

[2021-11-01 22:36] jamesarosen commented on #2913
I ended up fixing this by combining `webpack-manifest-plugin` with a patch for `Webpacker::Commands` based on @rogercampos's work above:

[code]

[code]

[2021-11-01 22:38] dwightwatson commented on #3153
A comment from the original issue on Stimulus shows you can sidestep the issue by dropping IE 11 support: https://github.com/hotwired/stimulus/issues/433#issuecomment-956601114

Not ideal but a potential solution for those who don't need IE 11 support in the meantime.

[2021-11-01 23:51] joshunger commented on #2995
I ran across something similar your `styled-loader` might be an old version.

[2021-11-02 09:56] #3210 closed

[2021-11-02 09:56] guillaumebriday commented on #3210
Great!

[2021-11-02 12:59] agrobbin commented on #3001
@fxn just checking in here, wondering if this is something you've been able to think about in the last couple of months!

[2021-11-02 13:07] fxn commented on #3001
@agrobbin oh! Does https://github.com/rails/webpacker/commit/77231548ee9981568ffbcadd7256a3ededcee834 fix this?

[2021-11-02 20:44] ibrahimab commented on #3160
How is it not easy? Just setup a permalink/handle service on rubyonrails.org for example:

https://perma.rubyonrails.org/<perma-id> => this would refer to the actual file in the repository at the version it was released, maybe using release tags, as release tags aren't deleted.

So, for example, this release [@rails/webpacker:v5.4.3](https://github.com/rails/webpacker/releases/tag/v5.4.3) has a RE

[2021-11-03 09:18] m-abdurrehman opened #3211 "Webpacker 6 is stuck on compiling after upgrade"
I upgraded my webpacker to `6.0.0-rc.5` by following https://github.com/rails/webpacker/blob/master/docs/v6_upgrade.md
and looking https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/compare/webpacker-5.x...master

when I run `./bin/webpack --watch --progress` it got stuck on

<img width="1437" alt="Screenshot 2021-11-03 at 2 14 54 PM" src="https://user-images.github

[2021-11-03 14:45] andreas-venturini opened #3212 "Deployment instructions for Heroku apps potentially problematic"
In the [docs section about Heroku deployments](https://github.com/rails/webpacker/blob/master/docs/deployment.md#heroku) it's recommended to include the Heroku nodejs buildpack.

However, this is potentially problematic as in Rails apps `yarn install` will again be [run as part of the asset precompilation step if the yarn binstub is present](https://github.com/rails/rails/blob/6-1-stable/railties/

[2021-11-03 17:47] johrstrom commented on #2140
@GUI's solution worked for me as well. It seems like `resolve-url-loader` as described in the 4.x css docs https://github.com/rails/webpacker/blob/4e5ba661031d8481761662c4a845f16caad6a41a/docs/css.md should work, but did not prefix with a default configuration. I'm trying to migrate font-awesome from the ruby gem into webpack in rails 6.0 for reference, and new to the webpack stack so admittedly -

[2021-11-04 00:52] patrick99e99 opened #3214 "trying to use 6.0.0.rc.5 in rails 6 app, but now get massive number of 404s from javascript_pack_tag...?"
My html document has many script tags such as:
[code]

But there is no `runtime-76a7030ad97edd4df84a.js` or `vendors-node_modules_webpack_hot_dev-server_js-76a7030ad97edd4df84a.js` in my public/packs folder...  There are in fact no files at all other than the manifest in public/packs..  However, there are many finger printed files in public/packs/js, but not including those 3 I listed above...

My

[2021-11-04 16:05] SamShekhovtsov opened #3215 "ROR and Webapcker 6 is not compatible with Angular 13"
After creating a very simple application, it appears that the ROR with Webpacker 6 is not compatible with latest Angular.

When injecting a service as a constructor parameter using DI, following error is shown:

**Error: This constructor is not compatible with Angular Dependency Injection because its dependency at index 0 of the parameter list is invalid.**

it only happens when Angular is running

[2021-11-05 08:19] guillaumebriday commented on #2472
Is this still an issue? Feel free to reopen if needed

[2021-11-05 08:19] #2472 closed

[2021-11-06 01:42] n-rodriguez opened #3216 "Create git tag for v6.0.0.rc.6"
Hi there!

npm package has been released https://www.npmjs.com/package/@rails/webpacker/v/6.0.0-rc.6 but there is not git tag https://github.com/rails/webpacker/tags to keep the gem and the JS lib synced within an application.

ping @dhh

Thank you!

[2021-11-06 06:47] dhh commented on #3216
Just pushed the tag 👍

[2021-11-06 06:47] #3216 closed

[2021-11-06 15:22] n-rodriguez commented on #3216
Thank you!

[2021-11-08 15:33] dhh commented on #3204
Webpacker v6 is a great option for those who want to continue on that track. But it will no longer be bundled with Rails 7. The path we're going with by default going forward is import maps (no Node required at all) and then jsbundling-rails as the step from there. But you don't need anyone's permission to continue to use Webpacker if you fancy. The gem will still be there, and v6 is a much slimme

[2021-11-08 20:54] SamShekhovtsov opened #3219 "webpacker 5.x can't compile Angular 13 application"
After following exactly, step by step installation instructions from the [https://github.com/rails/webpacker/tree/5-x-stable](https://github.com/rails/webpacker/tree/5-x-stable) page I got following compilation error:

Compiling...
Compilation failed:
warning package.json: No license field
ModuleNotFoundError: Module not found: Error: Can't resolve '@angular/compiler' in '/home/semshekh/projects/t

[2021-11-08 21:02] mike1011 commented on #586
The same is explained here as well - https://webpacker-docs.netlify.app/docs/env

[2021-11-09 07:24] kimyu92 opened #3222 "Webpacker 6: Missing documentation on how to resolve images or fonts used in scss"
I believe it's quite common to use `resolver-url-loader` to ensure the relative path of image is working in scss.
However, it seems like I can't find any documentation in the upgrade guide that talks about this particular changes.

### Error
Error 1: Failed to resolve image path used in scss (Resolved)
[code]

Error 2: Similar to issues, https://github.com/rails/webpacker/issues/1267 & https://git

[2021-11-11 02:26] kimyu92 commented on #3206
@guillaumebriday Do you know this is expected behavior?

I have also noticed if a pack file is under a subdirectory, it is no longer generating the pack file.

app/packs/ApplicationPack.js - generated
app/packs/foo/FooPack.js - skipped (behavior change  in v5)

Is that a regression?

[2021-11-11 14:10] mariuspopaadrian commented on #2879
@pedrofurtado Just a Question with Rails patches for yarn2 backported to 5.2 i guess yarn 2 can work with webpacker 5.x  (already merged) ?

[2021-11-12 12:13] gastonmorixe commented on #3204
Thank you for your words @dhh

[2021-11-13 13:05] immakdas commented on #1494
The @benkoshy solution resolve issues for me.
`spring stop` did some magick.
Reinstalling webpack, restarting servers, restoring backup was not effective. Spring stop fixed the `javascript heap out of memory` error on compile

[2021-11-14 22:08] TheBrockEllis commented on #2144
Just created a brand new rails app last night and ran into this problem (having both a js and scss pack was causing images not being included in the manifest).

This gentleman's answer about creating a separate `image` pack solved it for me, post-haste. Cheerio!

[2021-11-14 22:40] dwightwatson commented on #3212
The ruby buildpack should now include Node for Webpacker out of the box, so is this necessary at all? Could we just remove the node buildpack recommendation from the docs?

[2021-11-15 01:43] justin808 commented on #3155
I think in the interests of sliming down rails/webpacker, removing the babel dependency is worthwhile as https://swc.rs/ seems to be gaining momentum.

[2021-11-15 05:38] Big-Gray-Al commented on #3207
This was related to following instructions based on webpacker v6
and then running a test app which defaults to v5 to debug and not noticing the discrepancy in documentation on the readme

[2021-11-15 05:38] #3207 closed

[2021-11-15 10:49] andreas-venturini commented on #3212
Technically it's not (at least not right now). However, I would advise against removing for two reasons:
1. with Yarn 2 the Ruby buildpack fails to [prune dev dependencies](https://devcenter.heroku.com/articles/migrating-to-yarn-2#pruning-devdependencies) which will increase the Heroku slug size. This is easy to miss as I imagine not everyone monitors their slug size.
2. the current Ruby buildpack

[2021-11-15 15:47] danielricecodes commented on #2144
I would completely support integrating these changes into Rails.  IMHO, webpacker should work with all asset types out of the gate. Anything less is not "Rails-ey" enough.

[2021-11-15 16:40] #3214 closed

[2021-11-15 20:29] justin808 commented on #3211
@m-abdurrehman try reviewing the upgrade steps again.

You've got duplicate declarations of dependencies, like webpack. I suggest removing those.

You can also file an issue https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/issues if you think there's an issue. Sounds like you have some debugging to do.

Also, it's a good idea to compare what you get when you make

[2021-11-15 20:49] justin808 commented on #3206
@kimyu92, that's the intended behavior. The packs list maps to webpack entry points. You should flatten out your packs to the top-level directory. The new behavior eliminates the problem of subdirectories creating tons of new, unnecessary entry points.

Here is the code change:

https://github.com/rails/webpacker/commit/5de0fbc1e16d3db0c93202fb39f5b4d80582c682#diff-7af8667a3e36201db57c02b68dd86518

[2021-11-15 20:51] justin808 commented on #3183
@pustovalov I think this should be closed. We've got support for CSS with HMR.

For React, here's the configuration for HMR.

https://github.com/rails/webpacker/pull/3224

[2021-11-15 20:55] joshunger commented on #2397
@guillaumebriday `invalid option: --progress` when calling `assets:precompile`. What is the correct command? Thanks!

[2021-11-15 22:17] #3183 closed

[2021-11-15 22:21] guillaumebriday commented on #3206
Thanks @justin808

[2021-11-15 22:21] #3206 closed

[2021-11-15 22:27] guillaumebriday commented on #3215
After a quick Google search, your issue seems to be more related with your TS or babel config I guess right?

Or which version of Webpacker are you using exactly?

[2021-11-15 22:29] guillaumebriday commented on #3202
Could you open a PR with your suggestions please? Thanks 🙏

[2021-11-15 22:29] #3202 closed

[2021-11-15 22:30] guillaumebriday commented on #3153
It's definitively related to the `browserslist` configuration

[2021-11-15 22:30] #3153 closed

[2021-11-15 22:39] guillaumebriday commented on #3219
Angular might have changed some requirements with TS or babel I guess, could you try with angular 12? If it works, we'll have our answer 👍

[2021-11-16 05:59] justin808 commented on #3196
I think it's fine to require a newer Ruby for v6.

[2021-11-16 09:38] guillaumebriday commented on #3196
I'm 💯 in

@newfylox could you open a PR for that?

[2021-11-16 14:01] newfylox commented on #3196
@guillaumebriday Actually I ended up upgrading to Ruby 2.7 because I'm in a rush and won't have time to open a PR.
@justin808 It probably could be a debate about requiring Ruby 2.6, but we should update the documentation in the `master` branch about having Ruby 2.6+ installed

[2021-11-16 14:56] joshunger commented on #2397
@guillaumebriday @vfonic would it be possible to reopen this? Our build system has a hardcoded 10 minute time limit where it kills the build if there is no output. How do we show progress when running `assets:precompile`? Thank you!

[2021-11-16 15:56] pustovalov commented on #3183
@justin808 where was this support added? `stylesheet_pack_tag` still returns `nil`: https://github.com/rails/webpacker/blob/2f4df42c9a4b8d6f9838be0b60c599c8f1c5e363/lib/webpacker/helper.rb#L144

[2021-11-17 09:00] zhuziyi1989 commented on #1189
If you are on Unix then type

`export NODE_OPTIONS=--max-old-space-size=<size in bits>` in the terminal.

If you are on windows then run

`set NODE_OPTIONS=--max-old-space-size=<size in bits>`

[2021-11-17 15:44] jeremybdk opened #3228 "Webpacker 6 and AlpineJS"
Hello,
I'm having a hard time figuring out how to get AlpineJS work with Webpacker 6 latest RC.
Here is my application.js according to the readme and documentation I've seen online

[code]
Am I missing something obvious?

Thanks for your help

[2021-11-17 20:56] jeremybdk commented on #3228
So I was using alpine 3 but all the guide out there are for alpine 2 sorry for the noise.

[2021-11-17 20:56] #3228 closed

[2021-11-17 23:50] karen-sanchez opened #3229 "'sourceMap' causing error in other plugin(s)"
Hello,

I recently opened a [new issue with the css minimizer webpack plugin](https://github.com/webpack-contrib/css-minimizer-webpack-plugin/issues/137) but I was told that this is caused by webpacker and that I should open an issue here instead.

Here is the reply I received from cc-minimizer:

I'll paste my problem below:

### Bug report
The plugin `css-minimizer-webpack-plugin` works in develo

[2021-11-18 06:14] shaneajeffery commented on #3148
I'm on the same bandwagon as @bjufre.  We are needing to upgrade to the latest version of Webpacker because our current version still has a dependency on `node-sass`.  `node-sass` will not compile on the new M1 macs.

Anyways, if anyone has a solve for the `TypeError: Class constructor ServeCommand cannot be invoked without 'new'`, please let us know!

Please note that the above error happens afte

[2021-11-18 06:17] shaneajeffery commented on #3148
@Erowlin If you never figured it out, it turns out that when you prompted install `@webpack-cli/serve`, it doesn't install the parent dependency.  So you have to do `yarn add @webpack-cli` and that solves the issue.

[2021-11-19 10:43] justin808 commented on #3183
It's supposed to return blank if that value is true.

Just setup your webpscker config so that value is false.

[2021-11-19 18:00] shaneajeffery opened #3230 "Upgrade to Webpacker 5.4.3 Issue -- Webpacker doing compilation instead of Webpack Dev Server"
After upgrading to Webpacker 5.4.3 from 5.1.1, we got a bunch of errors when firing any our apps:

[code]

One other thing to note is that Webpacker would go and compile all of the assets by default every time you hit an entrypoint instead of letting the `webpack-dev-server` handle that part.  So, every time we were hitting a new entrypoint in development, Webpacker would go and take 20+ seconds t

[2021-11-19 20:00] justin808 commented on #2112
Hi @shamrt, can you tell us a bit more about your requirements for rails/webpacker with react_on_rails?

@guillaumebriday, maybe I can add a test case for react_on_rails using yarn v2? I could update https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh with yarn v2?

@guillaumebriday it seems odd that rails/webpacker has to worry about very specific flags for yarn. Se

[2021-11-20 00:38] justin808 commented on #3230
@shaneajeffery

1. You can find a working solution of this https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh.
2. I'm got some updates coming to rails/webpacker that will make this seamless.

Related:
* https://github.com/rails/webpacker/pull/3224
* https://github.com/rails/webpacker/pull/3220

@guillaumebriday I recommend that we close this as this will be addresse

[2021-11-20 00:50] justin808 commented on #3229
@guillaumebriday I recommend that we close this as this will be addressed in v6.

It was fixed here:

https://github.com/rails/webpacker/pull/2830/files#diff-a930e3d8169bcd5fc623a99a345b8ec03139f79e9dbf6277b4d1b11a59083b45L41

[2021-11-20 00:58] justin808 commented on #3222
@guillaumebriday this seems to be a doc issue, as rails/webpacker code is just for the simple cases.

[2021-11-20 01:04] justin808 commented on #3219
@SamShekhovtsov can you reproduce this with the latest 6 RC release?

@guillaumebriday I recommend that we close this issue as it sounds like documentation going forward with a lighter rails/webpacker where integrations are separate from the main package.

[2021-11-20 01:39] justin808 commented on #3212
@guillaumebriday I made a small update here: https://github.com/rails/webpacker/pull/3231/files

@andreas-venturini Would be great if you can submit a PR with som add some additional details regarding the duplicate yarn install.

@dwightwatson I think having both the ruby and node buildpacks makes logical sense for Heroku applications using webpack.

[2021-11-20 01:40] justin808 commented on #3211
@guillaumebriday I recommend that we close this issue.

[2021-11-20 02:30] justin808 commented on #3208
@guillaumebriday I took a look at the original change

https://github.com/rails/webpacker/pull/2389/files#diff-7606e0573e7bae475cb0f71eff95e60a350c0df459bd9c992fd030de47c7c64cR27

If the intent of the code is to ALWAYS go to STDOUT, then the changes suggested look fine.

[2021-11-20 03:47] shaneajeffery commented on #3230
@justin808 Thanks for that Justin.  Your solution relies on V6 of Webpacker though, right?  We aren't planning to make that upgrade until you all get to a stable version.

For now though, we have it working with just a downgraded version of `webpack-dev-server` and `@webpack-cli`.

[2021-11-20 11:42] OuttaSpaceTime commented on #3153
@guillaumebriday are you that this issue is closed? it does not seem like a real solution when the support of specific browser has to be dropped completely.

Or is this dropping safe?

[2021-11-22 06:10] m-abdurrehman commented on #3211
@justin808 thanks,
Temporarily, work has been paused. May check later.

[2021-11-22 06:10] #3211 closed

[2021-11-22 14:20] t27duck commented on #3153
It is also possible that the dropping of this line https://github.com/rails/webpacker/pull/3225/files#diff-b2ec4a738b0a348ca8f879ca88a9ae1e9d719564e7eb015b4ebaed1da127f6e6L45 makes Stimulus 3 magically work out of the box now.

[2021-11-22 22:21] kimyu92 commented on #3222
This seems to be related to `resolve-url-loader` instead of webpacker upgrade.

However, for those who encounter issue using resolve-url-loader >= 3 to import images in scss file,

I ended up using [solution](https://github.com/bholloway/resolve-url-loader/issues/105#issuecomment-429322174) here where I create an alias for image directory in webpack `custom.js` and then instead of using relative p

[2021-11-22 22:21] #3222 closed

[2021-11-23 06:52] justin808 commented on #3222
Thanks, @kimyu92! This is a useful tip!

[2021-11-23 10:32] fschwahn commented on #3061
I have a feeling this might be connected to https://github.com/puma/puma-dev/issues/284. I set the following env variables (NOTE: you could also adjust these settings in webpacker.yml):

[code]

After these changes I haven't seen pack files time out, which was happening regularly for me before. But it is possible I'm just having a lucky run. Maybe you can verify this with your repro script?

[2021-11-23 15:29] PhilCoggins commented on #3061
@fschwahn I was actually able to resolve this by upgrading `net/http`. We're running `5bb14fd3bc855b4580973f4361f59f80b37e3b0b` on Ruby 3.0.2 and have not had issues since upgrading. Some very low-level issues were occurring with timeouts.

[2021-11-23 15:29] #3061 closed

[2021-11-23 23:37] guillaumebriday commented on #3219
You're right!

[2021-11-23 23:37] #3219 closed

[2021-11-23 23:41] guillaumebriday commented on #3215
It does not seem related to Webpacker but to Angular 13 Babel and TS compatibility.

Could you try to tweak your configuration?

cf: https://github.com/rails/webpacker/issues/3219

Feel free to reopen if you're sure that is related to Webpacker in any way

[2021-11-23 23:41] #3215 closed

[2021-11-23 23:42] #3230 closed

[2021-11-23 23:46] guillaumebriday commented on #3212
Great! I'm pretty sure we can close this issue right?

[2021-11-23 23:49] #3208 closed

[2021-11-23 23:53] #3229 closed

[2021-11-23 23:56] justin808 commented on #3212
@guillaumebriday, yes, I think so. In the future, somebody can open up a more specific issue with a problem and maybe a proposed solution.

While I think it's suboptimal for yarn to run twice with Heroku, it runs quite fast the second time, so it's not a huge issue.

[2021-11-24 09:10] #3212 closed

[2021-11-24 11:24] bablu-cs commented on #348
Hi, I'm trying to implement stripe using engine but can able access in the engine could you please help with this.
![image](https://user-images.githubusercontent.com/88824798/143229436-4ae934ae-840f-473b-aff8-d148c74f9037.png)

[2021-11-24 21:25] brendon commented on #348
@bablu-cs, you'd be better asking on StackOverflow. This error isn't related to the issue we're talking about here as it's not related to `webpacker`. For some reason the root `Stripe` class isn't available to you so your application is trying to find it within your engine controller namespace. You could try using `::Stripe` or make sure you're requiring the stripe code before trying to use it.

[2021-11-25 05:27] TruePath opened #3235 "webpacker breaks on node17 with Error: error:0308010C:digital envelope routines::unsupported"
On node 17 running bin/webpack gives me the error "Error: error:0308010C:digital envelope routines::unsupported"  when running webpacker 5.4.3

This is discussed in the webpack issues [here](https://github.com/webpack/webpack/issues/14532) which seems to indicate that it's fixed in the very latest version but that might only be for version 5 of webpack.

[2021-11-25 12:45] erosinlove opened #3236 "SyntaxError: Invalid regular expression: /^(https?://)?((([a-zd]([a-zd-]*[a-zd])*).)+[a-z]{2,}|((d{1,3}.){3}d{1,3}))(:d+)?(/[-a-zd%_.~+]*)*(?[&a-zd%_.~+=-]*)?(#[-a-zd_]*)?$/: Invalid group"
I installed **gem 'webpacker', '>= 6.0.0.rc.6'** and after compiled assets with this command **rbenv exec bundle exec rake assets:clean assets:precompile** I got the error as below

 **Compiled all packs** in /Users/xx/xxx/public/packs
**SyntaxError:** Invalid regular expression: /^(https?://)?((([a-zd]([a-zd-]*[a-zd])*).)+[a-z]{2,}|((d{1,3}.){3}d{1,3}))(:d+)?(/[-a-zd%_.~+]*)*(?[&a-zd%_.~+=-]*)?(#

[2021-11-26 02:49] dasaradreddyk commented on #3157
RAILS_ENV=staging 'bin/webpack'
RAILS_ENV=staging rails restart
 will fix and can get new js files. Is there any way to watch and compile using webpacker in production or staging.

[2021-11-26 22:50] justin808 opened #3237 "Change name of bin/webpack to bin/webpacker (and bin/webpack-dev-server to bin/webpacker-dev-server)"
A source of confusion has always been using `bin/webpack` and `bin/webpack-dev-server` to call the respective node modules of `webpack` and `webpack-dev-server`.

It's confusing to many to **override** those, *especially* to devs new to rails/webpacker.

It would be much more clear to call these `bin/webpacker` and `bin/webpacker-dev-server`. (with the `webpacker` in the name).

The v6 release is

[2021-11-28 02:00] shaneajeffery opened #3238 "Ignore minifying one particular directory?"
We are using Webpacker v5 and are needing to exclude one directory from being minified during precompile of the assets.

How do you do this?  I know how you do this with Webpack on its own, but I'm not sure how to get to those options under Webpacker.

Thanks in advance for any guidance.

[2021-11-28 09:03] justin808 commented on #3238
@shaneajeffery The easiest way is to use webpack-merge and merge in your changes. Or just modify the config object(s).

Check out my customizations in this directory: https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/tree/master/config/webpack

[2021-11-28 09:03] #3238 closed

[2021-11-28 09:04] justin808 commented on #3237
@guillaumebriday do you like this idea?

[2021-11-28 09:07] justin808 commented on #3236
@erosinlove can you provide reproduction steps on a public repo?

[2021-11-28 09:08] justin808 commented on #3235
can you upgrade to v6.rc6?

[2021-11-28 09:10] justin808 commented on #3200
This seems reasonable.

@saltvedt would you like to submit a PR on this?

CC: @guillaumebriday

[2021-11-28 11:25] erosinlove commented on #3236
@justin808 I just updated the version from **5.4.3** to **6.0.0-rc.6**
then run **bundle**
after that compile the assets **rbenv exec bundle exec rake assets:clean assets:precompile**
and got the error

[2021-11-28 19:55] justin808 commented on #3236
I'm pretty sure this is related to some inconsistent package versions or another upgrade issue.

Are you sure that you followed all the steps in https://github.com/rails/webpacker/blob/master/docs/v6_upgrade.md ?

[2021-11-28 19:55] #3236 closed

[2021-11-28 19:56] justin808 commented on #3235
@TruePath I recommend that you don't upgrade to Node 17 yet, and upgrade to webpacker v6 soon.

[2021-11-28 19:56] #3235 closed

[2021-11-28 19:59] TruePath commented on #3235
Thanks.  I mean I have a workaround but I was just trying to be helpful.

And yes, it seems to work fine on rc6 so yah looks like you already got it.

On Sun, Nov 28, 2021 at 2:57 PM Justin Gordon ***@***.***>
wrote:

[2021-11-28 20:00] justin808 commented on #3196
@guillaumebriday we have required 2.7 for 3 months now.

[code]

https://github.com/rails/webpacker/blame/master/webpacker.gemspec#L18

[2021-11-28 20:00] #3196 closed

[2021-11-28 20:09] justin808 commented on #3200
Here's the documentation.

https://github.com/rack/rack/blob/master/lib/rack/server.rb#L184-L190

[code]

[code]

[2021-11-29 14:29] erosinlove commented on #3236
@justin808  Yes, I followed all steps
below are all errors from my application

Compiled all packs in /Users/xx/xxx/public/packs
SyntaxError: Invalid regular expression: /^(https?://)?((([a-zd]([a-zd-]*[a-zd])*).)+[a-z]{2,}|((d{1,3}.){3}d{1,3}))(:d+)?(/[-a-zd%_.~+]*)*(?[&a-zd%_.~+=-]*)?(#[-a-zd_]*)?$/: Invalid group
    at new RegExp (<anonymous>)
    at /Users/xx/xxx/node_modules/webpack/lib/java

[2021-11-29 17:46] matheusbsilva commented on #2533
I'm facing the same issue, any update on this?

[2021-11-29 22:55] justin808 commented on #3236
If you can create a reproduction case on Github, I'll investigate this!

[2021-11-30 14:47] newfylox commented on #3196
@justin808 I was talking about the `README.md`

https://github.com/rails/webpacker/blame/65c799fe760ac602f4de6375c40b96ccc24e97ed/README.md#L55

But yeah, no problem, I updated to 2.7

[2021-12-02 06:14] a3626a commented on #2825
If you are using node 17, try to downgrade to 16

[2021-12-03 21:47] #3200 closed

[2021-12-05 17:58] development-amold commented on #2424
Quick Fix:
Root Cause: As far as I understood, during the deployment process, it's looking the Node version in this directory `/bin/node` and it ignores the NVM node version from this directory `~/.nvm/` as well as engine version written in `package.json` file.

Solution: Need to upgrade version located in `bin` directory
`sudo npm cache clean -f`   // Clean cache
`sudo npm install -g n`    // ins

[2021-12-05 23:25] justin808 commented on #2876
@grncdr, please justify why this is a real security issue.

[2021-12-06 07:30] hishammalik commented on #2956
Ran into the same problem.

[2021-12-06 10:45] jdelStrother commented on #2876
I'm surprised it needs justifying. If Rails generated public/controllers.txt with a list of all the controllers used in the app, wouldn't that be considered a security issue?

[2021-12-06 12:44] grncdr commented on #2876
Disclaimer: I monkey-patched Webpacker in my codebase before opening this issue, and plan to be migrate away from it in the future, so I personally don't care if webpacker ever does anything about this.

---

I work on a monolith with three different frontends, that all interact with the same underlying domain. By merging all pack manifests into a single publically accessible file, any user of mor

[2021-12-16 19:22] zedtux commented on #3148
Actually it's `yarn add webpack-cli` and it solves the error.

[2021-12-16 19:38] zedtux commented on #2854
So, I tried @LeBenLeBen [solution](https://github.com/rails/webpacker/issues/2854#issuecomment-753467279) but I'm facing the following error:

[code]

I also tried @arusa [solution](https://github.com/rails/webpacker/issues/2854#issuecomment-782825747) but it fails with:

[code]

Is there anything else to try?

[2021-12-17 08:44] justin808 commented on #3237
@dhh any opinion on this one?

[2021-12-17 08:45] justin808 commented on #3157
Really doesn't make sense. You should update your deployment scripts.

[2021-12-17 08:45] #3157 closed

[2021-12-17 08:47] justin808 commented on #3155
@vladimirtemnikov you should be able to customize the packages and the webpack config, including the babel config. What's the issue?

That's not really true. rails/webpacker provides a template webpack config object that you can modify with webpack-merge.

[2021-12-17 08:49] justin808 commented on #3148
I think the v6 release should address your issues.

[2021-12-17 08:49] #3148 closed

[2021-12-17 08:50] #3124 closed

[2021-12-17 08:52] justin808 commented on #3102
Thanks for the feedback. Please try out the new release.

[2021-12-17 08:52] #3102 closed

[2021-12-17 08:53] guillaumebriday commented on #3237
I like the idea! Because too much people are confused 👍

[2021-12-17 08:56] #3063 closed

[2021-12-17 08:59] justin808 commented on #3009
I"m very surprised. Can you try with the latest RC?

[2021-12-17 09:01] justin808 commented on #3001
@agrobbin any info?

[2021-12-17 09:04] justin808 commented on #2951
Please check the latest docs and reopen if you think this issue is still relevant.

[2021-12-17 09:04] #2951 closed

[2021-12-17 09:05] #2939 closed

[2021-12-17 09:07] #2941 closed

[2021-12-17 09:10] justin808 commented on #2913
The clean code was updated 4 months ago https://github.com/rails/webpacker/pull/2863.

@jamesarosen @dkniffin @tsrivishnu Can you check if there is still an issue, and if so, please open a PR.

[2021-12-17 09:11] zedtux commented on #3148
okay, but version 6 is in rc so right now there's no solution, right?

[2021-12-17 09:11] #2909 closed

[2021-12-17 09:12] #2876 closed

[2021-12-17 09:16] justin808 commented on #2854
Seems like you have to update some dependencies.

WEBPACK_DEV_SERVER changed to WEBPACK_DEV_SERVE

[2021-12-17 09:16] justin808 commented on #2835
Please reopen if relevant with the latest updates. Consider submitting a doc PR.

[2021-12-17 09:16] #2835 closed

[2021-12-17 09:18] #2812 closed

[2021-12-17 09:19] justin808 commented on #2808
Please open a doc PR if you're confident.

[2021-12-17 09:20] #2779 closed

[2021-12-17 09:21] #2767 closed

[2021-12-17 09:22] #2794 closed

[2021-12-17 09:22] justin808 commented on #2803
Please reopen if still an issue with latest updates.

[2021-12-17 09:22] #2803 closed

[2021-12-17 09:23] justin808 commented on #2787
I think TS is already supported.

[2021-12-17 09:24] justin808 commented on #2787
Feel free to submit a PR so we can see what this would look like.

[2021-12-17 09:25] justin808 commented on #2750
No more generators for this sort of thing.

[2021-12-17 09:25] #2750 closed

[2021-12-17 09:34] justin808 commented on #2854
You're definitely missing something, or if you find something, please update the upgrade doc.

[2021-12-17 09:34] #2854 closed

[2021-12-17 09:35] justin808 commented on #3148
Very soon!

[2021-12-17 09:35] zedtux commented on #2854
I see, so I guess that means I should wait for the version 6 to be stable. Thanks ..

[2021-12-17 17:51] jamesarosen commented on #2913
#2863 seems to only be available on the 6.0 RCs.

Testing:

1. Upgrade to `webpacker@6.0.0.rc.6`
1. Run `rake assets:precompile`. This generates files like `public/assets/js/50-d41979c3aacbb678aa8d.chunk.js`. Those numbered files still don't appear in `public/assets/manifest.json`.
2. Run `rake assets:clean`. This does nothing because `count=2, age=3600` and the files are only a few seconds old.
3

[2021-12-18 19:22] jasonfb commented on #1374
try
[code]
https://stackoverflow.com/questions/50078826/rubymine-and-yarn/70406395#70406395

[2021-12-20 11:16] joker-777 commented on #3009
Sorry, I forgot completely that I created this ticket. We found the reason for this problem. We forgot to add `- .scss` to the extensions configuration of `webpacker.yml`.

[2021-12-20 11:16] #3009 closed

[2021-12-20 21:41] justin808 commented on #2913
@jamesarosen Thank you so much for your thorough test!

Is your conclusion that there is still is the bug?

I'm personally **not interested** in working on this code since my deploys are all on Heroku, where the slug (a compressed file system for a deployment) is built from scratch each time.

In fact, I'd love to see an ENV variable to opt-out of the clean rather than having to modify the rake ta

[2021-12-20 21:42] justin808 commented on #2913
@dhh @guillaumebriday While this is a bug, I don't think it's worth holding up the v6 release for this.

[2021-12-21 00:44] jamesarosen commented on #2913
I think so, yes.

Interestingly, ours are also on Heroku. We use [this addon](https://elements.heroku.com/buildpacks/epihubinc/heroku-buildpack-cachesave) to cache compiled assets, so we're not starting from a truly blank slate for each deploy.  Before we implemented a workaround (posted above), our slug would grow without bound until the build failed, at which point we would clean up old assets a

[2021-12-21 01:04] justin808 commented on #2913
@jamesarosen I'd rather use S3 for caching between builds. Caching bundles is something that [React on Rails Pro](https://www.shakacode.com/react-on-rails-pro/) does. Yes, I wrote much of that.

[2021-12-21 23:48] tanaylakhani commented on #2275
For anyone interested. It looks like this happens when you run `bin/webpack` instead of `rails assets:precompile` to compile react assets. When you run `bin/webpack` it appears asset_host value is not considered. You can fix it by adding environment variable `WEBPACKER_ASSET_HOST` explicitly to your configuration.

[2021-12-22 03:12] katorres02 opened #3246 "Replace the error message 'Node.js not installed' when 'which_command' is not installed"
I have a custom Centos docker image with a ruby on rails project setup. I was getting the following error during the precompile task.

`bundle exec rails assets:precompile`

this is the error output:
[code]

The final message indicates that **Node.js** is not installed which is incorrect. Node is already installed and working, the problem here is my Centos image doesn't have the "**which**" comman

[2021-12-22 22:58] justin808 commented on #3246
@katorres02 could you test out using `type` rather than `which` in your PR?

[2021-12-22 23:25] justin808 commented on #2648
@clemens I agree. The digest needs to account for files like package.json, if it doesn't right. now.

However, maybe a better approach to use timestamps? React on Rails has used that for years. If any file, such as package.json, has a newer timestamp than the manifest.json timestamp, then a rebuild is necessary.

https://github.com/shakacode/react_on_rails/blob/master/lib/react_on_rails/test_helpe

[2021-12-22 23:26] justin808 commented on #3077
Is this still an issue with v6?

[2021-12-22 23:27] justin808 commented on #2806
Given that rails/webpacker will not be maintaining framework support, I'm closing this issue.

CC: @guillaumebriday

[2021-12-22 23:27] #2806 closed

[2021-12-22 23:29] justin808 commented on #2801
Does anybody have a PR to address this issue?

[2021-12-22 23:39] justin808 commented on #2775
I think this is really a documentation issue.

I added a PR to address that: https://github.com/rails/webpacker/pull/3247.

[2021-12-22 23:39] #2775 closed

[2021-12-22 23:41] #2688 closed

[2021-12-22 23:41] #1474 closed

[2021-12-22 23:42] justin808 commented on #2658
Let's reopen if needed for 6.0.

[2021-12-22 23:42] #2658 closed

[2021-12-22 23:47] justin808 commented on #2373
The default is

https://github.com/rails/webpacker/blob/67a94fbdfcc97c77cdf8f4cee28f04840b9dabc1/lib/install/config/webpacker.yml#L8

Since this is configurable, I don't think we have an issue, other than one can have a conflict with the file system cache configuration and the webpacker cache configuration.

[2021-12-22 23:47] #2373 closed

[2021-12-22 23:47] #1534 closed

[2021-12-22 23:49] justin808 commented on #2791
Symlinks are problematic in general.

@mattlong Did you resolve the issue?

Should this issue be reopened?

[2021-12-22 23:49] #2791 closed

[2021-12-22 23:50] justin808 commented on #2578
Hopefully resolved with v6.

[2021-12-22 23:50] #2578 closed

[2021-12-22 23:52] justin808 commented on #2471
Has anybody tried with v6?

[2021-12-22 23:54] justin808 commented on #323
@cirdes @gsar any update? is this still an issue for v6?

[2021-12-22 23:55] justin808 commented on #2627
I think interactions between React and Turbolinks are out of the scope of rails/webpacker.

[2021-12-22 23:55] #2627 closed

[2021-12-22 23:58] justin808 commented on #2640
Fixed in #2650

[2021-12-22 23:58] #2640 closed

[2021-12-23 00:00] justin808 commented on #2237
@catmando you can modify the `assets:precompile` rake task on your own, so this might be more of a doc issue.

If you want to add a PR for your proposed enhancement, I'll take a look.

[2021-12-23 00:00] #2237 closed

[2021-12-23 00:02] justin808 commented on #2736
We've got some other issues that concern this.

that's normal.

Please reopen if you have more details.

[2021-12-23 00:02] #2736 closed

[2021-12-23 00:05] justin808 commented on #2747
Already fixed in v6.

[2021-12-23 00:05] #2747 closed

[2021-12-23 00:06] justin808 commented on #1900
Is this an issue on v6?

[2021-12-23 00:07] justin808 commented on #2714
fixed by removing this https://github.com/rails/webpacker/blob/63f59de51f7f558fca0b69bbb3f7413ca552067c/lib/webpacker/configuration.rb#L58

[2021-12-23 00:07] #2714 closed

[2021-12-23 00:08] #2352 closed

[2021-12-23 00:11] justin808 commented on #2637
Check the latest docs on HMR in the repo.

[2021-12-23 00:11] #2637 closed

[2021-12-23 00:12] justin808 commented on #2635
Please try again with the latest dependencies and reopen if you like.

[2021-12-23 00:12] #2635 closed

[2021-12-23 00:13] justin808 commented on #2632
Can you just hit refresh?

[2021-12-23 00:13] #2632 closed

[2021-12-23 00:13] justin808 commented on #2617
Please try again with v6.

[2021-12-23 00:13] #2617 closed

[2021-12-23 00:14] justin808 commented on #2588
We have some more descriptive issues around what you're seeing.

[2021-12-23 00:14] #2588 closed

[2021-12-23 00:15] justin808 commented on #2514
If you really want simple, then Rails 7 has non-webpack support for JS.

[2021-12-23 00:15] #2514 closed

[2021-12-23 00:17] justin808 commented on #2049
Let's reopen i an issue with v6.

[2021-12-23 00:17] #2049 closed

[2021-12-23 00:19] justin808 commented on #2435
I don't understand what you are trying to accomplish, or maybe the why of what you're doing, that would suggest changing rails/webpacker.

[2021-12-23 00:19] #2435 closed

[2021-12-23 00:20] justin808 commented on #1615
Can't do since the yaml file is used by JS code.

[2021-12-23 00:20] #1615 closed

[2021-12-23 00:21] justin808 commented on #2570
@dmolesUC please submit a PR if you want to improve the error messages.

[2021-12-23 00:21] #2570 closed

[2021-12-23 00:22] justin808 commented on #2410
@tf can you please submit a doc PR if you feel this applies to v6.

[2021-12-23 00:22] #2410 closed

[2021-12-23 00:23] justin808 commented on #2363
Vue is no longer supported within rails/webpacker.

[2021-12-23 00:23] #2363 closed

[2021-12-23 00:24] justin808 commented on #2358
This is more of a webpack question than a rails/webpacker issue.

[2021-12-23 00:24] #2358 closed

[2021-12-23 00:25] justin808 commented on #2347
https://github.com/rails/webpacker/blob/master/lib/webpacker/commands.rb doesn't show this as an issue.

[2021-12-23 00:25] #2347 closed

[2021-12-23 00:26] justin808 commented on #2289
Closing because stale.

[2021-12-23 00:26] #2289 closed

[2021-12-23 00:27] justin808 commented on #2132
Closing because stale.

[2021-12-23 00:27] #2132 closed

[2021-12-23 00:27] justin808 commented on #1752
Closing because stale.

[2021-12-23 00:27] #1752 closed

[2021-12-23 00:29] justin808 commented on #1207
I'm pretty sure this is addressed in Rails 7 and the new default direction of JS within Rails.

[2021-12-23 00:29] #1207 closed

[2021-12-23 00:30] justin808 commented on #1491
This is beyond the scope of rails/webpacker. FWIW, bundle caching is a feature of [React on Rails Pro](https://www.shakacode.com/react-on-rails-pro/).

[2021-12-23 00:30] #1491 closed

[2021-12-23 00:30] justin808 commented on #1900
Please reopen if still an issue.

[2021-12-23 00:30] #1900 closed

[2021-12-25 13:48] Tolsee opened #3248 "Cache does not care about dependent environment variables"
## Problem statement
When we use environment variables like:
[code]

Builds with these commands are actually different.
[code]

[code]

But, right now webpacker will say "Everything's up-to-date. Nothing to do"

## Possible solution
When calculating digest, add dependent environment variables as well.
https://github.com/rails/webpacker/blob/275fbb56e6b0c837ae4b214a276891558147d861/lib/webpacker/co

[2021-12-27 08:27] apuntovanini commented on #3237
Like the idea as well!

[2021-12-27 16:26] guillaumebriday commented on #3237
@justin808 Could you open a PR for that? With a note in the upgrade guide?

[2021-12-27 20:00] justin808 commented on #3237
I'm on it! I didn't want to start until we had consensus.

[2021-12-29 23:06] justin808 commented on #3248
Caching of the bundle creation (i.e., determining if we need to re-run bin/webpack) should really be moved outside of the main development flow, and there should be a way to add additional values to the cache key.

@Tolsee another option could be to have your deployment dirs based a different Rails ENV for production and production_staging, and then configure that in webpacker.yml.

[2021-12-29 23:49] justin808 commented on #3237
@guillaumebriday Done! #3252

[2021-12-31 08:12] erosinlove commented on #3236
Hi @justin808
     I found that my error is `const componentRequireContext = require.context("components", true);`

  from
[code]

Do you have any advice on how to load all components under `app/javascript/components/*.js`

[2022-01-03 02:38] rilwansmith commented on #2825
Downgrading my Nodejs 17.3.0 to Nodejs 16.13.1 LTS for my ruby on rails project worked for me.

[2022-01-03 09:01] spaghetticode commented on #2338
@justin808 I've seen this is closed now, can you confirm this is not an issue anymore?

[2022-01-03 19:31] justin808 commented on #2338
@spaghetticode Definitely, I have not confirmed. However, the code changed significantly since you last posted this issue.

Can you take a look and confirm?

[2022-01-03 20:47] julian-fullcrum opened #3253 "css-loader error Unclosed string in sass files with quotes"
### Problem Statement

css-loader as part of the default webpacker configuration is not able to interpret quotes in scss files, for example If any of my scss files contains a single (') or double (") quote, webpack throws an `Unclosed string` Error.

If I try to import a .scss file with this instruction
[code]
or declarate a new font-family variable (with quotes):
[code]
`webpacker:compile` throws

[2022-01-04 07:08] NehaPeer opened #3254 "deployment failed at assets:precompile using capistrano gem"
Hello

We are using ruby 2.7.3 and Rails 6.1.3.2 while deploying the application using Capistrano gem it throws below error -

INFO [4158d929] Running ~/.rvm/bin/rvm ruby-2.7.3@app-6 do bundle exec rake assets:precompile on carbonite
 DEBUG [4158d929] Command: cd /export/app/app_production/releases/20220103125501 && ( export RAILS_ENV="production" RAILS_GROUPS="" ; ~/.rvm/bin/rvm ruby-2.7.3@app-6

[2022-01-04 08:11] guillaumebriday commented on #3254
Did you setup your PATH correctly?

[2022-01-04 08:18] NehaPeer commented on #3254
Which PATH variable on server or development device?

How to set that PATH variable?

[2022-01-04 11:21] frullah commented on #3254
Hello, you can add directory of `yarn` executable into `:default_env` config in `config/deploy.rb` file.
e.g:
[code]

You can read the docs [here](https://capistranorb.com/documentation/getting-started/configuration/#:~:text=the%20exact%20directories.-,%3Adefault_env,-default%3A%20%7B%7D)

[2022-01-04 11:43] NehaPeer commented on #3254
Hello,

On our deployment device, we have a yarn path as per below so we have added it into config/deploy.rb

# Deployment device -

which yarn
/export/app/.nvm/versions/node/v14.18.2/bin/yarn

# Development device -
config/deploy.rb

set :default_env, {
        PATH: '$HOME/.nvm/versions/node/v14.18.2/bin/:$PATH'
}

but it throws the same error -

DEBUG [d123fc23]       bash: line 1: 456266 Abort

[2022-01-04 12:23] frullah commented on #3254
I think the problem comes from `sassc` gem, i found the same error in https://github.com/sass/sassc-ruby/issues/197.

I found the workaround at https://github.com/sass/sassc-ruby/issues/197#issuecomment-735359755 by adding the code below into `config/initializers/assets.rb`
[code]

[2022-01-04 13:29] NehaPeer commented on #3254
@frullah Thank you so much above solution is work for me.

[2022-01-04 14:21] frullah commented on #3254
@NehaPeer It was my pleasure :)

[2022-01-04 23:17] #3254 closed

[2022-01-04 23:22] justin808 commented on #3253
@julian-fullcrum this does not smell like a rails/webpacker issue. Are you on the latest master? If not, first try that.

Next...

https://github.com/rails/webpacker/blob/master/package/rules/sass.js#L3-L16

and

https://github.com/rails/webpacker/blob/master/package/utils/get_style_rule.js#L2-L37

Have all the configuration for sass.

Can you try to customize the sass setting and debug what's cau

[2022-01-04 23:23] justin808 commented on #3253
@julian-fullcrum let's reopen if you find that this issue is caused by rails/webpacker.

[2022-01-04 23:23] #3253 closed

[2022-01-06 11:12] #3237 closed

[2022-01-06 21:47] alexvbush opened #3255 "Webpacker 6 Disable Babel"
How can I disable babel transpiling? I have a typescript application where I'm targeting newer browsers and don't need all the legacy browsers support.

[2022-01-06 21:53] alexvbush commented on #3155
@justin808 so how would I remove babel from my project? related to https://github.com/rails/webpacker/issues/3255

[2022-01-06 22:46] justin808 commented on #3155
@alexvbush you have 2 options for the webpack part:

1. Setup your own webpack configuration.
1. Provide a PR that makes babel an optional dependency

At the end of the day, you're having webpack run to produce a manifest and result files in the right spot, per webpacker.yml.

You can have webpack invoked either by:

1. replace the contents of bin/webpack with your own bash or ruby script
2. chang

[2022-01-06 22:49] justin808 commented on #3255
This should be configured with the babel.config.js.

Here's an example of how you can override the default setting. You can also create your own, fresh settings:

* https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh/blob/master/babel.config.js

Closing in favor of #3155

[2022-01-06 22:49] #3255 closed

[2022-01-06 23:40] justin808 commented on #2930
@frullah Any progress toward solving this issue?

[2022-01-07 09:25] giedriusr commented on #1285
What worked for me (harmony: true) wasn't enough, but with compress option it passed:

[code]

[2022-01-07 11:25] frullah commented on #2930
@justin808 i solved it by removing all related `relative_url_root` config, and changing a little bit web server configuration for Rails app.

Here are the full steps
1. adding a new IP address to the server
2. creating a new server block in NGINX web server that listening on the new IP address
3. moving all web server configuration for Rails app into the new server block (previously it was combine

[2022-01-07 11:25] #2930 closed

[2022-01-09 13:31] karimelghazouly opened #3256 "Webpacker compilation takes more than 1.5 hours"
Currently we have tens or maybe hundreds of react components served from our rails app and we using capistrano for deployments.
we use for sure webpacker for assets compilation and right now this process is really painful as it it takes more than 1.5 hours on a high end machine.

I understand that this is because of the nature of our product, but webpacker right now compiles ALL the assets when th

[2022-01-09 13:46] rossta commented on #3256
What version of Webpacker and Rails?

What is your JS directory structure?

[2022-01-09 14:22] karimelghazouly commented on #3256
webpacker (4.3.0)
rails (6.0.3.5)

[code]

webpacker.yaml
[code]

inside packs we have this piece of code
[code]
xxxconfig.js
[code]

Is that clear ?
@rossta

[2022-01-09 19:15] ahmedAdel202090 commented on #3256
+1 Same Problem

[2022-01-10 03:41] rossta commented on #3256
Hard to say what’s going on with limited info.
If your build is taking 1.5hrs then some is either wrong or ill-matched with the setup or you have have thousands of source files (do you?)

Generally for slow builds, I’d add the following:

One suggestion is to upgrade Webpacker as it does look like you’re behind a few versions with v6 about to release.

You didn’t show what’s in your packs director

[2022-01-10 13:49] karimelghazouly commented on #3256
@rossta
Our packs folder has 5 js files, I included in my last comment the main file that has include most of the files.
I tried upgrading my webpacker before and didn't work.
and yes we have huge amount of assets, I would say maybe almost a thousand.

My main question is about how caching work, does it check if all assets are the same or it checks only modified/deleted/new files ?
as far as I see

[2022-01-10 20:10] jro31 commented on #512
Fixed it for me as well

[2022-01-10 20:24] justin808 commented on #3256
@karimelghazouly, first, can you try updating to the latest RC release?

Next, is your issue only with production or development as well.

You should be using hot-reloading with webpack for development work, per this example: https://github.com/shakacode/react_on_rails_tutorial_with_ssr_and_hmr_fast_refresh.

For production, very old versions of webpack and Node would clearly hurt.

Caching? There

[2022-01-10 20:29] justin808 commented on #3256
Please open this as a discussion here: https://discuss.rubyonrails.org/c/webpacker/10

[2022-01-10 20:29] #3256 closed

[2022-01-10 20:29] justin808 commented on #3256
We're saving issues for bug reports and features.

[2022-01-10 21:04] justin808 commented on #3248
Consider not having automatic compilation for production/staging. You should have a build script.

[2022-01-10 21:04] #3248 closed

[2022-01-11 20:30] brandoncc opened #3258 "How do I allow a package in node_modules to be processed by babel?"
Hello,

I [posted in the webpacker forum](https://discuss.rubyonrails.org/t/is-rules-babel-js-used-how-do-i-override-the-exclude-value/79749) but I haven't gotten any responses, so I am trying here (I realize that it has been asked for us to use the forum, but I really need an answer, sorry).

I need to process one package with babel. The docs talk about a node_modules loader, but it isn't present

[2022-01-11 23:11] #3258 closed

[2022-01-12 18:56] karimelghazouly commented on #3256
@justin808 we are using hot reloading for development, my main issue is in production where we need a precompilation.
I think webpack support such behavior using caching as mentioned here
https://webpack.js.org/configuration/cache/

[2022-01-12 19:00] karimelghazouly commented on #3256
@justin808 I believe this is an issue, as this behavior is not really efficient, recompilation of everything is a total waste of resources.

[2022-01-12 19:49] justin808 commented on #3256
We have caching turned on. Once you identify this issue still occurs in using the current RC version, I'll reopen the issue.

[2022-01-13 10:32] jscheid commented on #323
A word of caution: if all you do is to set the `integrity` and `crossOrigin` attributes on top-level assets, as the monkey patch above does, any code [loaded dynamically](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#dynamic_imports) will be unprotected. You really want use a plugin such as  webpack-subresource-integrity unless you're certain that your JS code

[2022-01-14 15:14] michaelbaudino commented on #2859
I went with mostly the same workaround as @Intrepidd's, but with:
* a slightly shorter syntax :golf: :golfing:
* dynamic `source_path` (it requires to import `config` from `@rails/webpacker`, though, but is probably less error-prone)
* `'static'` as output prefix, rather than `'media'` (to keep subdirectories structure but still comply with new naming convention)

Here it is:

[code]

[2022-01-14 15:14] michaelbaudino commented on #2859
Maintainers: any plan to change those defaults before v6 release?

Or do we want to keep flattening the `app/packs/images/` file hierarchy on purpose?

Does the current behaviour (flattening) provide any advantage?

[2022-01-14 17:51] nanaya commented on #2601
I haven't dug deeper but the maintainer seems to be back.

[2022-01-14 23:24] justin808 opened #3261 "Remove addition of node_modules to Rails.application.config.assets.paths"
This change added to v6 is probably no longer necessary. Instead, we can probably document why one would do this.

https://github.com/rails/webpacker/commit/47b1e0662aed1649110ab25f3f178da588ddf670

[code]

[2022-01-17 09:40] justin808 opened #3262 "V6 Status"
In case you didn't see it in the README, check out:

https://discuss.rubyonrails.org/t/shipping-webpacker-v6-status/79683.

There will _probably_ not be any official "rails" release of v6.

We will list alternative forks including:

* https://github.com/shakacode/webpackr (https://rubygems.org/gems/webpackr, https://www.npmjs.com/package/@shakacode/webpackr)

[2022-01-17 09:53] filipkis commented on #3262
Hi @justin808

I don't see in this discussion anywhere mentioning that there will be no official release. The only thing I see is that it won't be default for rails anymore.

Second, is the fork in agreement with rails guys. If so, could this original repository point out that it's deprecated and that new stuff is gonna be on your "official" fork. Otherwise, I don't see the reason why not just kee

[2022-01-17 10:33] justin808 commented on #3262
Hi @filipkis, let's see what @dhh and @rafaelfranca say.

I'd be happy to adopt the repo.

Either way is OK with me.

I've got many example projects waiting to get updated:

* https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/package.json#L11
* https://github.com/shakacode/react-on-webpacker/blob/main/package.json#L23
* https://github.com/shakacode/react-webpack-rails-tutorial/pul

[2022-01-18 11:26] aried3r commented on #2801
There's also https://github.com/ruby/ruby/pull/3990 which switched it back to a warning, but I'm also seeing the exception with Ruby 3.0.3. See also https://bugs.ruby-lang.org/issues/15661#note-15.

@justin808, isn't your own PR perhaps a fix for this? https://github.com/rails/webpacker/pull/3233

[2022-01-18 23:26] justin808 commented on #3262
Credit goes to @dhh for the fork name:

* https://github.com/shakacode/shakapacker
* https://rubygems.org/gems/shakapacker
* https://www.npmjs.com/package/@shakacode/shakapacker

[2022-01-19 12:31] #2649 closed

[2022-01-19 12:31] #2663 closed

[2022-01-19 12:31] #2673 closed

[2022-01-19 12:31] #2732 closed

[2022-01-19 12:31] #2742 closed

[2022-01-19 12:31] #2787 closed

[2022-01-19 12:31] #2801 closed

[2022-01-19 12:31] #2808 closed

[2022-01-19 12:31] #2814 closed

[2022-01-19 12:31] #2859 closed

[2022-01-19 12:31] #2860 closed

[2022-01-19 12:31] #2893 closed

[2022-01-19 12:31] #2913 closed

[2022-01-19 12:31] #2926 closed

[2022-01-19 12:31] #2946 closed

[2022-01-19 12:31] #2956 closed

[2022-01-19 12:31] #3001 closed

[2022-01-19 12:31] #3022 closed

[2022-01-19 12:31] #3064 closed

[2022-01-19 12:31] #3077 closed

[2022-01-19 12:31] #3143 closed

[2022-01-19 12:31] #3155 closed

[2022-01-19 12:31] #3246 closed

[2022-01-19 12:31] #3261 closed

[2022-01-19 12:31] #3262 closed

[2022-01-19 12:31] #2003 closed

[2022-01-19 12:31] #2112 closed

[2022-01-19 12:31] #2144 closed

[2022-01-19 12:31] #2146 closed

[2022-01-19 12:31] #2269 closed

[2022-01-19 12:31] #2304 closed

[2022-01-19 12:31] #2338 closed

[2022-01-19 12:31] #2354 closed

[2022-01-19 12:31] #2427 closed

[2022-01-19 12:31] #2462 closed

[2022-01-19 12:31] #2466 closed

[2022-01-19 12:31] #2471 closed

[2022-01-19 12:31] #2473 closed

[2022-01-19 12:31] #2601 closed

[2022-01-19 12:31] #2648 closed

[2022-01-19 12:31] #323 closed

[2022-01-19 12:31] #348 closed

[2022-01-19 12:31] #1930 closed

[2022-01-19 14:01] clemens commented on #2648
@justin808 Sorry for the delayed response. Judging from the code you've linked, this would result in exactly the same issue: If compilation fails due to something that's related to the overall environment (not the content of files), then changing the environment to fix it without touching any files would not change the modification time (that's used by `find_most_recent_mtime`) and thus not result

[2022-01-19 18:43] kylebolton commented on #1879
For anyone having CI issues/packs-tests issues, I had to wrap the above code in a condition so RSpec didn't complain.

`process.env.NODE_ENV = process.env.NODE_ENV || 'development'

const environment = require('./environment')
const chokidar = require('chokidar')

if (process.env.RAILS_ENV === 'development') {
    environment.config.devServer.before = (app, server) => {
        chokidar.watch([

[2022-01-19 23:33] mvastola commented on #323
@dhh can you elaborate on why this was closed?

[2022-01-20 00:08] justin808 commented on #2471
Feel free to reopen this issue here:
https://github.com/shakacode/shakapacker/issues

[2022-01-20 00:08] justin808 commented on #2112
Feel free to reopen this issue here:
https://github.com/shakacode/shakapacker/issues

[2022-01-20 00:08] justin808 commented on #2427
Feel free to reopen this issue here:
https://github.com/shakacode/shakapacker/issues

[2022-01-20 00:10] justin808 commented on #3261
See https://github.com/shakacode/shakapacker/issues/15.

[2022-01-20 00:10] justin808 commented on #3077
Feel free to reopen this issue here:
https://github.com/shakacode/shakapacker/issues

[2022-01-20 00:10] justin808 commented on #2808
Feel free to reopen this issue here:
https://github.com/shakacode/shakapacker/issues

[2022-01-20 00:11] justin808 commented on #2787
Feel free to reopen this issue here:
https://github.com/shakacode/shakapacker/issues

[2022-01-20 00:11] justin808 commented on #2663
https://github.com/shakacode/shakapacker/issues/16

[2022-01-20 00:15] justin808 opened #3265 "Raise an error when javascript_pack_tag or stylesheet_pack_tag are called more than once"
See https://github.com/rails/webpacker/pull/3083 from @guillaumebriday.

Fixes https://github.com/rails/webpacker/issues/3068

However, might not still be an issue per [this comment](https://github.com/rails/webpacker/issues/3068#issuecomment-905648010).

[2022-01-20 00:15] justin808 commented on #3068
See https://github.com/rails/webpacker/issues/3265.

[2022-01-20 00:16] justin808 commented on #3265
Meant to create this here: https://github.com/shakacode/shakapacker/issues/17

[2022-01-20 00:16] #3265 closed

[2022-01-20 00:28] jrochkind commented on #2112
Thanks @justin808 , can you provide a link explaining the origin of `shakapacker`. It says "Official, actively maintained fork of rails/webpacker" -- but I don't understand what that means, official according to whom, is there something not "official" or "actively maintained" about this repo that I hadn't heard, is there some coordination/hand-off from rails to that team, is there news I missed so

[2022-01-20 00:30] justin808 commented on #2112
@dhh suggested the name for the fork 😄  and it's listed on the README.md for https://github.com/rails/webpacker.

[2022-01-20 00:41] jakeonfire commented on #2270
a workaround for the OP's original issue with `window` not being defined: https://github.com/reactjs/react-rails/issues/985#issuecomment-850781640

[2022-01-20 09:11] jakeonfire commented on #2814
thanks for the ideas @palkan. since we are using the dev server in development and thus only doing lazy compilation for specs (and don't care at all about source file changes _during_ spec runs) just shortcutting the compiler after the first (successful) run does the trick:

[code]

i'd love to see an option for this in the webpacker config - and default to it in the generated template's test env.

[2022-01-21 00:54] jakeonfire commented on #756
my module css was showing up in development, but wasn't compiled into output css files in production. we're using `babel-plugin-react-css-modules` which supports "anonymous" - re: unreferenced according to webpack - classes. i needed to override the webpacker defaults with `sideEffects: true` for the `moduleSass` loader to get these included in the CSS.

[2022-01-21 00:56] jakeonfire commented on #756
my module css was showing up in development, but wasn't compiled into output css files in production. we're using `babel-plugin-react-css-modules` which supports "anonymous" - re: unreferenced according to webpack - classes. i needed to override the webpacker defaults with `sideEffects: true` for the `moduleSass` loader to get these properly included in the CSS in `extract_css: true` mode.

[2022-01-25 11:21] nishajgd commented on #2688
For me the issue was when the node version had upgraded. The application version and the system version was different. When I upgraded daed my system one to match the application it started working. As it does not show any visible node version mismatch errors, I am pointing that here. Hoping this might help someone. Thanks

[2022-01-27 12:29] hopewise commented on #1566
in which file to apply those configuration? isn't it `babel.config.js` ?
can you please help me here:

https://stackoverflow.com/questions/70878283/how-to-configure-performance-settings

[2022-01-27 20:40] hopewise commented on #1566
It did not work for me, what could be wrong? here is how my `config/webpack/production.js` looks like:

[code]

[2022-01-28 00:30] MarchandMD commented on #1374
Not to be _that guy_... but where did that `yarn.lock` file come from? Because I sure has heck didn't place it there...

[2022-02-03 20:00] justin808 commented on #3204
@gastonmorixe In case you didn't see, v6 got released as https://github.com/shakacode/shakapacker. 🚀

[2022-02-04 19:12] Kawsay commented on #3188
Really appreciate your initiative, had the exact same issue and your solution solved it perfectly. Thanks a lot !

[2022-02-04 20:18] justin808 commented on #2956
Fixed in https://github.com/shakacode/shakapacker/pull/47 and released on v6.1.0.

* https://rubygems.org/gems/shakapacker/versions/6.1.0
 * https://www.npmjs.com/package/shakapacker

Thanks, @tomdracz! 🎉

[2022-02-08 21:20] dmolesUC commented on #2163
@feliperaul You can start it twice, you just need to configure different ports and output paths. Omitting unrelated settings:

[code]

Note: I'm not convinced this is the best way to do it, and I'm only doing it because using the same output path for dev and test wasn't working for me. (I didn't investigate in detail, but it seemed like `javascript_pack_tag` in test wasn't producing the right hash

[2022-02-14 11:12] ssinghi opened #3268 "Regular Expression Denial of Service in postcss"
Ruby version: Any
Rails version: 5.2.6 and above
Webpacker version: 5.4.2

Expected behavior: The postcss Security warning should not be there.

Actual behavior:

Dependabot is giving the following security warning.

The latest possible version that can be installed is 7.0.39 because of the following conflicting dependencies:

@rails/webpacker@5.4.2 requires postcss@^7.0.14 via a transitive depend

[2022-02-14 13:36] holstvoogd commented on #405
Why was this closed?

[2022-02-14 16:23] jaredbeck commented on #405
https://github.com/rails/webpacker/#webpacker-has-been-retired-

[2022-02-15 20:12] justin808 commented on #3268
@ssinghi Per the announcement from @dhh on the README.md, there will be no security updates for JS libraries.

![image](https://user-images.githubusercontent.com/1118459/154141198-9914e45b-27e9-4aa9-a74d-8baa2bb48a5c.png)

Please update to `shakapacker` and report an issue there if there is one.

https://github.com/shakacode/shakapacker

[2022-02-16 06:54] eni9889 commented on #2579
@obedparla @guillaumebriday I have the same issue. No chunks get generated when using React.lazy

[2022-02-16 12:58] obedparla commented on #2579
Never figured it out 🤷‍♂️. I no longer work with Rails.

[2022-02-17 10:47] nvhungkt commented on #3037
This is for older version of webpacker, not v6

[2022-02-23 22:05] stevecrozz opened #3269 "Intermittent Webpacker.dev_server.running? behavior"
Ruby version: 2.7.3p183
Rails version: 6.0.4.6
Webpacker version: 4.1.0

Expected behavior: Webpacker.dev_server.running? should return consistent answers

Actual behavior: Webpacker.dev_server.running? returns true and false intermittently

As of https://github.com/rails/webpacker/pull/753

Webpacker uses by default a socket connect timeout of 1/100th of a second. I have seen situations developin

[2022-02-23 22:11] stevecrozz commented on #3269
Actually, I do see a blip of a conversation inline in that PR now, but it seems to be in reference to "slower systems" and I have seen this on a few modern systems now, one of them being a brand new M1 macbook.

[2022-02-27 22:24] justin808 commented on #3269
@stevecrozz Do you want to open this up on https://github.com/shakacode/shakapacker?

[2022-02-28 17:17] #3269 closed

[2022-03-02 12:14] spullen opened #3271 "Host for assets from a webpacker configuration using custom domains not being resolved"
Ruby version: 2.7.4
Rails version: 6.1.4
Webpacker version: 5.4.3

I've been trying to set up `webpack-dev-server` to use a custom domain so I can use SSL in development.

My configuration is as follows:
[code]

I also have a breakout configuration to handle setting the SSL key and cert as I wasn't able to do this in the yaml file.
`./config/webpack/development.js`

[code]

### Expected behavior:

[2022-03-03 05:42] mejl commented on #3028
I'm getting

[2022-03-06 07:37] Diboby commented on #3008
Hello !

Add `loose: true` here 👇 in my **babel.config.js** resolves that problem for me 😀

<img width="745" alt="Capture d’écran, le 2022-03-06 à 02 31 26" src="https://user-images.githubusercontent.com/57820648/156913759-0c42ae3a-4525-4e60-a85f-84ec3932bb45.png">

[2022-03-06 11:43] erosinlove commented on #3236
Hi @justin808 now, I can fix it with the following steps

1. change from **webpacker** to **shakapacker**

2. update the syntax from `const componentRequireContext = require.context("components", true);` to `const componentRequireContext = require.context( "components", true, /^(https?:\/\/)?((([a-z\d]([a-z\d-]*[a-z\d])*)\.)+[a-z]{2,}|((\d{1,3}\.){3}\d{1,3}))(:\d+)?(\/[-a-z\d%_.~+]*)*(?:[&a-z\d%_.

[2022-03-14 22:21] benlangfeld commented on #2347
Indeed 4.3.0 has the opposite problem, it deletes compressed versions of assets that are in the manifest and shouldn't be removed.

[2022-03-14 23:41] benlangfeld commented on #2347
The following in an initializer is tiding us over until we can come up with a long-term alternative:

[code]

[2022-03-18 09:26] justin808 commented on #3271
Please move these over to https://github.com/shakacode/shakapacker/.

[2022-03-18 09:26] #3271 closed

[2022-03-18 09:26] #3268 closed

[2022-03-18 09:27] justin808 commented on #3268
Please move these over to https://github.com/shakacode/shakapacker/.

[2022-03-30 19:00] RyanB1303 commented on #619
try importing it in application.scss file
[code]
in my application it works, Rails 6.1, webpacker 5

[2022-03-30 20:07] snex commented on #619
Hi @RyanB1303 thanks for the reply. I have since moved to Rails 7, however the same issue still plagues me. I tried making the changes you suggested and still have the same problem - in fact it now no longer works in the dev environment as well. The one bright side is that there are now some relevant errors in the logs that might help:

[code]

I am not sure why it is trying to read fonts from tha

[2022-04-04 18:39] velles commented on #2674
adding a run step resolved it for me
[code]

[2022-04-07 18:26] duhaime commented on #2989
@dhh what was the fix for this thread?

[2022-04-12 23:10] tomprats commented on #2269
In case someone is still trying to do this and upgrading to version 6, the solution is pretty much the same but you also have to update the WebpackAssetsManifest plugin. My production.js now looks like this:

[code]

There's probably a way to use your config instead of specifying `packs` directly, but I didn't have time to look into that yet

[2022-04-15 22:52] voraciousdev opened #3274 "Cherry-pick "Nothing to do" logging update onto `5.x`"
Is there any way we could get https://github.com/rails/webpacker/commit/716655f48b7b5e3bda0aca8727853bfc5cdc295b cherry-picked onto `5.x`?

[code]

[2022-04-18 20:41] jshah commented on #3148
Any update on the v6 release?

@justin808

[2022-04-23 16:50] sivaraj-v commented on #3008
[code]

Fixed @tomprats

[2022-04-29 23:00] syedalimohsin commented on #3008
@sivaraj-v thanks it is working for me.
Can you tell me what should I provide here in the host? Actually, I want to deploy Mozilla hub on Virtual Machine.
![image](https://user-images.githubusercontent.com/57060853/166078593-6eb8e23e-7144-4e36-beb7-74d6dfa02c9a.png)

[2022-05-04 16:28] therealrodk commented on #2688
This worked for me, as well. Thanks to @jaredlt!

[2022-05-14 22:30] justin808 commented on #3274
@voraciousdev can you migrate to Shakapacker?

You can also open an issue there for me to make a release for Shakapacker. I can't release it here.

[2022-05-14 22:30] #3274 closed

[2022-05-24 03:13] ptushantk-houzz commented on #3097
I am also facing similar issue. In my case, I have installed webpacker 5.0 as `gem 'webpacker', '~> 5.0'`. I get issue while importing third party library css(`import 'croppie/croppie.css'`). This is how I have configured webpack

[code]

I am getting

[2022-05-26 14:05] dep commented on #2478
@yoonwaiyan

I could kiss you right now.

[2022-05-27 18:16] danmar-varela commented on #619
Had the same problem too. I just imported the css files that I need in application.scss:

[code]
and then the corresponding js files in application.js:

[code]

[2022-05-27 18:55] snex commented on #619
Hi @danmar-varela thanks for the help. Unfortunately I tried that and still get the same results.

[2022-05-28 01:40] yanikj commented on #512
Guys, the year is 2022, the month is almost June, and I get the exact same error when installing a fresh vanilla rails app.

Gemfile specifies:
ruby: `2.7.2`
rails: `~> 6.0.4`

Why does the most vanilla rails deploy still fail? I've added the ruby and js buildpacks as well, with ruby first, meaning heroku is correctly detecting it as a ruby app.

[2022-05-28 03:05] jakehockey10 commented on #512
Does the same thing happen in rails 7?

[2022-06-05 19:49] kashifnaseer opened #3281 "Rails 6 WebPacker is not calling JQuery inside views"
Rails 6 WebPacker is not calling JQuery inside views, any idea, whats wrong here and how i can fix it ?

Ruby version: ruby 2.7.5p203
Rails version: Rails 6.1.6
Webpacker version: 6.0.0.pre.2

Expected behavior:  It should work fine and call JQuery inside views
Actual behavior: Its unable to call JQuery inside views and getting the below error:-

<img width="437" alt="Screen Shot 2022-06-06 at 12

[2022-06-09 19:17] bwarner commented on #619
in order to get this to work I have to:
- install fontawesome node module
- In a file called fontawesome-pro.scss
  - define $fa-font-path
  - import the fontawesome scss files
  - redefine the @font-face CSS rules
- required it from application.css

This because the FontAwesome files define the src as 'url('#{$fa-font-path}/fa-solid-900.eot');' for example, but should defined it as 'font-url('#{$

[2022-06-13 18:08] shrimpwagon commented on #2327
WHY does it have to resolve anything?!?! Why can't it just leave '../' alone????? This is stupid.

[2022-06-24 13:39] nwarwick opened #3287 "Security Vulnerability in minimist@0.0.8"
Dependabot notified me about a critical security warning (9.8/10 in terms of severity) in minimist@0.0.8 which is required through the transitive dependency on mkdirp@0.5.1.

<img width="1288" alt="Screen Shot 2022-06-24 at 9 38 07 AM" src="https://user-images.githubusercontent.com/7636254/175547462-4fbf6b27-25ad-42f9-afb3-7a3fd0bc1645.png">

[2022-06-27 19:22] rafaelfranca commented on #3287
Can't you upgrade in your app? None of the webpacker dependencies force you to use that version of minimist.

[2022-06-27 19:24] rafaelfranca commented on #3287
Yeah. You definitely can. Nothing in webpacker prevents you to upgrade.

[2022-06-27 19:24] #3287 closed, assigned to nobody

[2022-07-02 22:54] adeeb1 commented on #405
Adding this here in case others are coming from search engines: there is a `WEBPACKER_PRECOMPILE` environment variable defined [here](https://github.com/rails/webpacker/blob/9af9eecf3b53934cea53d72ba3a228f269e88737/lib/tasks/webpacker/compile.rake#L37). When set to `false` it prevents Webpacker from enhancing the `assets:precompile` task and therefore using Yarn. None of the other solutions such a

[2022-07-11 14:58] ketan-survival commented on #512
Yes, updating a rails app from 6.1 to 7.0 gives the same error, the only thing that seems to work is `heroku buildpacks:add --index 1 heroku/nodejs`. This is despite having webpack available when I run `which webpack` in heroku.

[2022-07-19 18:55] jerw-git commented on #1405
I don't see a css file pack being made in my dev server, I am having the same issue, we normally just use MUI but now we need to import a css file

[2022-07-21 16:31] jerw-git commented on #2913
@dhh it appears this was closed as completed but above the people said it was still a bug. I am working on upgrading all the way to Shackapacker for webpacker v6 but need to know when to remove the monkey patch.

[2022-07-25 12:28] jerw-git commented on #1759
Also having the same problem on webpacker 5 ran rake assets preconoile on heroku and got a notice that Webpack-cli wasn’t there so trying to move it to dependency instead if dev dependency.

[2022-07-29 05:55] BrancuAlexandru commented on #2667
@poshcock I'm already doing that. Doesn't work for me.

[2022-07-31 00:57] jackpunt commented on #1276
Emphasis added...

[2022-08-02 09:11] justin808 commented on #2913
@jerw-git Can you please reopen this on [Shakapacker](https://github.com/shakacode/shakapacker/issues)? We'll try to get this resolved ASAP.

[2022-08-25 05:33] s3rgeym commented on #2327
шли бы нахуй эти суки, которые все сломали. доебал меня ваш вебвыпук

[2022-08-25 08:26] Almaya commented on #2955
In my case I had to run `yarn build --watch` and that solved it.

[2022-08-29 19:11] jellycattime commented on #2992
Dude, I read hundreds of articles about this problem, tried everything possible, and my colleagues assured me that it could not be in the node. As a result, I found that somewhere in the project a version of 14x is needed, rolled back my node and it all worked. I spent half a week on this s***. Thank you, I would probably get fired hahahaha

[2022-09-01 10:34] zavan commented on #3188
If anyone falls here and is using Bootstrap 5.2.0, looks like the error is back, my solution was to downgrade to Bootstrap 5.1.3 for now.

See [this](https://github.com/twbs/bootstrap/issues/36851) and [this](https://github.com/ackama/rails-template/issues/315).

[2022-09-02 18:21] pipe2k27 commented on #3188
Same issue as zavan

[2022-09-04 07:28] tagliala commented on #3188
5.2.1 should fix this twbs/bootstrap#37079

[2022-09-07 00:12] emersonthis commented on #1004
@eriknygren Looks like @rails/webpacker 6 isn't released yet. Are you using a release candidate?

[2022-09-07 13:18] eriknygren commented on #1004
Now I'm using https://github.com/shakacode/shakapacker, which has a released version of webpacker v6 (a continuation of this now retired project)

[2022-09-08 20:22] emersonthis commented on #1004
@eriknygren Thanks for the tip.

I was able to get it working with the stock version of webpacker that ships with Rails 6 as follows:

[code]

NOTE: Sass styles bundled with the Rails pack are not working correctly yet

[2022-09-22 16:12] dep commented on #3148
Like soon as in ...?

[2022-09-23 01:27] justin808 commented on #3148
In case anybody gets here, please see:

https://github.com/shakacode/shakapacker/blob/master/docs/v6_upgrade.md

[2022-10-06 06:31] suryakantcaax commented on #1579
Hi Dyeje

how you resolved this issue? i facing same issue and its takint too much time to test even small changes in js file

[2022-10-08 07:15] activeliang commented on #1651
Had the same problem after upgrading
my solution:

Command line to start webpack
[code]
Replace with:
[code]

[2022-10-21 04:01] blefev commented on #2992
Can confirm downgrading to node 14.16.1 was the only thing that worked! TYSVM! I do happen to be on an M2 but terminal is x86 already.

[2022-10-27 12:33] mcmaddox commented on #2784
God bless you for this the hotfix, @ChadMoran. 2 years later and this is (still) the way...

[2022-10-27 17:35] mcmaddox commented on #2784
@natematykiewicz In your opinion, which solution is preferred for an app that hasn't migrated to Rails 7 yet (still on 6.1)?

[2022-10-27 17:45] natematykiewicz commented on #2784
It all depends on how much you like Webpack vs the other bundlers (rollup, esbuild), and if you prefer webpack do you want to maintain your own config.

jsbundling-rails is unopiniated. It's simply a gem that runs your bundler of choice and wires its output into the asset pipeline for serving.

Shakapacker continues off where webpack left off.

Some people really like webpack and want an automatic

[2022-10-27 19:47] mcmaddox commented on #2784
@natematykiewicz Thanks for the link!

[2022-11-01 16:00] timscott opened #3293 "currently no loaders are configured to process this file"
Ruby version: 3.1.2
Rails version: 6.1.6.1
Webpacker version: 5.4.3

Expected behavior: Compile `app/javascript/internal/components/Events/index.tsx`

Actual behavior:

I ran:
[code]

Which added to webpacker.yml extensions:
[code]

And added to presets of babel.config.js
[code]

As well as various dependencies to `package.json`

[2022-11-01 17:00] timscott commented on #3293
I actually ran the install task before upgrading to 5.4.3 from 4.0.7.

I reversed everything, upgraded webpacker to to 5.4.3, ran the install task, and it's working now.

[2022-11-01 17:00] #3293 closed

[2022-11-08 16:55] michelmob commented on #1651
I'm running my SPA with CloudFront and Cloudflare. I already know what is happening.

1) The users request a website and CloudFront gives 200. This current index is pointing to chunk000.js for example.
2) The CI/CD or developer uploads a new version, cleaning the bucket and uploading the new Index.html and chunkxxx.js
3) The user requests the website but this time the index.html is cached locally

[2022-11-09 03:25] qideng commented on #2605
Was able to fix the `error Command "webpack" not found.` issue by running
[code]
credit: https://stackoverflow.com/a/65166138/20455528

[2022-11-17 07:47] JetForMe commented on #1677
I'm running into this on v4.0.2 while upgrading from v3.5.3

[2022-11-29 01:13] msencenb commented on #3258
@brandoncc Do you mind posting how you got this to work? Running into the same issue here.