[2018-07-11 08:36] cswilliams commented on #1607
looks like requiring this also fixes it:
`require "active_support/core_ext/string/inquiry"`

[2018-07-11 08:39] gauravtiwari commented on #1607
I see, looks like one of the rails modules requires this already so no error in my case. Perhaps, it makes sense to import this extension since we explicitly use it in the gem. Happy to make a PR?

[2018-07-11 09:51] cswilliams commented on #1607
Thanks so much for the help @gauravtiwari!

[2018-07-11 09:51] #1607 closed

[2018-07-11 09:56] gauravtiwari commented on #1607
No problem! Thanks for the PR, it's on `master/3-x-stable` branch but will make a release later.

[2018-07-11 10:09] zverexe commented on #1588
I cannot put it to default as I do not know users screen width, it can be variuos. I thought I can hide window through webpacker during ssr compilation and use it just on frontend

[2018-07-11 10:21] vedmant commented on #1588
@gauravtiwari Indeed, I upgraded webpacker and can use config object, thanks!

[2018-07-11 11:37] pitosalas commented on #1602
Great, thanks! It's a little confusing still with all the moving parts! So are you saying that all the packs files should be *.js and contain only imports?

I see that I misread the hints for stimulus and that they say to put the application.js in src and I have it in packs!

So even for stimulus, I would have a stim.js in packs with just one line, import ../src/application.js right?

[2018-07-11 12:20] pitosalas commented on #1602
Thank you for your time. It’s been super helpful!

Pito Salas
Brandeis Computer Science
Volen 134

[2018-07-11 13:13] gauravtiwari commented on #1602
Great, no problem. Okay to close the issue?

[2018-07-11 16:05] kevgathuku commented on #1578
Also experiencing the same issue. Thanks for reporting this @prusswan

It helped me resolve a similar issue by setting my `postcss-*` package versions to the same ones as webpacker

[2018-07-11 16:43] Praneeta commented on #1189
@kengreeff - just throwing this out there - In our case there were a lot of files which were served from packs but they had a lot of common code. Using the common chunks plugin really helped. Check this thread -> https://github.com/rails/webpacker/issues/1217

[2018-07-11 22:30] #1602 closed

[2018-07-11 23:01] kengreeff commented on #1189
Hey guys, thanks for getting back to me so quickly!

We only have entry files in there, but our app is quite large. I can get it to compile with `node --max_old_space_size=4096 node_modules/.bin/webpack-dev-server --progress --color --config config/webpack/development.js`

I monitored the memory use while compiling and it looked like it was topping out when hitting around the 1500mb mark which is

[2018-07-11 23:17] prusswan commented on #1603
Yarn is directly supported since [Rails 5.1](http://guides.rubyonrails.org/5_1_release_notes.html), but more importantly, dhh likes it so..

More info: http://g3ortega.com/rails/2017/05/30/rails-5-1-and-forward-yarn-on-rails.html

[2018-07-12 06:10] timhwang21 opened #1610 "webpacker react -- prop-types, @babel/preset-react listed as dependencies?"

[2018-07-12 06:30] DataCourier commented on #1427
Been getting this issue as well but for me it doesn't go away no matter how many restarts, yarn reinstalls asset cleaning, or file poking I do. I can't recall how I got it working last time and I am getting messages like this one when I visit the files:

[code]

[2018-07-12 07:02] mackmm145 commented on #1413
@MehmetKaplan did you resolve this? could you share how?

[2018-07-12 08:18] oriolbcn opened #1611 "Is modification time the best default to calculate the compilation digest?"
https://github.com/rails/webpacker/pull/1522 introduced a neat change, to be able to calculate the compilation digest based on the contents of the file instead of the modification time.

Now I wonder: Wouldn't that calculation (based on contents) be a better default than the modification time? In the end, the contents of the file is what matters and what will always be 100% accurate. The modificat

[2018-07-12 14:35] benwalsh opened #1612 "ProvidePlugin not making `$` globally available"
I may be misunderstanding #1389 but if I have this in `config/webpack/environment.js`:

[code]
then I expect to have access to `$` and `jQuery` globally, including in the console window. This isn't happening. If I add a debug statement to `development.js` I see that the plugin is being added:

[code]

But I have no `$` or `jQuery` in the browser window. And while some jQuery-dependent packs work f

[2018-07-12 15:42] igor04 commented on #1612
[ProvidePlugin](https://webpack.js.org/plugins/provide-plugin/)

if I understand correctly global scope is not modified and `$/jQuery` could be accessible only inside a module, to make identifier available globally you could write something like `window.$ = $` inside your `application.js` module

[2018-07-12 23:58] vadus1 opened #1614 "after installation webpacker to rails app in the application began to load for a very long time"
I'm installing webpacker to my rails app, and after installation, I noticed that the pages in the application began to load for a very long time, what could happen?
I originally followed the installation instructions.
After the start, I have to wait a long time for response.

I use ruby 2.5.0, rails 5.2.0, webpacker 3.5.5, node 10.6.0, yarn 1.7.0

from logs:

[code]

sure, i'm run `./bin/webpack-d

[2018-07-13 21:00] criticerz commented on #602
Ran into this as well.

I had copy & pasted a piece of code (had a hashrocket function) from a React component into a regular javascript asset (that uses sprockets). Removed it from that file and works.

[2018-07-13 21:34] ryanscottaudio commented on #1587
Figured this out: `public_output_path` cannot be the same as the path that sprockets uses to serve assets.

[2018-07-13 21:34] #1587 closed

[2018-07-14 18:01] DataCourier commented on #1117
@gauravtiwari thanks, works for me!

[2018-07-16 21:12] tamouse opened #1615 "Allow environment settings in webpacker.yml with ERB"
Follow the conventions of Rails `config_for` that processes ERB settings before running the YAML loader.

[2018-07-17 01:33] MrHubble commented on #1192
The problem for me was the `font_assets` gem which was listed in the `bundle exec rails middleware`  results as `use FontAssets::Middleware`.

`font_assets` is no longer needed with Rails 5 and we can use `rack-cors` instead: https://devcenter.heroku.com/articles/using-amazon-cloudfront-cdn#cors

[2018-07-17 08:36] bcm commented on #1192
Interesting. Even after removing font_assets and all of my custom middlewares, though, I still get the issue. Gonna have to figure out how to get in there with a debugger.

[2018-07-17 14:47] mattduggan commented on #1178
Production is Heroku @prusswan, thanks for the tip. I do see multiple versions for webpack in the yarn.lock which resolves to 3.11.

[2018-07-17 19:12] maschwenk commented on #1178
This is why I'll reiterate my previous comment https://github.com/rails/webpacker/issues/1178#issuecomment-382535270

[2018-07-17 22:15] gj commented on #1612
I think you're probably looking for the [Expose Loader](https://github.com/webpack-contrib/expose-loader); not the ProvidePlugin.

[2018-07-18 08:10] hiepnm commented on #974
I still get this error on iOS 9.3.5 and safari 9.0
"webpack-dev-server": "^3.1.2",

[2018-07-18 17:10] r-obert commented on #1235
@kmoo `v3.5.5` does not fix this issue. the patch from @danielma is still needed.
the current status is that rails5+ is shipping with a stack that has broken IE11 support.

[2018-07-18 17:17] gauravtiwari commented on #1235
@r-obert Have you updated both gem and npm package to 3.5.5? https://github.com/rails/webpacker/blob/3-x-stable/package/environments/production.js#L16

[2018-07-18 17:21] r-obert commented on #1235
@gauravtiwari i updated the Gemfile, but not package.json.
do i also need to update `rails/webpacker`?

[2018-07-18 17:22] gauravtiwari commented on #1235
Yep, `yarn add @rails/webpacker` or `yarn upgrade @rails/webpacker`

[2018-07-18 17:22] r-obert commented on #1235
thanks! will try and post back.

[2018-07-18 17:33] r-obert commented on #1235
it works! i updated the Gemfile and npm package, then all good. thank you @gauravtiwari

[2018-07-18 17:39] gauravtiwari commented on #1235
Great, thanks for reporting back 👍

Closing this issue...

[2018-07-18 17:39] #1235 closed

[2018-07-19 13:10] ain commented on #1605
Reproduced on Google App Engine.

[2018-07-19 16:12] ckahle33 commented on #1615
Any update on this?

[2018-07-19 19:14] olimart opened #1619 "What to do to create bin/webpack ?"
Compilation works locally but not on server.
It complains that `/node_modules/.bin/webpack`does not exist.

```/bundle/ruby/2.5.0/gems/webpacker-4.0.0.pre.pre.2/lib/webpacker/webpack_runner.rb:11:in `exec': No such file or directory - /node_modules/.bin/webpack (Errno::ENOENT)```

Globally speaking, how things are supposed to work?

- Who/when creates node_modules/.bin/webpack since it is gitigno

[2018-07-19 19:59] gauravtiwari commented on #1619
@olimart Where are you deploying? Heroku? Please make sure `yarn install` is run before asset compilation on production.

[2018-07-19 20:04] olimart commented on #1619
Own VPS.
I have a few apps. already deployed with the same script.

[code]

[2018-07-19 20:05] gauravtiwari commented on #1619
@olimart Any chance you have webpack listed under devDependencies in your package.json?

[2018-07-19 20:06] gauravtiwari commented on #1619
The output above looks fine to me, not sure why binstub isn't there.

[2018-07-19 20:07] hemju opened #1620 "Typescript loader parses spec folder"
I added typescript + vue to our projects (based on this description https://github.com/rails/webpacker/blob/master/docs/typescript.md) Now I am getting a compilation error from typescript because we have a file in our spec/fixtures that has the file extension .ts. This fixture file is not a typescript file, so it produces a compilation error.

1. How can I exclude the spec folder from webpacker ts

[2018-07-19 20:08] gauravtiwari commented on #1619
You have to run `yarn install` before running asset precompilation

Nope, this should be there if you have run `yarn install` (like it works locally)

[2018-07-19 20:09] olimart commented on #1619
Nope

[code]

What/where should I look on the server?

[2018-07-19 20:11] olimart commented on #1619
@gauravtiwari just noticed that Gemfile lists `4.0.0-pre.2` but Package.json has `"@rails/webpacker": "^3.5.5"`
There is something overwritten Package.json though

[2018-07-19 20:12] gauravtiwari commented on #1619
`yarn add @rails/webpacker@4.0.0-pre.2` and try a re-deploy.

[2018-07-19 20:13] gauravtiwari commented on #1620
You could exclude using `tsconfig.js`: https://www.typescriptlang.org/docs/handbook/tsconfig-json.html

[2018-07-19 20:18] olimart commented on #1619
Same.

[2018-07-19 20:20] gauravtiwari commented on #1619
Perhaps you should log into your VPS box shell and see if `node_modues` folder is created.

[2018-07-19 20:57] olimart commented on #1619
It gets created but is empty.
My script updates git folder then installs. What step is responsible to add files to it?

[2018-07-19 21:01] gauravtiwari commented on #1619
Could you please share your script?

[2018-07-19 21:04] olimart commented on #1619
In previous deployments sometimes it created yarn-integrity file but never bin folder.

[code]

[2018-07-20 07:43] hemju commented on #1620
Works, thanks.

[2018-07-20 07:43] #1620 closed

[2018-07-20 12:49] #1619 closed

[2018-07-21 17:46] yoyoys commented on #1276
an easy but ugly workaround:
`require['context']`

[2018-07-23 18:56] briankelleher commented on #1019
Ok - with a combination of the answers above, I was able to get a working project with rails in one container and webpacker in the second container.  Arguably you can run the webpack-dev-server process in the same container, but I decided to not have to run that in the background, as to best take advantage of docker logging.

99% of the way there, the ONLY thing that isn't working is the HTTP requ

[2018-07-23 19:07] vadus1 commented on #1614
#1527 this is issue help me.
I just too change `host: localhost` to `host: 0.0.0.0`

[2018-07-23 22:47] resistorsoftware opened #1621 "Localhost HTTPS, makes certificate sure, but cannot Trust it with Chrome"
Rails 5.2
Webpacker 3.5.5

Stock standard install. Running with foreman. Assets are served, but the route for assets is not secure.

    https://localhost:3035/sockjs-node/info

So any attempt to make this certificate, valid for just a month, be accepted by Chrome. Nothing I click with the link seems to allow for that. How does one access this certificate to have Chrome accept it?

    web: bundle

[2018-07-24 08:30] tinderfields opened #1622 "Provide SplitChunksPlugin documentation"
The configuration docs at https://github.com/rails/webpacker/blob/master/docs/webpack.md currently refer to CommonsChunkPlugin as the way to deduplicate your js packs.

Since Webpack 4 "the CommonsChunkPlugin was removed in favor of optimization.splitChunks": https://webpack.js.org/plugins/split-chunks-plugin/

The documentation link above should be updated to reflect that change as webpacker now

[2018-07-24 09:42] bary822 commented on #1374
Just dropping a note here to share my experience.

I've encountered the exact same issue.
For my case, just restarting my terminal fixed the problem.

I had changed few configuration for NVM, which would have done something related.

[2018-07-24 12:30] tinderfields commented on #1622
This will involve changes to the `javascript_pack_tag` as it doesn't seem to support `entrypoints` entries in the manifest.

The may not be the most 'railsy' way but here is how I got it working:

[code]

[code]

[2018-07-24 15:35] sambecker commented on #739
FWIW `heroku buildpacks:add heroku/nodejs -i 1` didn't properly reorder buildpacks for me.

I needed to manually reorder them from the Heroku dashboard in order for my deploy to work.

[2018-07-24 16:18] JakeLaCombe commented on #1224
Is there by chance a timeline available for when it will be officially released?

[2018-07-25 14:38] JakeLaCombe opened #1623 "Make webpacker.yml and postcssrc.yml files optional."
Would it be possible to make the files optional for this Gem? My team is trying to create a node package that contains a webpacker configuration file they can import into their webpack scripts, and requiring the webpacker.yml and postcssrc.yml files make that a little difficult, as they have specific locations inside a rails application.

[2018-07-25 20:49] drusepth opened #1624 "`javascript_pack_tag` doesn't output anything"
Hi, I just did a fresh install of `webpacker` into an existing Rails 5.1 app. I ran `webpacker:install` and everything looks fine. I noticed in `app/javascript/packs/application.json` it mentions:

[code]

So, I added `<%= javascript_pack_tag 'application' %>` to my `app/views/layouts/application.html.erb` (and, well, commented everything else out just to make sure there were no conflicts):

My ap

[2018-07-26 10:01] BoleLee commented on #1482
@hateonion did you want to add some alias like:
`'@': 'app/javascript/src' `

Have you find how to config this ?

[2018-07-26 10:52] BoleLee commented on #986
I setted config according to the [docs:webpack](https://github.com/rails/webpacker/blob/master/docs/webpack.md):

[code]

however, when it compiles, it said cannot find the module.

[2018-07-26 10:59] gauravtiwari commented on #986
@BoleLee What happens if you do this?

[code]

[2018-07-26 11:11] BoleLee commented on #986
[code]

@gauravtiwari  I tried your solution in [#986](https://github.com/rails/webpacker/issues/1063#issuecomment-349374978), and it solve the problem.

[2018-07-26 11:12] gauravtiwari commented on #986
Great 👍 - should be either complete absolute path (more robust) or relative path (from `node_modules` dir)

[2018-07-26 11:17] BoleLee commented on #1482
[#986](https://github.com/rails/webpacker/issues/986#issuecomment-408062235)

[2018-07-26 14:53] Drillan767 opened #1626 "hello_vue.js is ignored if renamed something else"
This sounds awefully similar to #1214 but I stumbled into a similar problem using VueJS with Webpacker. Well, actually, the problem is this time opposite to #1214.

Steps to reproduce:

1. `$ rails new rails-vue`
2. `$ cd rails-vue`
3. edit the Gemfile file to add "gem 'webpacker' "
4. `$ bundle install`
5. `rails webpacker:install && rails webpacker:install:vue`
6. Add `<%= javascript_pack_tag 'h

[2018-07-26 16:39] ryanscottaudio opened #1627 "There must be a way to specify multiple pack entry directories"
I'm migrating an old codebase to use webpacker. We have the option to run JS tests when running locally, which means that we need to bundle the test files into separate entry points along with everything else. We DON'T want to bundle those files for staging/production, however. I would think that the solution to this would just be to specify two separate pack entry directories in development/test

[2018-07-26 17:10] ryanscottaudio commented on #1627
I see in https://github.com/rails/webpacker/issues/585#issuecomment-321497152 that you addressed this a bit, saying that "ideally for developer experience it would be nice to have all entries at one place, which is how you would like to have in the longer term". I disagree that this is true in all cases, and I think it would be extremely useful to have multiple entry points as an option so that th

[2018-07-26 17:45] ryanscottaudio opened #1628 "Files within directories within symlinked directories within the source_entry_path directory are not being bundled"
If I have this directory structure:
[code]
and set `source_entry_path: packs`, webpacker will only bundle/add to manifest.json `shallow_file.js` and not `deep_file.js`.

[2018-07-26 23:32] dachinat commented on #1591
How did you resolve this?

[2018-07-26 23:41] dachinat commented on #1591
I did `environment.loaders.get('file').test = /\.(jpg|jpeg|png|gif|tiff|ico|svg|eot|otf|ttf|woff|woff2|mp4)$/i
`, and you?

[2018-07-27 14:34] vadus1 commented on #1614
@rahulakurati ran, did not help.
When I changed `host` only then everything fell into place.

[2018-07-27 15:49] nicmosc commented on #567
Hi, I'm having the same issues but following what was written above does not help... still no autoprefixer.

These answers are around 1 year old so maybe with all the new package versions some things got lost. Here is what I'm currently using:
- Webpacker (gem) 3.5.5
- @rails/webpacker 3.5
- webpack-dev-server 2.11.2

I've tried all of the above plus javascript only options to load the autoprefixe

[2018-07-28 17:54] Petercopter commented on #57
For anyone looking for context, the idea is to move all assets over to Webpacker, rather than having  to maintain say, jQuery in both the asset pipeline and the package manager.

https://medium.com/@coorasse/goodbye-sprockets-welcome-webpacker-3-0-ff877fb8fa79

[2018-07-29 05:02] rubendinho commented on #1395
@gauravtiwari - We have spent hours debugging the above bug, since it directly contradicts the [**Custom Rails Environments**](https://github.com/rails/webpacker#custom-rails-environments) instructions for this gem, which state that NODE_ENV can force `assets:compile` to compile in development mode:

[code]

If one has to use `assets:precompile`, is it possible to compile in development mode?

[2018-07-30 09:35] MidnightWonderer commented on #1603
Thanks for the info.
Rails is starting to move slow IMO.
A lot of stuffs with legacy reasons and steep update path.

Guess I'm going to ditch the webpacker all together for future projects.

Just pure npm & webpack itself have fewer hassle these day. Rails integration is a breeze just some thin Ruby code will do the job.

Thanks a lot everyone who made the webpacker possible. It was a good ride.

[2018-07-30 09:35] #1603 closed

[2018-07-30 18:04] rahulakurati commented on #1614
Where does your rails app run? localhost or 0.0.0.0 ?

[2018-07-30 18:12] vadus1 commented on #1614
hm good question. by default `localhost.`

[2018-07-30 19:00] Drillan767 commented on #1626
Huh, I tried to reproduce the error again, and... no problem at all, everything works fine. Closing the anomally since not reproducible.

[2018-07-30 19:00] #1626 closed

[2018-07-30 20:42] drusepth commented on #1624
For what it's worth, I was able to find a workaround for this by [inspecting the `javascript_pack_tag` source](https://github.com/rails/webpacker/blob/master/lib/webpacker/helper.rb#L54-L56).

Rather than using `<%= javascript_pack_tag 'application' %>`, I am able to include the JS on the page by doing `<%= javascript_include_tag sources_from_pack_manifest(['application'], type: :javascript).first

[2018-07-31 00:16] rezadhah opened #1630 "Assets can't be load"
Currently i structure my webpacker related folder like this
[code]

the problem is, i cant access my assets in **styles** directory like `<%= stylesheet_pack_tag 'styles/admin/first.css' %>`

did i do something wrong?

[2018-07-31 11:16] tinderfields commented on #1622
I also found the need to define:
[code]

[2018-07-31 13:51] ace-subido commented on #1630
Hi @rezadhah, did you have an javascript entry file (inside `javascript/packs`) that imported this CSS file?

[2018-07-31 14:10] rubendinho commented on #1630
Here's how I have this organized, if it's helpful:

I have my styles in `app/javascript/application/styles/index.scss`. Then I import these styles and relevant JS components in an `index.js` manifest, and then I import that manifest in an `application.js` pack file.

[code]

[code]

[code]

[2018-07-31 16:37] erniux opened #1631 "problems deplying to Heroku"
Hello, After implement Webpacker on Ruby on Rails, my deploy to heroku is throughing this error:

[code]

[2018-07-31 17:46] gauravtiwari commented on #1631
@erniux Do you have `webpacker` included in your gemfile? Also, make sure it's available in all environments.

[2018-07-31 21:13] erniux commented on #1631
thanks @gauravtiwari I had, but now i Uninstall it doing this:

remove .bin/webpackor run bundle exec rake rails:update:bin
remove config/webpacker.yml
remove config/webpack
remove app/javascripts
remove config.webpacker.check_yarn_integrity = false from config/{development, test, production}.rb
verify that you don't have webpacker in your gemfile and run bundle  install or bundle clean
imho

turn

[2018-07-31 22:42] bidva opened #1632 "Leverage browser caching"
I ran a performance tool on my production environment and It says "Leverage browser caching for the following cacheable resources". It includes css, js, svg,...
based on your documentation it doesn't need any configuration for production. Is there a way to enable browser caching ?

[2018-08-01 03:27] rezadhah commented on #1630
@ace-subido no, i still have the default code from webpacker in packs/application.js.
still kind of struggle to make my own folder inside app/javascript can be compiled by webpack ..

[2018-08-01 03:28] rezadhah commented on #1630
@rubendinho interesting, but it's not so dynamic imho. can i get my assets inside app/javascript all compiled by webpack without import them inside application.js?

[2018-08-01 03:37] rubendinho commented on #1630
@rezadhah I would organize all your assets inside `application.js` and then import the pack once into application.html.erb.  I found this approach to make for an easier transition from the asset pipeline.

[2018-08-01 03:54] ace-subido commented on #1630
still kind of struggle to make my own folder inside app/javascript can be compiled by webpack ..

Ah, I see, you need to import that `import './styles/';` inside the `packs/application.js`. Just like how @rubendinho 's example.

Webpack needs a javascript entry file inside `packs`, it's the convention of that bundler. This is because webpack uses `loaders` to bundle images/css/fonts inside your en

[2018-08-01 03:56] ace-subido commented on #1631
What are the buildpacks for the dyno it's being launched on?

[2018-08-01 15:21] ryanscottaudio opened #1633 "Rails doesn't notice webpack-dev-server running when RAILS_ENV=test"
Every time I try to load a JS file through Rails when `RAILS_ENV=test`, I get `[Webpacker] [INFO] Compiling…` in the console, even if in another console window i have `RAILS_ENV=test ./bin/webpack-dev-server` running. Here's my webpacker.yml:
[code]

The purpose of running webpack-dev-server in test mode is just so that I can edit code to fix tests more efficiently (without webpack having to bundl

[2018-08-01 16:44] bjankord commented on #1623
It would be really helpful to make this optional. Looking at [the code for this](https://github.com/rails/webpacker/blob/a2aa7399f4bc2b9ca2cd035bf456a78a054dba07/package/utils/get_style_rule.js#L6-L39), it could be done in a passive way.

You could check and see if the [postcssrc.yml file existed in the current location webpacker checks](https://github.com/rails/webpacker/blob/a2aa7399f4bc2b9ca2cd

[2018-08-01 19:18] reyco1 opened #1634 "ar"

[2018-08-01 21:17] dhh commented on #1623
@bjankord Happy to go with a default inside-webpacker postcssrc.yml file when one isn't present where expected.

[2018-08-02 10:09] freezepl opened #1635 "Unable to bundle css from imported scss in production"
Hi!
We are using webpacker default configuration and importing scss files in jsx like this:
`import './errors-popup.scss';`

I am unable to get production compiled scss files under one `applicaction-hash.css` although css are in the manifest.json. After deploying site is without styles.

Should I import every single scss file in application.scss and then this file in application.js?

[code]

produ

[2018-08-02 16:20] tparesi commented on #1201
@gauravtiwari I am using server side rendering with css modules, using the documentation you recommended. I am not able to have both my stylesheets from application.scss and my css modules work at the same time. The application.scss ends up getting hashed, so the class names are no longer applicable.

I was reading that I may need to have webpack running for the client and the server? Any advice o

[2018-08-02 19:32] ryanscottaudio commented on #1592
to mitigate this for now I've set `compile: false` and just run `RAILS_ENV=test ./bin/webpack --watch` alongside my rspec stuff

[2018-08-03 21:13] seanhealy commented on #1603
It's pretty straight forwards to make webpacker play nice with npm.

There is a nice guide here:
https://itnext.io/how-to-use-webpacker-with-npm-instead-of-yarn-a8a764e3a8ab

However I do agree that out of the box support for npm or, just moving to npm now that it has caught itself up would be much preferable.

[2018-08-05 10:05] Shoroh opened #1636 "'Compile: true' in test env and flaky specs"
I'm not sure if this is a bug.

We use Jenkins as a CI, with debian OS. Recently we added to our Rails 4.2 App Webpacker with Vuejs. And since that, we started to get flaky acceptance specs on CI (3-4 random specs of 300). Btw, we use Capybara and Rspec.

**If we precompile webpack assets locally and commit them to repo (the test-pack folder), and turned 'compile' to false in test env (in webpacke

[2018-08-05 17:51] Footpad commented on #1500
After commenting out this:
https://github.com/rails/webpacker/blob/9c4612803a791eede4610eaf4ea458ebe4e493c9/lib/install/template.rb#L50-L51

I was able to get the 4.0.x version of webpacker installed with these:
[code]
If my understanding is correct, using the specific version in the install task should fix the issue.

[2018-08-06 04:17] mayordwells commented on #1284
Hi anyone got a better solution for webpack configuration in a large rails + react + webpacker project?

I'm still getting this error when running my project without the Autodll-webpack-plugin. Getting exactly the same error when I was running ruby 2.5.0 + rails 5.2.0.rc2, here's the log of the heap error - https://gist.github.com/mayordwells/c2562e67e294bb1fab09a7f28ae45241
Today I'm running rail

[2018-08-06 18:41] jasonkarns commented on #956
The lack of ERB parsing is hugely shocking when used within a Rails app, where it is conventionally expected to be supported.

Our use-case is to set the dev server port via an environment variable. However, webpacker.yml being the lone yml file in a Rails app to not be parsed via ERB ought to be enough on its own to warrant a revisit.

If the config file is meant to be parsed by both the npm modu

[2018-08-06 18:42] jasonkarns commented on #1615
Related to https://github.com/rails/webpacker/issues/956

I also expected ERB parsing in webpacker.yml to work. We need to get the dev server port from `ENV`

[2018-08-07 05:06] involvevtk opened #1637 "browser compatibility"

[2018-08-07 05:07] #1637 closed

[2018-08-07 06:39] dipakchandranp commented on #1336
@roine Where did you add this code?

[2018-08-07 22:30] bbugh commented on #691
I'm having the same issue as @nozpheratu  - setting variables with `Webpacker::Compiler.env` doesn't seem to make it into the actual javascript environment. Anyone have a suggestion? Did this break somewhere?

[2018-08-07 22:59] maschwenk commented on #1636
Do the failures start on the first instance of a feature spec running? If so then Capybara may be timing out as it waits for the compilation to finish. It's a good practice for CI runs to precompile your assets beforehand. No need to commit them to the repo, just have a step in the pre-test build process

[2018-08-07 23:12] pwim opened #1639 "Dev server proxy not setting Access-Control-Allow-Origin header"
I'm using webpacker, and one of my libraries includes some fonts. In development, these fonts are being blocked by CORS, as the Access-Control-Allow-Origin header is not set.

In development, I'm using the on demand compilation through the Webpacker::DevServerProxy middleware. I'm using the standard `config/webpacker.yml`, which includes an option to set the Access-Control-Allow-Origin header:

[c

[2018-08-08 06:39] rezadhah commented on #1630
thank you for your kind help @ace-subido @rubendinho :D

[2018-08-08 06:39] #1630 closed

[2018-08-08 07:02] Shoroh commented on #1636
Thanks, @maschwenk

Yep, this is what exactly happened — our JS grew up and compiling time became longer.
As you advised, we added this precompilation step to CI, and everything went well.

[2018-08-08 07:02] #1636 closed

[2018-08-08 07:29] tdkn opened #1640 "Cannot use pack filename `application.*.js`"
I want to use pack filename like this:

- packs/application.react.js
  `<%= javascript_pack_tag 'application.react' %>` (in layout erb file)
- packs/application.vue.js
  `<%= javascript_pack_tag 'application.vue' %>` (in layout erb file)

👍 **Expected** behavior:

[code]

👎 But, **Current** behavior is:

[code]

`.react` and `.vue` disappeared from the file name😭

How can I prevent this behavior?

[2018-08-08 10:01] gauravtiwari commented on #691
@bbugh Could you please file a separate issue for this one so we can test and push a fix?

[2018-08-08 13:48] bbugh commented on #691
@gauravtiwari Whoops, sorry - I thought this one was still open. Too many related tabs. I will make another issue.

[2018-08-08 14:15] bbugh opened #1641 "Environment variables set with Webpacker::Compiler aren't available via process.env"
#691 and [the docs](https://github.com/rails/webpacker/blob/cd36cd5/docs/env.md) suggest that `Webpacker::Compiler` would be able to pass environment variables over to the compiler, but I'm not finding this to be the case (at least based on the documentation example).

[code]

[code]

[code]

**Use case**

In our case, we have an existing Rails app that we're adding SPA to. We have a lot of legacy

[2018-08-08 16:08] ivanxtr commented on #422
I solved running the following

1.     sudo npm cache clean -f
2.     sudo npm i -g n
3.     sudo n stable
4.     npm rebuild node-sass

[2018-08-08 18:27] Sparragus commented on #1641
@bbugh Are you using Foreman or Heroku? If so, for Foreman you need to create a `.env` file. For Heroku, then add the env vars in their dashboard.

When you do this, you make them available on `process.env` inside `environment.js`. You also need to do the following inside `environment.js`.

[code]

I know this does not explain why `Webpacker::Compiler.env['FRONTEND_API_KEY'] = 'your_secret_key'
`

[2018-08-08 18:36] bbugh commented on #1641
@Sparragus Thank you for the suggestion. As I mentioned in my initial report, our legacy environment variable structure is quite (annoyingly) complicated, and trying to reproduce it in a second location via dotenv would be very brittle and complicated. We'd honestly just stop using webpacker before we went down that road (which would be a shame because it's great).

I think we're the ideal use cas

[2018-08-09 14:54] njgingrich opened #1642 "CSS with hmr: true runs CSS transitions on page reload"
If I set `hmr: true` inside `webpacker.yml`, my stylesheets will update without a page reload properly, but when refreshing the page the CSS transitions will run, giving a "slide in" effect.

This doesn't happen when just using `./bin/webpack`, just with `./bin/webpack-dev-server` I'm guessing due to that it's inlining the styles differently, so they aren't loading until after the page has loaded.

[2018-08-09 15:02] #1642 closed

[2018-08-09 15:03] njgingrich commented on #1642
If anyone comes across this closed issue later, I seem to have fixed it simply by changing `packs/styles.scss` to `packs/styles.js`, changing the import to `import '../src/stylesheets/application.scss', and then inside the layout changing it to:

[code]

[2018-08-10 07:30] Owumaro opened #1645 "Install generator appends content to .gitignore without newline at beginning"
https://github.com/rails/webpacker/blob/8ca372dc500d16a2343aaade7646647aac6925b3/lib/install/template.rb#L41

If you have a .gitignore file not ending with a `\n`, the `webpacker:install` command will write right after your last line.

Ex:
[code]
Will become :
[code]

[2018-08-10 08:15] #1634 closed

[2018-08-10 12:50] antoinematyja commented on #810
Hi, not sure if this is related but I ran into a similar issue (same logs "No such file or directory node_modules/.bin/webpack (Errno::ENOENT)") on a project that I updated from Rails 4.2 to Rails 5.2.

After digging, here is what was happening:
- Running `rake assets:precompile` runs a hook to install yarn packages. If the task `yarn:install` exists, it will use it, otherwise it will use `webpack

[2018-08-11 17:50] bbugh commented on #1453
A better temporary solution since `vue-loader` v15 fixes a bunch of bugs including the [css-out-of-order in production bug](https://github.com/vuejs/vue-loader/issues/808) is to add to environment.js

[code]

[2018-08-12 21:33] pinkynrg opened #1649 "Single entry point and slow transpiling performance"
Is it possible to set a single file as entry point in webpacker?

in my other webpack configs i have something like the following:

[code]

I don't get how I can my webpacker configuration to behave like the above:

[code]

I tried to just type in the name of the file for my source_entry_path but that doesn't seem to be sufficient.

[2018-08-12 21:36] renchap commented on #1649
Each file in your `packs/` directory will become an entrypoint. If you only want one, just put only one file in `packs/` (and import your other files located outside of this directory)

[2018-08-12 21:47] pinkynrg commented on #1649
I was trying to do that cause it seems like the compiling process is kind of slow using webpacker and i don't know what part of the configuration is doing this.

Right now i'm only transpiling a div block with a "Hello" content and it takes almost 4 seconds.

[code]

[2018-08-12 23:28] sshaw commented on #1562
I cannot install this in an existing 4.2 Rails application:

[code]

[Docs need to mention](https://github.com/rails/webpacker#installation) that if `rails new` is not used...
one must manually add `config/webpacker.yml`

[2018-08-12 23:29] sshaw commented on #1562
Note that this does not work in 4.2. One must use Rake.

[2018-08-13 07:41] renchap commented on #1649
Can you share the content of your `packs/` directory?

[2018-08-13 11:52] bbugh opened #1650 "Vue CLI 3 for webpacker 4"
Vue CLI 3 was fully released recently, and it's a *huge* upgrade in quality for developer experience. Way less webpack, better command line tools, and plugins that don't require ejecting, so it's very simple to add things to the setup. It's the most "convention over configuration" system I've seen in javascript land.

Having the webpacker install a Vue CLI 3 setup instead of the old style would be

[2018-08-13 14:45] cw2908 commented on #1427
I had this issue but also solved by `kill`ing the processes running here: `ps -x | grep webpack`

[2018-08-13 14:56] FFEVER opened #1651 "Refused to execute script from because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled."
Hello, I'm having a problem with deploying on aws elasticbeanstalk.
On localhost it runs normally but when deploy to eb I got this error.
- on chrome
<img width="444" alt="screen shot 2561-08-12 at 11 16 49" src="https://user-images.githubusercontent.com/23529513/44038795-cd3facd0-9f41-11e8-80d9-b5ac5ee0f1ad.png">

- on safari
<img width="745" alt="screen shot 2561-08-12 at 17 44 56" src="https://

[2018-08-13 15:26] pinkynrg commented on #1649
Currently I only have this sample file:

[code]

Maybe it appears "slower" because the JSX is getting transpiled only when I refresh the page? I normally watch the files? How can I watch the files so they continuously get transpiled?

[2018-08-13 18:28] pinkynrg commented on #1649
solved by using ./bin/webpack-dev-server which seems to be much faster than the lazy transpiling solution.

[2018-08-13 18:28] #1649 closed

[2018-08-13 18:31] pinkynrg opened #1652 "Importing global css into JS app doesn't work"
My javascript (app/javascript/packs/app.jsx):

[code]

My CSS (app/javascript/css/app.scss):

[code]

Transpiling using `./bin/webpack-dev-server`.

The div doesn't seem to get style from the style.scss.

[code]

[2018-08-13 18:51] pinkynrg commented on #1652
It seems like the only way I can make in work is to insert `<%= stylesheet_pack_tag 'app' %>` in my `application.html.erb`.

[2018-08-14 04:38] richjdsmith opened #1655 "Possible to use Stimulus and Erb simultaniously?"
As implied in the title, if I have a project that already has Stimulus and Webpacker installed, is it possible to add Erb support in the Stimulus JS templates,by running ` bundle exec rails webpacker:install:erb `?

[2018-08-14 09:27] renchap commented on #1652
Yes, this is expected. Webpacker configures Webpack to generate a separate CSS file (except when using hot-reloading), so you need to include it as well as your JS pack file.

[2018-08-14 10:32] freezepl commented on #1652
@pinkynrg were you able to have scss files in one css bundle when you compile assets in production ?

[2018-08-14 23:02] danielpowell4 commented on #1610
I'm confident that these were included on purpose.

the babel present is needed so that the jsx can be parsed during precompilation

`prop-types` is very standard, good practice, and enforced by most all react minded linters like [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react)

[2018-08-14 23:10] danielpowell4 commented on #1593
Unless you have a pressing reason to do otherwise (per changelog and your project's requirements), I personally would just go for the 4x release. It has webpack 4, which is the latest and greatest.

I've been using the 4.x prerelease for a few months in production now with no major issues.  My use case is pretty standard react app with a vendor chunk and a source map but little else that isn't 100

[2018-08-15 00:02] timhwang21 commented on #1610
I know what they do, just wondering why they are dependencies and not devDependencies.

[2018-08-15 00:05] jclif commented on #448
Any update on this?

[2018-08-15 11:22] Iovcik opened #1657 "[HMR] Waiting for update signal from WDS..."
[WDS] disconected

I can't understend what i have to do. Help me  pls!

[2018-08-15 12:45] francovegini commented on #422
just make
`npm rebuild node-sass`

[2018-08-15 13:54] #1641 closed

[2018-08-15 16:57] danielpowell4 commented on #1610
Ah I misunderstood the question

I'm certainly not the authority, but think the idea was that they are both fairly safe, standard defaults.

In terms of babel, I believe that including the plugin as dependency vs devDependency was probably done so that precompilation runs in a `Rails.env == 'production'` environment without issue.

In terms of `prop-types` the bundle size reduction [would be minim

[2018-08-15 19:50] njgingrich opened #1659 "stylesheet_pack_tag not outputting a <link> tag in stage environment"
Everything works as expected in development - CSS loads with HMR. But in our stage environment, there is no `<link>` tag produced inside the `<head>`, so no styles are displayed. The CSS is bundled and is inside the `manifest.json`, and if I include the tag manually myself it is imported, but it is not automatically generated.

I have two packfiles: `application.js` and `vendor.js`

`packs/applica

[2018-08-15 19:58] #1659 closed

[2018-08-16 13:51] mattgrande opened #1661 "Having trouble getting Webpacker running in TravisCI"
I'd like to get my app "running" in Travis so I can run E2E tests on in, but webpacker is refusing to run.

My travis file is pretty simple:

[code]

but I'm getting this error:

[code]

Here's my concerns:

1. I shouldn't need to reinstall webpacker on the CI; Everything's in git
2. I have a `config/webpacker.yml` in the repo as well, so there should be access to it
3. I tried adding a `config/we

[2018-08-16 14:44] JakeLaCombe commented on #1623
Also, I just noticed something. It looks like the postcssrc.yml file need was removed in this commit (https://github.com/rails/webpacker/commit/31d9ec051e297a6dbe7f9238b69a451814289963) making my last pull request extraneous.

[2018-08-16 22:34] jclif opened #1662 "Service Workers"
I've seen a few closed issues for service worker support, with some comments on the difficulty or serving them at root. Has any work been done to more deeply integrate support for service workers?

[2018-08-17 16:25] tyvdh opened #1663 "CSS z-indexes are getting compressed"
Locally I can set a z-index of 10 but when I run through production it get's compressed to 3. Apparently this is a cssnano thing but it doesn't appear you are utilizing cssnano. Any idea where this could be coming from and how I could disable this behavior?

[2018-08-17 16:34] tyvdh commented on #1663
Worth noting if I roll back to 3.5.3 it's no longer an issue.

[2018-08-17 23:11] MrSkinny opened #1664 "Weirdness of stylesheet_pack_tag target and importing SCSS"
Hi! Although I have the setup working, I don't understand what's going on and would love some clarification:

The README says to structure as below assuming you have various modules you want to pull in via the `javascript_pack_tag`
[code]

Now I want to use SCSS for my style sheets. My understanding with Webpack's loader is that you want to import your SCSS entry file from your JavaScript, e.g.

[

[2018-08-18 12:29] bragovo commented on #1662
I add plugin https://github.com/goldhand/sw-precache-webpack-plugin
Main problem here https://github.com/GoogleChromeLabs/sw-precache/blob/master/lib/sw-precache.js#L54 — pw-pecache can't find compiled file in filesystem and I dont know how to fix this for dev env. All other thing works fine.

[2018-08-18 12:59] renchap commented on #1664
A pack file needs to be a JS file. You can remove your `packs/foo-module.css` file. If a CSS (or SCSS) file is a dependency (import, direct or indirect) of `packs/foo-module.js` then a `foo-module.css` file will be created by webpack and you will be able to include it using `<%= stylesheet_pack_tag 'foo-module' %>`

Note: if you are using HMR, the CSS file is not generated in development (and `sty

[2018-08-18 14:58] MrSkinny commented on #1664
Thanks @renchap. I was certain I deleted `packs/foo-module.css` and got a `stylesheet_pack_tag` error at some point while setting this up, but I just did as you said, and everything still compiled fine. There must have been something else wrong in the tree somewhere that I didn't notice at the time. Thanks for clarification on JS only in the `packs` dir.

[2018-08-18 14:58] #1664 closed

[2018-08-18 21:28] yukas commented on #822
For me moving the `fakeweb` gem from `:development, :test` group into the `:test` group solved the issue.

[2018-08-19 08:07] wonderer007 commented on #945
@heavenlypeach Thanks!

[2018-08-20 08:36] PikachuEXE opened #1665 "manifest.json file permission issue"
I am running dev server with foreman
[code]
And I start the server with
`rvmsudo HTTPS_PORT=443 HTTP_PORT=80 foreman s -p 80 -f Procfile.dev`
to use the "correct" ports locally

However after the server start the `manifest.json` generated is always owned by `root`
And removing it always require entering password

Is there anyway to remove it after server shutdown etc?

Edit 1: Fix foreman command

[2018-08-20 18:40] Hamada92 commented on #544
when I try Chrome Audit tool, it says JS can use more minifying.

[2018-08-20 18:47] Hamada92 commented on #544
<img width="741" alt="screen shot 2018-08-20 at 2 46 41 pm" src="https://user-images.githubusercontent.com/20448796/44360134-eab3eb00-a487-11e8-9a8f-f546e4de5c24.png">

[2018-08-20 19:46] renchap commented on #544
Can you provide the URL of a sample file? Did you build it with the production config?

[2018-08-20 20:11] Hamada92 commented on #544
https://www.coursemate.io/packs/application-d7b96eefba522259c780.js

Yes, NODE_ENV is set to production in my environment variables.

[2018-08-20 20:29] Meekohi commented on #1663
I am seeing the same issue, presume it is related to: https://github.com/vuejs-templates/webpack/issues/614

[2018-08-20 20:31] Meekohi commented on #1663
I'd guess there is some way to pass `safe: true` down into the CSS processing from `vue-loader` but I can't tell how to do that exactly.

[2018-08-20 20:57] Meekohi commented on #1663
Based on other PRs that have been accepted, I suspect that upgrading to `vue-loader` v15 will fix this problem, but the migration path is pretty complicated. I spent some time on it, but getting cryptic errors:
[code]
and not sure how to proceed. Not sure I understand the purpose of webpacker obfuscating the actual webpack config file behind `environment.js`, makes it very hard to modify or debug.

[2018-08-20 20:58] Meekohi commented on #1663
see also: `vue-loader` migration guide at https://vue-loader.vuejs.org/migrating.html

[2018-08-20 21:25] tyvdh commented on #1663
I’m going to echo this as my biggest gripe with webpacker. It’s very difficult to tweak as everything seems to be overwrites rather than actually setting or adjusting from the ground up. There may be legitimate reasons for this design choice but it makes this package a pain to use even if it is still the best way to get webpack into a Rails app

[2018-08-22 02:04] Hamada92 commented on #544
@renchap any luck?

[2018-08-22 09:26] renchap commented on #544
The file looks minified. I am not sure how Lighthouse calculated the gains you can have. After running your file through uglify 2, I get a 9% reduction, but I guess this is because you are not using the latest Uglify version.
I really think this is a Lighthouse problem here.

[2018-08-22 15:47] fernandes commented on #1284
@mayordwells facing the same problem here, still investigating... no progress at all :/

[2018-08-22 16:12] gauravtiwari commented on #1284
@mayordwells @fernandes Please could you double check if there is any circular dependency in your app i.e. if a pack file is being used elsewhere (CSS pack or an image)?

[2018-08-22 16:35] fernandes commented on #1284
hi @gauravtiwari

actually mine is a SPA, I just use the tag on a view and runs the SPA, would fall in this case you mentioned?

ps: I'm just having this problem when building at heroku, locally works fine (consuming 1.1GB when building the `RAILS_ENV=production rake assets:precompile`, but works heheh)

thank you for your reply

[2018-08-22 16:45] mayordwells commented on #1284
We fixed this problem by restructuring our frontend app. I think this was the root of the problem. Now our app is running on the bleeding edge version of webpacker v4.0.x
The packs folder should only contain the entry file `application.js`

The structure of the frontend folder generated by webpacker now looks like this.
`javascript/packs` inside the packs folder we have the entry file `application

[2018-08-22 16:47] gauravtiwari commented on #1284
@mayordwells We have documented this briefly here: https://github.com/rails/webpacker#usage (but maybe need to be a bit more clear). Could you please make a PR?

[2018-08-22 16:49] gauravtiwari commented on #1284
@fernandes If it's one pack file then probably not, but worth checking rest of the app (in case there is a circular dependency there)

Sounds like there is some problem in structuring ^^

[2018-08-22 16:51] mayordwells commented on #1284
@gauravtiwari yes I can send a PR, no problem. Will try to update the documentation.

[2018-08-22 18:12] fernandes commented on #1284
@gauravtiwari mine structure is like @mayordwells commented

`app/javascript/packs/app.js`

all other files inside: `app/javascript/src`

not sure what's happening

[2018-08-22 21:59] shama009 commented on #1624
@drusepth I am kind of running into similar issue. I am new to ruby on rails and using webpack for the first time. Trying to enable webpack on existing rails application. I am using webpacker gem for rails and installed using “rails webpacker:install”. It created all config files to use webpack. Ideally it should install all required dependencies too but a few were missing(babel plugins) I did tha

[2018-08-22 22:45] Hamada92 commented on #544
On another application, I installed PageSpeed module, and lighthouse got happy and no complains. I will dig into this and report my findings later.

[2018-08-23 07:28] PikachuEXE commented on #1665
I switch to Nginx with sudo to forward ports

[2018-08-23 07:28] #1665 closed

[2018-08-23 15:42] Lasvad commented on #1500
would upgrading the Webpacker v4 also bring in webpack v4?

[2018-08-23 15:45] gauravtiwari commented on #1500
@Lasvad Yes :)

[2018-08-23 19:40] friendz708 opened #1666 "Invalid Host"
I am having problem in my php script. problem is as while visiting websites:

Warning: mysql_connect(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most likely misspelled the timezone identifier. We selected

[2018-08-24 13:44] ngw opened #1668 "Elm integration broken"
Since the release of Elm 0.19 elm integration on webpacker is broken.

https://gist.github.com/ngw/0bc000fdf484a70dbc9693142790d2f0

[code]

Gemfile.lock: https://gist.github.com/ngw/4aa6e1ebb4de91c464554c91665f9625

[2018-08-25 14:15] noelrappin commented on #1668
This is probably blocked until elm-webpack-loader updates https://github.com/elm-community/elm-webpack-loader/pull/142

[2018-08-25 15:13] a-barbieri commented on #1441
I ended up following @somebody32 suggestion (Ruby on Rails 5.2.1, Webpacker 3.5.5).

A thing that I found out is that **it doesn't work if you don't remove `yarn.lock` and `package-lock.json` files from both local and remote server BEFORE precompiling your assets**.

Here's the sequence I followed:
1. remove `yarn.lock` and `package-lock.json` from local machine and from remote server.
1. on your

[2018-08-26 00:55] virgil0116 commented on #1652
Has the problem been solved？I had the same problem in vue.
My JS (app/javascript/packs/admin.js):
[code]
My CSS  (app/javascript/packs/styles/index.scss)
[code]
and it doesn't work.

[2018-08-26 01:26] virgil0116 commented on #1268
@Capitalsav your method is right.thank you very much.You're a genius

[2018-08-27 09:44] #1268 closed

[2018-08-27 15:26] iurevych commented on #956
@jasonkarns just found out there is a separate set of options for that – [link](https://github.com/rails/webpacker#development). In your case:
[code]

[2018-08-27 15:34] jasonkarns commented on #956
@iurevych thanks!

[2018-08-28 08:31] grk commented on #1655
This should work, `webpacker:install:erb` makes changes to the global webpack environment config. You'll just have to remove the example `hello_erb.js.erb` file.

[2018-08-28 08:51] grk commented on #1632
This is more of a general Rails issue than webpacker related.

I'm assuming you're serving the assets with Rails. If so, you can control the cache headers by adding this to `config/environments/production.rb`:

[code]

[2018-08-28 08:53] gauravtiwari commented on #1632
thanks @grk

Closing...

[2018-08-28 08:53] #1632 closed

[2018-08-28 15:54] fernandes commented on #1284
just giving a follow up, in case can help someone in the future... `webpack-dev-server`, was indicating some `[big]` packs, and as I have an `app` pack (that contains the SPA), was really big... so I checked:

1. all vendor (node_modules) were bundled together
1. some big dependencies like plotly.js

so used [common-chunks-plugin](https://webpack.js.org/plugins/commons-chunk-plugin/), and configur

[2018-08-28 17:19] mayordwells commented on #1284
@fernandes I think you need to watch this. You are going to find a lot of tips in the video - https://www.youtube.com/watch?v=ivQ7HrnBJe8&feature=youtu.be

Thank me later. Good luck.

[2018-08-28 17:43] fernandes commented on #1284
@mayordwells I'm thanking you now! 🙏 heheheh thanks for the advice! I'm gonna watch this in a few minutes

[2018-08-29 15:44] JESii opened #1674 "Webpacker::Manifest::MissingEntryError in Home#index"
I know this question has been asked and answered before, but I haven't been able to get things running with what's already available.

I had a `react-rails` app running, then decided to move to `webpacker`. I replaced the `react-rails` gem with `webpacker` and followed the installation instructions (I allowed the installs to overwrite any old files).

I then moved my code from the asset/pipeline i

[2018-08-29 16:03] elpic opened #1675 "Rails 3 Support"
Is it possible to add support to Rails 3?

[2018-08-29 17:47] JESii commented on #1674
OK; I created a new rails app with --webpack=react in the creation and copied over my files. Now, webpacker creates a manifest file, but does not include my file... Any ffile that's in javascript/packs is included, and nothing else.

Next quetion: How do I get the files in my javascript/components/ directory added?

[2018-08-29 18:07] eduardobvale commented on #1284
@mayordwells My team was struggling with this problem, but restructuring the frontend app did the job. We spent a whole day debugging webpack so we could notice that we had a lot of entry points. Thanks for sharing!

[2018-08-29 19:07] JESii commented on #1674
All right -- figured it out.
`webpacker.yml` as distributed assumes that 'entry' modules are in `app/javascript/packs`. That's because of these two configuration lines
[code]
Once you have your main module here, it all works as expected. See this documentation (for anyone else that comes here)

[2018-08-29 19:07] #1674 closed

[2018-08-30 09:30] djforth opened #1677 "Error messaging when running rake assets:precompile"
When running rake assets:precompile if the compile has any issues you don't get any feedback or error messaging.

To give you a bit more info I had accidentally added a package to dev dependencies, so when I ran:

`NODE_ENV=production rake assets:precompile`

Because the compile step brings in fresh packages and if you specify NODE_ENV=production it won't include the devDependency (or doesn't seem

[2018-08-30 16:42] andrezimpel commented on #1651
Same!

[2018-08-30 16:44] inkhrt commented on #1651
Sorry about that.

On 30 Aug 2018 5:42 pm, "Andre Zimpel" <notifications@github.com> wrote:

[2018-08-30 18:13] rctneil opened #1678 "Remove Post CSS"
How can I remove PostCSS? My app does not require it but it's causing errors due to my use of CSS Custom Properties.

Thanks

[2018-08-31 08:03] #1623 closed

[2018-08-31 09:48] brianlaw033 commented on #1463
@renchap
Do u mind sharing what config is needed in webpack4 so that `import()` will work?

here's my config:

[code]

[2018-08-31 16:11] jpickwell commented on #1439
@n-rodriguez, you've found the culprit. I think the `CI` branch of that function should be used all the time.

Capistrano creates a clone of the latest commit each time you deploy, thus the `mtime` of the files is always going to be different, and the digest will in turn be different.

[2018-08-31 16:14] bjankord commented on #1495
@gauravtiwari Cool! By final release do you mean webpacker v4.0.0 stable release?

[2018-08-31 16:39] gauravtiwari commented on #1495
@bjankord Yep!

[2018-08-31 17:52] jpickwell commented on #1611
relates to #1439

[2018-08-31 18:02] gauravtiwari commented on #1611
@oriolbcn Thanks, that makes sense.

`mtime` works pretty well in development, in fact, it's not needed if one is using dev server or watcher. How about if we keep the `mtime` for on-demand compilation in development but use file digest for precompilation in other environments?

[2018-08-31 22:45] jemminger opened #1681 "All node_modules assets are dumped into public/assets"
I have only 10 runtime dependencies in my package.json.  When I deploy, my public/assets folder balloons to 88+MB because every asset in the whole node_modules tree is copied there.  Is this expected behavior?  It's inflating the size of the heroku slug, and it's taking more than 15 minutes to deploy now no doubt related to having to compile assets from almost 1000 node_module folders.

[2018-08-31 23:07] oriolbcn commented on #1611
Yep sounds good I like the approach it would be clearer than now.

[2018-09-01 00:34] jpickwell commented on #1439
In case anyone is interested, I created a Capistrano task that sets the atime and mtime of all repo files based on commit author date relative to each file.

https://gist.github.com/jpickwell/c5f1e538f047864283a54032c4825996

[2018-09-01 00:35] n-rodriguez commented on #1439
On my side I've monkey patched Webpack ^^ :

[code]

[2018-09-01 08:06] renchap commented on #1681
This is definitely not normal. I think it might be Sprockets copying them, but I am not sure why.

[2018-09-01 18:30] jemminger commented on #1681
Yeah, just checked and I've got another app with supposedly the same setup and it's not happening there.  Guess I'll have a diff party

[2018-09-01 18:30] #1681 closed

[2018-09-01 21:49] quekshuy commented on #1535
This was my workaround:

[code]

[2018-09-02 03:06] ericboehs commented on #1347
@benbonnet I too had this issue and I believe the only thing I changed was setting `YARN_PRODUCTION` to true. It does run `yarn install` twice stioll (once per buildpack) but each only take 2 seconds.

[2018-09-02 03:11] ericboehs commented on #1439
I just noticed this bug yesterday as well. Heroku rebuilds every time and I realized setting `CI=true` fixed it (as well as changing some paths). I think the solution to always use the file contents rather than mtime is also a good idea. I assume mtime was added for performance but computation of a large app seems instantaneous.

[2018-09-03 03:27] vill commented on #1347
I have the same issue with the new package `@fortawesome/free-solid-svg-icons`. Sometimes the compilation was more than 200 seconds.
[code]
The following helps me solve this issue:

1. If you only include the necessary icons

    Slowly:
[code]
    Faster:
[code]
    Faster:
[code]
[code]

2. When you include all styles

    Slowly:
[code]

    Faster:
[code]
[code]

[2018-09-03 17:28] rctneil commented on #1678
Any ideas?  I really need to remove it but am unsure how to do so.

[2018-09-04 02:07] github0013 opened #1683 "rails assets:precompile deletes some @types package ...why?"
[code]
At this point, all @types packages are installed like this.
![7590a39d1828f187774974db72598fd5](https://user-images.githubusercontent.com/809378/45006101-2f1bbb00-b032-11e8-8f55-c51f4acb60c7.png)

Then when I run this command, at `Building fresh packages...`, some @types packages get deleted.

[code]

![7dfde543a12bcef7546c4216c1fb9a85](https://user-images.githubusercontent.com/809378/45006

[2018-09-04 07:42] #1449 closed

[2018-09-04 07:44] gauravtiwari commented on #1683
Because `RAILS_ENV=production rails assets:precompile` re-installs npm packages and removes packages listed under dev.

https://yarnpkg.com/en/docs/cli/install#toc-yarn-install-production-true-false

[2018-09-04 13:37] ytbryan opened #1684 "Gaining access to the rails variables inside js file"
Hi folks,

does anyone know how do I access the rails variables via erb inside a .js file. I am not looking for an alternate solution like using the `gon` rubygem.

From https://github.com/rails/webpacker/issues/1256, I know I can access the ActionController' helpers using:

[code]
How do I print the rails variable (@something) of my index action of Actioncontroller, inside the js.erb?

For instan

[2018-09-04 16:30] dmerand commented on #1668
@ngw Oh it's definitely still broken. I was able to work around it, but it took quite a few manual steps, mostly around new Elm binary commands. Lemme see if I can summarize from memory...

https://github.com/rails/webpacker/blob/master/lib/install/elm.rb is where most of the problems lie, starting at line 25:

[code]

... and then in https://github.com/rails/webpacker/blob/master/lib/install/load

[2018-09-04 16:45] ngw commented on #1668
Can't you turn this into a PR?

[2018-09-05 00:42] #1683 closed

[2018-09-05 03:37] mockdeep opened #1685 "TypeScript loader and tests"
I'm trying to figure out how best to handle Jest tests written in TypeScript, but ignore them at deploy time. If I add them to the `tsconfig.json` under the `exclude` section, TypeScript never checks them. But if I don't exclude them, then I get errors at deploy time looking for dev modules, e.g. `TS2307: Cannot find module 'enzyme'`. Is there a recommended way to handle this situation? I see [som

[2018-09-05 13:30] djforth commented on #1662
sw-precache is pretty old and google now recommend using this - https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin

It's pretty easy to implement into your webpack config, but I don't know about adding it by default, there are so many different ways of setting it up I would think adding it by default might be bit painful without a lot config.

[2018-09-05 13:45] haffla commented on #1684
In a standard (non-Webpacker) `.js` or `.js.erb` file you cannot access controller instance variables either as far as I know.

If you cannot use gon, I guess you have to do it manually and set the variables in the view and access them then in your Javascript.

[2018-09-05 13:48] ytbryan commented on #1684
Yup, I am not looking at non-webpacker setup. Mainly looking at `packs/*js.erb`

I was hoping that Rails' ujs has something available for direct usage.

[2018-09-05 14:07] haffla commented on #1678
A quick and dirty way to do this would be the following in `config/webpacker/environment.js`

[code]

[2018-09-05 14:10] dmerand commented on #1668
@ngw I'm not comfortable turning it into a PR because I'm not familiar with this full codebase, nor do I have time to get that familiar. Running the steps above by hand worked for me, but I'm not set up to test my changes against this entire repo. Hopefully what's there will be helpful to a maintainer in creating a more complete PR.

[2018-09-05 15:52] gauravtiwari commented on #1684
Not sure if that's easily doable unless you extend the `ActionController::Base.helpers` with your own set of helpers, which is a bit repetitive and probably not intuitive if you want to share instance variables - https://github.com/rails/webpacker/blob/master/lib/webpacker/railtie.rb#L64.

Is it not possible to use `data-attrs` i.e. declaring `data-attrs` in the view and reading it back in JS?

[c

[2018-09-05 15:56] gastrulasli opened #1686 ""Jual Obat Aborsi Taiwan 082133289700 Asli""
Jual Obat Aborsi Gastrul Di Taiwan 082133289700
Edit Wednesday, August 29th 2018. | Jual Obat Aborsi

Jual Obat Aborsi Gastrul Di Taiwan 082133289700 – Obat Gastrul adalah salah satu obat penggugur janin terpercaya dengan kandungan zat Misoprostol sebesar 200mg. Fungsi Obat Gastrul yang sebenarnya bukanlah untuk aborsi tetapi bisa juga digunakan sebagai obat aborsi. Obat ini umum sekali digunakan

[2018-09-05 15:57] gauravtiwari commented on #1639
@pwim No that looks correct.

That's strange, where are the fonts being served from - through Rails asset pipeline or part of Webpack? Could you please post errors here (CORS)?

[2018-09-05 15:58] #1686 closed

[2018-09-05 23:09] pwim commented on #1639
The fonts are being served through webpack. Here's an example error message:

[2018-09-06 01:56] jmoon90 commented on #818
I ran into this with Yarn where `brew upgrade` or `gem uninstall` had no effect. The solution for me was to `brew reinstall yarn` and this updated to the latest version and I'm able to install

[2018-09-06 05:51] Welziewagers2015 commented on #1685
script loader

[2018-09-06 07:31] n-rodriguez opened #1688 "bin/webpack broken since last commit"
Hi there!

It seems that the `bin/webpack` command is broken since last commit :

[code]

After some debugging it seems that there is a trailing `\n`somewhere in the Webpack command :

[code]

Thank you!

[2018-09-06 07:32] n-rodriguez commented on #1688
The culprit : https://github.com/rails/webpacker/commit/1142702edafde67e2b8947cfeaa32e0a66ec8965#diff-3cabd9705445f8bfd7d430d71b59068bR13

[2018-09-06 07:45] #1688 closed

[2018-09-06 09:09] tkalliom opened #1690 "Binstub fails to find webpack-dev-server.js"
Webpacker::Runner defaults to using `yarn bin` as the npm module binary path. However, this results in an invalid path with the newline ending the CLI output in the middle of the string.
[code]

[2018-09-06 09:11] tkalliom commented on #1690
Sorry, someone beat me to it :)

[2018-09-06 09:11] #1690 closed

[2018-09-07 10:15] timkrins commented on #286
It seems this issue was purposefully unfixed by https://github.com/rails/webpacker/pull/843

Now there is no ARGV support for webpack-dev-server, and we need to use ENV.

[2018-09-07 12:21] doskarj opened #1693 "vue"

[2018-09-07 12:53] ansonhoyt commented on #1562
I'm running into the same missing `webpacker.yml` error when adding webpacker to an existing rails 5.2.1 app. Seems like a gap.

@gj even after a clean install (`rm -rf node_modules/; yarn`) I don't see a `node_modules/webpack-dev-server`. I also don't see `webpack-dev-server` in `yarn.lock`. Is webpacker missing a development dependency?

@sshaw Using `rake` get a small mention in the readme. Loo

[2018-09-07 14:01] ansonhoyt commented on #1562
After some digging on the stacktrace, it looks like I have a different issue than @zhorn. Sorry for hijacking your issue.

This might help @sshaw. The `webpacker:install` template isn't reached because when rails initializes, the railtie's yarn integrity initializer tries to look up a value in `webpacker.yml` if a `yarn.lock` exists. I simply deleted `yarn.lock` to short-circuit the config file lo

[2018-09-07 14:15] ansonhoyt commented on #1135
This check also breaks adding webpacker to an existing project if `yarn.lock` exists. Running `rails webpacker:install` loads rails, so this initializer tries to fetch :check_yarn_integrity, which loads `config/webpacker.yml`. However, this doesn't exist until after we run this rake task.

I had a chuckle at the error message suggesting I run `rails webpacker:install`:
[code]

We could update the

[2018-09-07 16:50] jnimety commented on #1663
Adding the following in my production.js webpack config fixed the issue for me. Perhaps this should be a webpacker default. FWIW we do not use Vue.

`environment.plugins.get('OptimizeCSSAssets').options.cssProcessorOptions.safe = true`

 It took me a while to figure out which (new) plugin was causing this issue, what webpacker named it, and that it is only included in the production environment. I

[2018-09-07 20:28] jemminger commented on #1568
Same problem, deploying to Heroku

[2018-09-08 01:39] pengliheng commented on #384
in my mind , u should directly resolve  this problem  with   directly  import **element-icons.woff**  file

![image](https://user-images.githubusercontent.com/14355994/45248991-0570d580-b34b-11e8-8bb4-f41a45b9fbf1.png)

[2018-09-09 03:32] JarLowrey commented on #518
@thadeu but it's not uglifying anymore right? Because you removed it from the babel configuration.

[2018-09-09 03:42] JarLowrey commented on #518
Just ran into this problem with Rails 5.2.1 and Webpacker 3.5.5. Setting my babelrc to the following fixed it, but will it still minify with the "uglify" option removed?

[code]

[2018-09-10 08:09] #1668 closed

[2018-09-10 10:27] ngw commented on #1668
The command that generates the error does exactly tha same thing as before, the package hasn't been released so there's no way to validate the fix.

I manually changed loaders/elm.js because AFAIK that is the only way, still in some kind of dependency hell where different parts of the framework (webpack-dev-server, babel) fail with the most cryptic errors possible.

Right now I'm having:

    Modu

[2018-09-10 11:48] sharang-d opened #1695 "Can't find packs when running Rspec"
Ruby 2.3.7
Rails 4.2.10
Webpacker 4.0.0.pre.pre.2

File config/webpacker.yml:
[code]

File config/webpack/test.js:
[code]

Portion of config/environments/test.rb:
[code]

When I run:
[code]

I see:
[code]

The problem is that `pubic/packs-test` is not generated at all when the test is run.

When I run the test like this the problem goes away:
[code]

It seems like the auto-compilation is not happe

[2018-09-10 13:06] klazuka commented on #1668
@ngw that error comes from my `elm-hot` package https://github.com/klazuka/elm-hot/blob/d4bd8be7d266db2fa5ffa145f32c1f3d444b730a/src/inject.js#L35. There's a check for Elm 0.18 earlier in that function, so I don't think the problem is that Elm 0.18 is slipping through. The problem seems to be with finding the place within the huge Elm IIFE to splice the HMR code into. I don't actually use `rails/w

[2018-09-10 16:36] davekerber commented on #1558
Any update on this?  It seems odd that you can only use the production environment to compile assets.

[2018-09-10 17:45] gauravtiwari commented on #1558
@davekerber Sorry about the delay. The idea behind this was to have the same behavior as we have in `assets:precompile` for rails assets. I think that task always compiles in the production mode regardless of environment?

But I see the point, maybe `assets:precompile` should still run `webpacker:compile` in production mode however independently it should respect the environment provided. Would th

[2018-09-10 17:51] christiangenco commented on #506
I was missing a `package.json` file, which wasn't getting initialized when I ran `rails webpacker:install`.

Running `yarn init`, then `rails webpacker:install` added these dependencies:

[code]

and then `bin/webpack-dev-server` worked.

[2018-09-10 18:23] nozpheratu opened #1696 "Staging config is not used"
Using **v3.5.5**, I defined a new staging environment, in `config/webpacker.yml` I have:

[code]

I also have the following in `config/webpack/staging.js`:

[code]

This `staging.js` config does not seem to get incorporated into my pack at all when I built using `RAILS_ENV=staging NODE_ENV=staging bundle exec rails assets:precompile`, one of my packs utilizes this environment-specific variable.

R

[2018-09-10 18:32] nozpheratu commented on #1274
@akaspick Tried that, in either case it's using the settings in `config/webpack/production.js` instead of `config/webpack/staging.js`.

[2018-09-10 22:46] kyleroberthammond commented on #1651
I think its a puma issue in production.

[2018-09-11 17:55] davekerber commented on #1558
@gauravtiwari also sorry for the delay. :)  I agree, it should default to production, and should allow you to specify the environment.  We regularly have staging or demo environments that have different settings from production.  Should it be based on RAILS_ENV or NODE_ENV?

[2018-09-11 18:52] rossta commented on #1696
[Here's the line](https://github.com/rails/webpacker/blob/88a253ed42966eb2d5c997435e9396881513bce1/lib/webpacker/runner.rb#L14) that would determine which `config/webpack/<env>.js` file to use. It might be worth checking to be sure this code gets executed with the right env value when you run the webpack executable.

One possibility that occurred to me is, if you've upgraded from earlier versions:

[2018-09-12 10:11] foucist commented on #756
[code]
I'm brute forcing here because neither moduleSass or moduleCss worked, and by why should I spend time isolating the "right" one?  (they all use postcss-loader). 😭

By the way,  why can't webpacker use webpack.config.js ?

[2018-09-12 10:14] foucist commented on #1678
[code]
Another dirty solution that I came up with.  all 4 of those loaders use postcss-loader, I didn't isolate to the specific one that actually mattered in my case.

[2018-09-12 11:43] stefanvermaas commented on #1622
@tinderfields maybe you could open a PR and update the docs, because it would be super helpful if this information was available there too! Maybe @gauravtiwari has some ideas about the best approach for this?

[2018-09-12 20:04] shelmire commented on #1531
I also had some trouble with the upgrade process.

I did:

[code]
Add gem 'webpacker', '>= 4.0.x' to Gemfile. Then,
[code]

The trouble was with `bundle exec rails webpacker:install`

[2018-09-12 20:43] mhfen commented on #1212
Many teams run assets:precompile on heroku. In fact, it is a standard part of the rails build pack...

It does not. Webpack, babel, etc are dev ops tools. They are not application code. Heroku installs devDeps, so why force everyone to make a bad organization decision and move those to deps?

This should be addressed by the Webpacker team...

[2018-09-13 00:41] dbalatero commented on #1558
Yeah this is killing me too. I'm trying to precompile a test build on my CI server so that the parallel test runners can just pick up and run with the build. If I just defer building to the first integration spec that happens, it throws off the spec timings, which makes it impossible to load balance my test runners based on test time (as random tests will always take `spec time + webpack compile t

[2018-09-13 09:33] subbu opened #1697 "Webpacker fails compiling an unnecessary node-sass test file in a Rails app"
This is a brand new rails app without any code. I am trying to test webpacker in production env. Following is the only code I have in packs/application.js:

    import React from 'react';
    import ReactDOM from 'react-dom';

    ReactDOM.createElement(<div/>, document.getElementById('c'))

My Gemfile is also fairly simple:

    source 'https://rubygems.org'

    git_source(:github) do |repo_name

[2018-09-13 13:30] ljachymczyk opened #1698 "Problem with loading ES6 files outside root"
Hello,

I'm trying to load ES6 JS files from outside project's root directory. It seem to work fine for simple JS (i.e. `console.log('foo');` but fails for ES6-specific syntax.

Here are some details of my specific case. I'm using Stimulus and I'm loading controllers in my pack file:

    // app/javascript/packs/application.js.erb
    const stim = Stimulus.start();
    stim.load(definitionsFromCon

[2018-09-13 17:39] dbalatero commented on #1558
@davekerber happy to help with a PR if you've got too much on your plate!

[2018-09-13 18:10] dbalatero commented on #1558
For the time being, I added a custom Rake task to my Rails project to unblock me until this issue gets closed. Here's the patch if anyone else wants it:

[code]

[2018-09-14 01:59] wittawasw commented on #1536
All the tests passed on Rails 4.1 and I'm able to run it on Rails 4.1.x projects.

[2018-09-14 06:12] shubham9411 opened #1699 "Functional tests without packs assets"
Ruby 2.5.1
Rails 4.2.10
Webpacker 3.5.5
Node: v8.11.4
Yarn: 1.9.4

When i run functional tests it return an error for the pages that uses `javascript_pack_tag` -
[code]
I dont want to compile my assets for the functional tests. Is there a way that we dont required to compile our assets to do the functional tests.

[2018-09-14 07:30] ljachymczyk commented on #1698
Solved. I was missing .babelrc file in the other's project directory.

[2018-09-14 07:30] #1698 closed

[2018-09-14 09:38] mikker opened #1700 "FrozenError: can't modify frozen Array when adding devServer middleware"
I have no idea why but somehow, in one of my projects, `app.middleware.middlewares` is frozen when Webpacker tries to insert its devServer middleware.

I've _"fixed"_ it by `dup`ing the array (see https://github.com/rails/webpacker/compare/master...mikker:frozen-middlewares).

I've tried disable some gems and the like but haven't been able to find the culprit yet.

---

Ruby: 2.5.1
Rails: 5.2.1
We

[2018-09-14 11:59] gauravtiwari commented on #1700
Hey @mikker

Are you eager loading code in development?

[code]

[2018-09-14 12:31] mikker commented on #1700
Nope, `config.eager_load = false`

[2018-09-14 16:29] rossta commented on #1700
@mikker Any chance you're using ActiveAdmin `~> 1.4.1`? I've seen similar issues reported elsewhere with that being another common link. That release does some introspection in the app middleware that could be a root cause, though I wasn't able to reproduce the issue myself.

* rails/rails#33745
* sferik/rails_admin#3060
* rossta/serviceworker-rails#59

[2018-09-14 17:31] ndesorden commented on #1274
Same here, NODE_ENV, RAILS_ENV to staging, in webpacker.yml a

Same here, with gem webpacker & @rails/webpacker 3.5.5.
I've a staging entry in webpacker.yml and for compilation webpacker not using staging.js, always using production.js

[2018-09-14 17:54] ndesorden commented on #1696
Same issue here. Thanks to @rossta , i've debugged NODE_ENV in runner.rb and has **production** as value!!!! Now trying to find who/where is changing NODE_ENV

[2018-09-14 18:18] ndesorden commented on #1696
Ooops, the compile rake task has hardcoded "production". Amazing ;-)

[code]

[2018-09-15 13:59] #1693 closed

[2018-09-15 22:13] dreyks commented on #1696
i think hardcoding was the way to decouple NODE_ENV and RAILS_ENV and still retain the rails-magic in making it just work for assets:precompile in production

[2018-09-17 07:02] nezirz commented on #945
My fix was running this line inside mina deployed current dir 'RAILS_ENV=production bundle exec rake assets:precompile'

[2018-09-17 15:11] fowkswe opened #1701 "CSS position: sticky"
Hi,

I'm not even sure if this is the right place for this, but I thought I'd start here before diving into the webpack fundamentals.

It seems like something with the webpack config is breaking position: sticky.  My uniformed guess is that it relates to something getting injected into the DOM for hot reloading, but I can't find any such thing in web inspector.

I've created an example here:

http

[2018-09-17 18:03] jfahrer commented on #1606
@Piioo Did you ever figure out how to define the location of node_modules with webpacker?

[2018-09-17 22:45] dbalatero opened #1702 "Log webpack compile result when running rake webpacker:compile"
Hey all!

When I run `rake webpacker:compile` I would love to see the output of Webpack written to stdout. This would assist in debugging hard-source-webpack-plugin caching on CircleCI, among other things.

What do you think about a config option for this? I see that stdout is already captured, so optionally printing it given a config variable would be pretty easy to add:

https://github.com/rails

[2018-09-17 22:46] dbalatero commented on #1702
[code]

or something

[2018-09-18 07:52] gauravtiwari commented on #1702
@dbalatero Thanks, yes please feel free 👍

[2018-09-18 11:01] sandeepravi commented on #1536
yeah it did work, just had to fix the dependencies.

[2018-09-18 11:01] #1536 closed

[2018-09-18 11:04] #1604 closed

[2018-09-18 16:07] dreyks commented on #1531
@gauravtiwari is there a roadmap to stable 4?

[2018-09-18 20:56] danielpowell4 commented on #1701
Per the demo you linked, position sticky seems to be working fine for me (at least in firefox)

1. git clone...
2. bundle
3. yarn
4. bundle exec foreman start

![demo in firefox](https://user-images.githubusercontent.com/15863213/45715242-fc54e500-bb50-11e8-926e-b5818794f727.gif)

Wonder if you are running into a browser compatibility issue:
https://caniuse.com/#search=position%3A%20sticky

Depend

[2018-09-18 21:02] danielpowell4 commented on #1697
Don't mean to be ignorant but are you sure that `bundle` and `yarn` are both being run?

Seems like the issue is coming from sprockets (not webpacker)

Could you post in your `package.json` or a sample app to better be able to debug?

[2018-09-18 21:03] fowkswe commented on #1701
@danielpowell4  Thanks for the response and for looking into it!

I definitely weighed if this was the right place for it - but truly believe its a webpack(er) issue.   I should probably address it in the webpack project, but I'm less familiar with setting up a pure JS project to demonstrate.

In the image you posted the stuck text is in the HAML markup.  You'll see the part rendered by Vue (thus

[2018-09-19 00:07] danielpowell4 commented on #1701
@fowkswe Sorry for my misunderstanding the example. Dug a bit deeper... is most certainly not a webpacker issue.

What is happening is that unlike many CSS properties, position is not inherited by default (it doesn't cascade ever downward)

 This means that the elements inside of your nav in the example (ul, li, p etc) have a default of `position: static` which comes from the browser. [More info](

[2018-09-19 07:04] codingiam commented on #1661
I've also run into this error message:

[code]

So, I tried:
[code]

and it worked.

It looks like this happens when your RAILS_ENV has a value that's different from `development` and you're trying to start the dev server. This happens even when `config/webpacker.yml` has `dev` defined.

[2018-09-19 08:30] gauravtiwari commented on #1661
@codingiam If you need to use dev server in test, just copy the configuration from development to test as well, the above checks if dev server configuration is present before starting it.

[2018-09-19 13:59] fowkswe commented on #1701
Hey @danielpowell4 thanks so much for suffering my silly question with the great answer!  :)

I'm still having problems with the `position: inherit` - would you mind sending me a pull request of your changes so i can try to replicate?

[2018-09-19 20:00] danielpowell4 commented on #1701
I posted the file in an issue https://github.com/fowkswe/teststicky/issues/1

Good luck

[2018-09-19 20:07] danielrose7 commented on #1675
If you're up for a challenge, you could file a PR. However as Rails 3 is officially unsupported,  I think it's safe to say that webpacker won't be delivered to or maintained for Rails 3 apps.

If it's ES6 that you're after, here is a sample of what I was using on a project I work on go onto Rails 4 about a year ago using Browserify:

https://gist.github.com/danielrose7/39b94a16d763090ad69d57f32b8a

[2018-09-20 02:47] indahwii opened #1703 "croppie"
I want to make croppie that has a lot of max 10 to crop photos automatically when cropping 1 then crop crop appears then up to 10

[2018-09-20 02:48] indahwii opened #1704 "croppie"
I want to make croppie that has a lot of max 10 to crop photos automatically when cropping 1 then crop crop appears then up to 10

[2018-09-20 18:03] rahymov commented on #1523
bin/yarn install worked for me

[2018-09-21 08:57] Piioo commented on #1606
You have to set the node_modules path in:
NODE_PATH
.yarnrc

[2018-09-21 09:39] remylagerweij opened #1705 "PostCSS does not load SCSS dependencies"
When importing an **SCSS** module from my packages like `import '@material/react-button/index';` it seems like **PostCSS** doesn't load their respective dependency as it needs `@material/base/mixins` to load.

The file `node_modules/@material/base/_mixins.scss` is present in the `node_modules` folder. So I really can't figure out why it won't read or import the respective file.

## Environment.js

[2018-09-21 15:29] liamdefty opened #1706 "Vulnerable Module: Mem"
It appears that in the latest stable version there is a vulnerable module installed. The `mem` package needs to be updated to version 4> but is currently on 1.*.

![image](https://user-images.githubusercontent.com/15612152/45890684-7be5ec80-bdbb-11e8-9d62-2a18b9e4cf5a.png)

[2018-09-21 17:57] pyrabbit commented on #354
I have had a similar issue with Turbolinks not being loaded on certain edge cases. I had to add the code at the bottom of the javascript file being imported by my `javascript_pack_tag` my get it to work consistently without error.

`
if (!Turbolinks) {
    location.reload();
}

Turbolinks.dispatch("turbolinks:load");
`

[2018-09-22 06:34] sharang-d commented on #1695
@gauravtiwari Any pointers you can offer?

[2018-09-22 15:13] kjleitz opened #1708 "Typescript loader `test` regex marks `.ts` extension as optional"
See the following:

[code]

[code]

The file `test` regex (`/\.(ts|tsx)?(\.erb)?$/`) marks the TypeScript file extension as optional (`...s|tsx)?(\.e...`). Is there a reason it's that way, and not `...s|tsx)(\.e...`? None of the other loader templates mark their respective extensions as optional in their test regexes, and removing the `?` doesn't seem to affect compilation in my own project.

Is t

[2018-09-23 04:50] vincentwoo commented on #1700
I'm also seeing this with RailsAdmin 1.4.1 but not 1.4.0. It seems likely this commit (https://github.com/sferik/rails_admin/commit/59478af9a05c76bdfe35e94e63c60ba89c27a483) is responsible, but I can't for the life of me figure out why.

[2018-09-23 09:42] mshibuya commented on #1700
Sorry to bother you, RailsAdmin 1.4.2 is out with the fix for this:
https://github.com/sferik/rails_admin/commit/94928d1de7cf6fd01ee19ed7a94f17c91e19282d

[2018-09-24 02:56] madroneropaulo opened #1709 "Babel not transpiling"
My question was marked as duplicated on stackoverflow, and pointed to babel. But I think this is a webpacker config issue.
https://stackoverflow.com/questions/52452172/rails-5-2-1-webpacker-babel-not-transpiling-react

[2018-09-24 12:38] tonytee50 commented on #368
In what file do you put the stylesheet_pack_tag?

[2018-09-24 16:42] tgsoverly commented on #1627
I have a use case with multiple engines that the idea of having the code in the respective engine would be much better from a developer perspective than navigating up to the highest level and then back down.

[2018-09-24 19:43] arkhamRejek commented on #1695
we manually compile our packs before running our specs. It never worked otherwise

[2018-09-24 23:03] danielpowell4 commented on #1709
https://stackoverflow.com/questions/33460420/babel-loader-jsx-syntaxerror-unexpected-token

Are you sure you have run `bundle` and `yarn` recently?
Are you also sure there isn't a linter issue? I run my code through prettier with a [pre-commit hook](https://prettier.io/docs/en/precommit.html)

Typically speaking `jsx` is an unnecessary file extension. `js` works fine. Per [the prophet](https://twi

[2018-09-24 23:20] danielpowell4 commented on #1640
As far as I can see, the name is collected here:

https://github.com/rails/webpacker/blob/af471dcb4ae32cfebd43dc5ad4d037b7fe6d00fc/package/environment.js#L46

and then output here:

https://github.com/rails/webpacker/blob/af471dcb4ae32cfebd43dc5ad4d037b7fe6d00fc/package/environment.js#L65-L66

To change this, you'd need to overwrite in your app by merging on top of the default config. The best pla

[2018-09-25 00:32] madroneropaulo commented on #1709
Thank you... the problem was the dependencies. babel-preset-react  turns out should be on "dependencies" and not "devDependencies". I thought the dependencies are meant for runtime and thought that webpack builds everything beforehand... I have to read how webpacker works. Thank you again!

[2018-09-25 00:32] #1709 closed

[2018-09-25 07:34] benoist commented on #1683
@gauravtiwari is there a way to keep the dev packages when precompiling?
Every time I run the precompile before deployment, I have to reinstall the dev package before I can continue with development.

[2018-09-25 08:03] sharang-d opened #1710 "Documentation for contributing"
I could not find any documentation for contributing to the project.

Can we add some information to README.md to communicate this or create a new file like [CONTRIBUTING.md](https://github.com/rails/rails/blob/master/CONTRIBUTING.md)?
At least the basics like running yarn lint/test, etc.

[2018-09-25 08:14] kfrn opened #1711 "Elm installer not working"
Hi there,

When I generate a new Rails app with Elm via `rails new my-project --webpack=elm`, I run into the following error:
[code]

This looks to be an Elm version problem - webpacker is using 0.19, but somewhere in there is the command `elm package install`, which became `elm install` in 0.19.

For context, I'm on Rails 5.2.1, yarn 1.9.2, and Elm 0.19.

[2018-09-25 09:18] gauravtiwari commented on #1683
Hey @benoist Hmm, don't think so, unless you run the `RAILS_ENV=production rails webpacker:compile` directly but that won't precompile sprockets assets :(

The other way is to customise `assets:precompile` task and remove enhancements that way you can run two tasks separately.

[2018-09-25 09:19] gauravtiwari commented on #1710
Thanks @sharang-d

Could you please open a PR and we can work on this?

[2018-09-25 09:22] gauravtiwari commented on #1695
@sharang-d Thanks for reporting and sorry for the delay, I will take a look at this later today. Are you using latest master branch?

[2018-09-25 09:30] sharang-d commented on #1695
@gauravtiwari No, I'm using:

[code]

and
[code]

[2018-09-25 09:33] sharang-d commented on #1695
Thinking about it some more I don't think this is a problem for the project I'm working on anymore because auto-compilation of packs would actually hurt the test time as tests are split across containers on CI and the precompilation will occur on every container. I'm gonna turn off auto-compilation for the test env.

However, the bug still stands.

[2018-09-25 09:34] sharang-d commented on #1710
Sure!

[2018-09-25 13:46] Clarencef commented on #1652
I also encountered this problem, when production build run by webpacker, the ElementUI css file imported at entry js file not been compile into main css correctly.

Files structure:
<img width="500" alt="screen shot 2018-09-17 at 11 41 27 pm" src="https://user-images.githubusercontent.com/7106379/46018310-250a4b00-c10c-11e8-9832-3d94d2900ce0.png">

Packages:
<img width="295" alt="screen shot 2018-

[2018-09-25 15:13] bjankord opened #1713 "Milestone for v4 release?"
Might be helpful to add a milestone for the v4.0.0 release so people can get a sense of where things are at on the project, what all is still left to get in v4.0.0, etc.

[2018-09-26 11:18] zernie commented on #1713
Agreed, that might prompt some people (including me) to work on the issues that need to be resolved before 4.0.

[2018-09-26 12:31] gauravtiwari commented on #1713
Thanks @bjankord @zernie for the help.

I will go through the issues and put them under 4.0 label so we can work on it, thanks again. If you could help clean up the issues list that would be great too.

[2018-09-26 12:32] gauravtiwari commented on #1661
Is this still an issue?

[2018-09-26 14:36] mattgrande commented on #1661
No; I don't quite understand it, but if I set `RAILS_ENV=development`, everything works fine... Even if my test env matching my dev env exactly.

This leads me to believe it's something, somewhere, in my configuration, and it's just a matter of figuring out what.

Thanks for the help, @codingiam!

[2018-09-26 17:06] jfangrad opened #1714 "Babel 7 Support Release"
Hey, I noticed that master has been updated to use Babel 7. Is there a timeline on releasing a new version with the Babel 7 included? I need babel 7 support to pull in a new module to one of my projects and can't do so until webpacker is updated.

If not would it be possible to do a pre-release version?

[2018-09-26 21:16] swrobel commented on #1714
Duplicate of #1713

[2018-09-26 21:56] atz commented on #405
The way to nullify an existing rake task prior to redefinition (which otherwise appends, as commenters found out) is:

[code]

[2018-09-27 17:40] s1mpl3 commented on #1284
This issue has been driving crazy and I have spent way too many hours trying to address it.
The video sent by @mayordwells  has been priceless (thank you). In particular from that video, what did the trick for us was to move every exportable component and library **outside the packs** folder (ex. javascript/components vs javascript/packs/components) and leave only the .jsx files that call ReactDOM

[2018-09-28 17:46] kjleitz commented on #1651
I've had the same issue, which only seems to arise when it's deployed to a production (or production-like) environment, **when using a CDN.** Sometimes I can refresh a few times and finally get a successful response, but then subsequent refreshes have the same issue and it takes a bunch to get it to load. It doesn't happen with our other compiled assets (from the traditional pipeline in `public/as

[2018-09-28 17:46] kjleitz commented on #1651
@FFEVER did you ever figure this out?

[2018-09-28 22:09] danielpowell4 commented on #1705
Can you post a minimal sample app where the error occurs so this is easier to help you debug?

[2018-09-28 22:36] danielpowell4 commented on #1573
I know this went stale long ago but in case you are still curious:

webpacker compiles bundles that can be included client-side (in pack_tags) _rather_ than running rails-y views that are executed as a response to a controller action

This means that the pattern you're using will need to change.

If you want to do things in javascript without page refreshes, you will need to move towards an ajax-y

[2018-09-28 22:48] danielpowell4 commented on #1624
@shama009 did you ever have any luck? My guess is that you have moved on to other things, but if not, I'm happy to try and give you a hand!

[2018-09-29 09:15] wukong1995 opened #1717 "upgrade webpacker to version 4, why install @rails/webpacker@3.5.5"
i upgrade webpacker to version 4, and run `bundle exec rails webpacker:install`, why install @rails/webpacker@3.5.5 not @rails/webpacker@4.0.0-pre.2

prev version:
[code]

[2018-09-29 11:49] paulupendo commented on #1235
@1st8 How did you fix this? I'm having the same issue.

[2018-09-29 13:42] 1st8 commented on #1235
@paulupendo probably with the solution above: https://github.com/rails/webpacker/issues/1235#issuecomment-362417050

I can check for sure on monday if it doesn't work.

[2018-09-30 12:49] anestik opened #1718 "@rails/webpacker: 4.0.0-pre.2 not updated to the latest master"
Although master has been updated with latest node modules, package has not been updated to npm registry. As a consequence, a conflict is caused with webpack 4 and webpack-cli 2.

This has been referenced in the following issue too.
[https://github.com/webpack/webpack-cli/issues/607](url)

[2018-10-01 07:56] gauravtiwari commented on #1718
Just published - `pre.3` or you can install using the `next`tag. `yarn add @rails/webpacker@next`

[2018-10-01 07:56] #1718 closed

[2018-10-01 07:58] gauravtiwari commented on #1714
Just made another pre-release:

[code]

[2018-10-01 07:58] #1714 closed

[2018-10-01 07:59] gauravtiwari commented on #1717
Thanks @ytbryan

Try pre-release/next tag:

[code]

[2018-10-01 07:59] #1717 closed

[2018-10-01 07:59] #1704 closed

[2018-10-01 07:59] #1703 closed

[2018-10-01 08:03] gauravtiwari commented on #1531
Just made another pre-release (with babel 7 support):

[code]

I will put the milestone in an issue. Mainly, I need to go through all the issues and merge engine support PR.

[2018-10-01 08:04] gauravtiwari commented on #1713
Made a pre-release (with babel 7 support):

[code]

Any help regarding cleaning up issue list would be much appreciated.

[2018-10-01 08:05] gauravtiwari commented on #1495
Made a pre-release (with babel 7 support):

[code]

[2018-10-01 08:05] #1495 closed

[2018-10-01 08:06] gauravtiwari commented on #1500
Made a pre-release (with babel 7 support):

[code]

[2018-10-01 08:06] #1500 closed

[2018-10-01 08:07] gauravtiwari commented on #1502
Made a pre-release (with babel 7 support):

[code]

Also, has test.js included.

[2018-10-01 08:07] #1502 closed

[2018-10-01 08:07] gauravtiwari commented on #1593
Made a pre-release (with babel 7 support):

[code]

[2018-10-01 08:08] #1675 closed

[2018-10-01 08:08] gauravtiwari commented on #1675
Thanks @danielpowell4 ❤️

[2018-10-01 08:22] renchap opened #1719 "Switch to terser-webpack-plugin for JS minification"
UglifyJS2 (also known as `uglify-es`, which supports ES6) is [no longer maintained](https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-392943058). It has been forked into [Terser](https://github.com/terser-js/terser) and `webpack` replaced `uglifyjs-webpack-plugin` with it for Webpack 5: https://github.com/webpack/webpack/pull/8036

I suggest that Webpacker switches to Terser as well as

[2018-10-01 11:29] madroneropaulo opened #1720 "CSS Modules without stylesheet_pack_tag"
According to this https://github.com/rails/webpacker/blob/master/docs/webpack.md#overriding-loader-options-in-webpack-3-for-css-modules-etc

If you want to import any css module, you should manually include it in your view using the `<%= stylesheet_pack_tag 'my_styles' %>` tag.

I couldn't manage to make it work without it, I'm importing the styles as modules `import styles from './my_styles.scss'

[2018-10-01 12:36] toao commented on #1184
@gauravtiwari you are a lifesaver 👍

[2018-10-01 14:46] renchap opened #1723 "PostCSS config file should be provided in loader"
`postcss-loader`'s `options.config.path` has been removed since beta 2.

This breaks compilation when you import some CSS files from `node_modules`. For example I am getting:
[code]

This is fixed by providing the `config.path` option to the loaded.

There have been a few PR around this:
- https://github.com/rails/webpacker/pull/1676 tries to use the default `postcss.yml` when not present
- https:

[2018-10-01 16:39] #1710 closed

[2018-10-01 19:47] francosalcedo commented on #974
Apparently there is no solution.

[2018-10-01 20:34] aganov commented on #1723
The problem is that the `node_modules` directory is often **symlinked** with capistrano based deployment and `postcss` is seeking its config file for every import you've specified in your bundles. You can either copy `.postcssrc.yml` to `/var/www/app/shared/` during deployment, but this is a temporary **DIRTY** fix.

[code]

More cleaner solution would be to fetch postcss loader and set `config.pa

[2018-10-01 20:35] rctneil commented on #1573
Many thanks for this. Since I posted I did change my tactic and am now using Handlebars templates. This seems to be working ok for my requirements at the moment.

I appreciate you replying though!

[2018-10-01 20:44] JakeLaCombe commented on #1723
In my opinion, at that point I think you are better to use a straight up JSON object to store the postcss configuration as opposed to using a .postcssrc.yml file.

[code]

That could be a viable option as well.

[2018-10-02 03:01] dtanoira opened #1725 "How to handle Angular Routing inside Ruby On Rails using webpacker"
I need to setup rails rounting (routes.rb)  and angular routes in my application at the same time.
I create several angular modules, each one make different jobs that I need to execute via URLs I setup in a Menu. But when clicked, rails intercept them and fires an error ->  No route matches [GET] "/custorder/show/"or  No route matches [GET] "/custorder/new".
I need help, configuring rails and angu

[2018-10-02 05:46] ytbryan commented on #1725
You should look into the two solutions suggested here https://github.com/rails/webpacker/issues/1361

Webpacker assumes you use Rails' view which requires Rails router. In a way, Angular is embedded as a component onto Rails' view.

To use Angular router inside Rails router is a wrong direction. Hope I helped.

[2018-10-02 05:49] ytbryan commented on #1720
From the documentation, you stated, `stylesheet_pack_tag` is required to import all the styles in your component.

You cannot do without it.

[2018-10-02 06:01] ytbryan commented on #1657
can you provide more details?

[2018-10-02 18:55] stevenharman commented on #1347
Turning off the `collapse_vars` configuration dropped by compilation a ton. On my local machine (a 2017 MBP, 3.1GHz i7, 16GB RAM) it was taking around 500s (8.3 minutes). Turning off that setting dropped it to around 40s!

I hate to randomly turn things off like this, but when deploying to Heroku the build times are even slower (around 10 min, but twice b/c of the Rails + Node build pack issues e.

[2018-10-02 19:05] sunnyrjuneja commented on #1347
Our fix was to use FontAwesome's precompiled builds. You can still use package.json and add to Webpacker:

[code]

[2018-10-02 19:47] corymcdonald commented on #1711
This is resolved in the v4 release looks like it was addressed in this PR: https://github.com/rails/webpacker/pull/1691

I'll create a PR to merge into 3-x-stable

[2018-10-02 21:27] corymcdonald commented on #1666
This is a ruby library not a php library, chances are StackOverflow would be much more suited to help you out

[2018-10-02 21:56] #1666 closed

[2018-10-02 21:56] gauravtiwari commented on #1666
thanks @corymcdonald

[2018-10-03 18:08] #1702 closed

[2018-10-04 00:15] bensheldon commented on #1695
I wanted to share that I had been struggling with the exact same problem in an older project I migrated to Webpacker and discovered that my `bin/spring` file that was initially created by Rails was different than the one in a newer project (in which I don't experience this problem). Updating that binstub fixed the exact same problem I was having (though I'm not quite sure why).

The more recent an

[2018-10-04 04:50] Jonny-B opened #1730 "Webpacker::Manifest::MissingEntryError"
I've started a rails project using the rails new and --webpack=react. I generated a new controller updated my postgresql password in the database.yml. Up to this point everything works fine. At this point all I'm trying to do is get react to render the default hello_react.jsx file the was generated as an example by rails. When I put the `<%= javascript_pack_tag 'hello_react' %>` in my view and run

[2018-10-04 14:56] HectorLS opened #1731 "Webpacker 3.5 issue with resolve-url-loader for PRODUCTION"
**Ruby**: 2.5.1
**Rails**: 5.2.1
**Bundle**:  >1.3.0
**Webpacker gem**: 3.5.5

Hi, i am using webpacker and **everything works for development**, but when i tried to compile **for production i got this error**

[code]

I do not understand, what _Can't resolve_ means here and what can i do to fix it.
That package is a webpacker dependency to be able to find the file paths.

**My Setup**

**.babelrc

[2018-10-04 15:59] sharang-d commented on #1695
I'm sure the problem is not because of `spring` only because the project in which I've seen this behavior does not have `spring` at all. :)

[2018-10-04 16:05] bensheldon commented on #1695
@sharang-d totally true :-) I’m still probably barking up the wrong tree but I wonder if the overrides of`GEM_HOME` and `GEM_PATH` was the culprit.

Good luck! I was very frustrated by the problem for quite some time :-(

[2018-10-04 16:11] corymcdonald commented on #1731
What's your `package.json` look like? Is `resolve-url-loader` in the dependencies section?

[2018-10-04 17:41] Jonny-B commented on #1730
It was node. I forgot to run npm install.

[2018-10-04 17:52] corymcdonald commented on #1730
Btw webpacker uses yarn by default, so be aware that unless you do extra configuration it will try and leverage that 👍

[2018-10-04 18:29] corymcdonald commented on #1730
Right now Yarn replaces npm, yarn came out after npm and so it's fully compatible with it. You might run into issues if you're using both, especially since they both modify the `node_modules` directory. It's recommended that you use Yarn

[2018-10-04 18:59] Jonny-B commented on #1730
I wonder why yarn didn't install all of the packages the project needed but npm did. Right now my project has been entirely generated from by the rails generator. Shouldn't rails generator put all my depended packages in the the package.json like it does with the gemfile?

[2018-10-04 19:11] maryammouse commented on #1627
I completely agree, and am running into this issue right now. We have a monolith rails app that uses engines for different parts of the app, and I would really like not to have move files up from the engine into the main app...

[2018-10-05 02:33] Jonny-B commented on #1730
@corymcdonald, the npm install isn't fixing my issue at home. However, I've noticed that after compiling the pack folder isn't generated. I think that's why the missing manifest error ends up firing which makes this error I'm seeing kind of a red herring. Any reason why webpack compiling would not generate the pack folder while still thinking it succeeded?

My console is showing the following:

La

[2018-10-05 06:01] Maweypeyyu opened #1733 "Babel/JSX transform not running for JS taken from resolve section."
Hi all,

I have a basic rails setup with webpacker and react and issues getting external React components imported.

In my config.js for webpacker configuration:

`resolve.alias = { 'foo': 'bar/baz/' };`

In one of my packs:

`import Test from 'foo/Test.jsx';`

which will lead to a webpack compilation failure:

[code]

I think the file is not running through babel and/or not through the JSX transf

[2018-10-05 07:28] gauravtiwari commented on #1627
Going to review this PR: https://github.com/rails/webpacker/pull/1694 and merge hopefully for engines support.

[2018-10-05 07:42] ernsheong commented on #1494
None of the above seems to be working for me. :/

[2018-10-05 08:57] RiccardoMargiotta commented on #1713
@gauravtiwari Thanks for adding the pre-release instructions and yarn bundle, it made it easy to try out the current `pre.3` release.

A little feedback for you, I spent yesterday afternoon migrating my main project over to take advantage of Webpack 4 and Babel 7, and it's gone pretty smoothly.

A couple of quirks I came across not really relating to Webpacker, was that I initially forgot that the

[2018-10-05 10:04] robikovacs opened #1734 "Vue"
[code]

[2018-10-05 12:32] gauravtiwari commented on #1734
@robikovacs Might be related to this: https://stackoverflow.com/questions/50561649/module-build-failed-error-no-parser-and-no-file-path-given-couldnt-infer-a-p

??

[2018-10-05 13:18] robikovacs commented on #1734
Apparently the issue was from `vue-loader`. I had to upgrade to `v15` and use [this](https://github.com/rails/webpacker/issues/1453#issuecomment-412291197) quick fix. Thank you!

[2018-10-05 14:53] corymcdonald commented on #1730
I think there's probably something going on that's hidden by the stdout. If you find the gem by running `bundle show webpacker` and then open that directory and modify the file `lib/webpacker/compiler.rb` on line 70 to include something like
[code]

We made this change to include the ability to log the output in master recently but It's not in the 3.x version
https://github.com/rails/webpacker/blo

[2018-10-05 15:46] gauravtiwari commented on #1453
What's the permanent solution? 😄 Did we fix this in 4.x?

[2018-10-05 15:48] gauravtiwari commented on #1730
Perhaps, we can backport this too to 3.x.

[2018-10-05 15:58] Jonny-B commented on #1730
Awesome! I'll try this.

[2018-10-05 16:51] #1555 closed

[2018-10-05 17:07] jakeNiemiec commented on #1555
This is the only reason we still use npm, they handle bins a bit different. :shipit:

[2018-10-05 17:30] ychaker opened #1737 "Rails 5.2, Webpacker 3.5.5 + Angular CSP issue when deploying to prod (Heroku)"
Hi,
firstly thank you for all your hard work, you're all awesome!

I created a mostly "fresh" app using Rails 5.2, Webpacker 3.5.5 and Angular.
I've follow the angular instructions in the README:

[code]

and added some code that runs well in development, but when I deploy it to production, namely Heroku, I get the following error in the console:

`Uncaught EvalError: Refused to evaluate a string

[2018-10-05 18:09] tgsoverly commented on #1627
It also feels like this is related too https://github.com/rails/webpacker/issues/348

[2018-10-05 19:00] maryammouse commented on #1627
Great to hear this is being worked on! :)

[2018-10-06 00:31] jpickwell commented on #1723
This is a problem when deploying with Capistrano. Another solution when setting the `config.path` option is:
[code]

`path.resolve` returns the current working directory when not passed any arguments ([docs](https://nodejs.org/api/path.html#path_path_resolve_paths)).

The `postcss-loader` [readme](https://github.com/postcss/postcss-loader/tree/v3.0.0#config) states that you cannot change which fil

[2018-10-06 04:02] ytbryan commented on #1453
Yup, it's fixed in 4.x but the user has  to choose the latest vue-loader at `rails webpacker:install:vue`.
![screenshot 2018-10-06 11 54 41](https://user-images.githubusercontent.com/323891/46567120-719d2400-c95f-11e8-8f61-7b383598c687.png)

[2018-10-06 14:29] corymcdonald commented on #1730
I'm wondering why the `status` variable when assigned from `Open3.capture3`. That seems like an undesirable effect. I'm wondering if we should check if `stderr` is nil/empty.

[2018-10-06 14:33] Jonny-B commented on #1730
That would have been really useful. I'd love to fix this a submit a pull request but I've never contributed to anything before so I'm not familiar with the process.

[2018-10-06 14:38] corymcdonald commented on #1730
It would be awesome if you could submit a PR for it ☺️

First steps would be to read the [Contributing guide](https://github.com/rails/webpacker/blob/master/CONTRIBUTING.md). Then create a fork and push up to a branch there. Then you can submit a PR 👍

[2018-10-06 15:10] Jonny-B commented on #1730
@corymcdonald, alright, I'll give it a shot. Also, even though I got the error resolved should I open a seperate issue around spaced directories causing issues?

[2018-10-06 19:19] neumanrq opened #1739 "Heroku deployment problems using 4.0.0.pre3 or 4.0.0.pre2"
Using Ruby 2.5.1, I observed some problems when deploying our apps to heroku after upgrading to Rails v5.2.1 when using webpacker 4.0.0.pre2 or 4.0.0.pre3.

I forked a test repository of @gauravtiwari and tried to [reproduce my problems based on the given test app there]( https://github.com/Absolventa/testpacker ). Here's what I have seen:

* With webpacker `v4.0.0.pre3` and no further additions e

[2018-10-06 20:29] bragovo commented on #1662
Is it possible to add generated index.html (by root_path) to manifest for cache by sw?

[2018-10-06 21:01] danielpowell4 commented on #1573
@rctneil Not sure it's "best practice" but think you could likely get away with mounting logic (be it jQuery or your code) to either the window or document and then still call them from the js view as you have been.

would look like:

[code]

[2018-10-07 11:39] renchap commented on #1723
Nice catch, I did not knew this about the `config` option! Looks like it fixes the issue with a symlinked `node_module`

[2018-10-08 11:16] taylorwilliams commented on #1639
Were you able to resolve @pwim?

[2018-10-08 11:37] pwim commented on #1639
Unfortunately the issue remains. As it is only an issue in development, I haven't looked into it further.

[2018-10-08 12:48] HectorLS commented on #1731
Yes it is in the dependencies section `"resolve-url-loader": "^3.0.0",`
Damn i just realized  i had it as a devDependencies, then all is fixed 🤦‍♂️

But this snippet should be something internal right ?
[code]

[2018-10-09 00:05] Josh-Rosen opened #1740 "Node Environment Variables are Lost when Running Webpacker with Hot Module Replacement"
I've successfully gotten Hot Module Replacement working on my Rails app with one caveat, my Node Environment variables in my react environment are no longer loading properly.

I've been manually running `bin/webpack-dev-server --hot`, to spin up my `webpack-dev-server` instead of what I've normally done which is to simply start my rails server.  I suspect that maybe running the webpack server sepa

[2018-10-09 08:19] twnaing commented on #1631
Make sure your application config does not using webpacker. In my case, there was a config for webpacker in `config\environments\production.rb`

    config.webpacker.check_yarn_integrity = false

I had to comment out and all are fine now.

[2018-10-09 11:16] abratashov commented on #1519
The same issue. So, i'm using pure Rails SCSS with the component approach:
[code]

[2018-10-09 16:06] Jonny-B commented on #1730
RESOLUTION: As best I can tell this error fires when your public/packs folder is missing the Manifest file or is missing all together. What was happening in my case was Webpackers compilation step was silently failing and not creating the public/packs folder.

[2018-10-09 16:06] #1730 closed

[2018-10-09 17:15] Furieux33 commented on #1597
I've the same problem...
You found how to do?

[2018-10-09 21:16] latortuga commented on #1439
Yeah this is 100% the issue and this has been driving me crazy for months - our deploys tripled in length because everything is recompiled every time. The file contents is what we care about being the same, not when they were modified. Consider this a +1 to use the CI branch version!

[2018-10-10 07:42] gauravtiwari commented on #1439
Feel free to make a PR, please :)

[2018-10-10 11:58] mdesantis commented on #1439
What about documenting the CI env var loud and clear in the readme? In this way we could keep both the features (mtime check and content check), since mtime check is desirable on standard architectures while content check is desirable on app-files-restoring architectures (such as CI and cloud deploy envs)

[2018-10-10 14:27] latortuga commented on #1439
IMHO I vote that the mtime check not be kept because it is the wrong implementation. If I understand the intent correctly, the digest is designed to check if any file has changed. Checking mtime does not accomplish that. It's merely a proxy.

Say that we checked if the size of the file was the same. Yeah most of the time changes to the file size indicate that the file changed but not all the time.

[2018-10-10 15:22] ericboehs commented on #1439
I vote we also remove the CI branch of the code. If we did decide to change it, at the very minimum the variable that is used should renamed. Since the `CI` variable isn't name-spaced something like `WEBPACKER_CI`, it can cause unintended effects to arise in production — or other environments (that should only happen in CI).

[2018-10-10 15:39] n-rodriguez commented on #1439
I vote to remove the CI branch of the code. As @latortuga said, this is the wrong implementation.

[2018-10-10 15:43] ericboehs commented on #1439
@n-rodriguez I might have confused you. I originally said "remove the CI branch of the code" but I meant keep the CI branch. I updated my comment.

[2018-10-10 19:29] jpickwell commented on #1439
Checking a file's hash is a more sure-fire way of determining modifications, but can be slow. Probably not slow enough to cause problems though.

[2018-10-10 19:37] jakeNiemiec commented on #1639
I don't know your specifics, but consider:

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#The_HTTP_response_headers

Also consider how an `Origin` is defined:

https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy#Definition_of_an_origin

In short, CORS is very dependant on your setup,  but this may help:
[code]

[2018-10-10 19:42] ericboehs commented on #1439
@jpickwell I agree.

Perhaps we should get input from @swrobel or @gauravtiwari who originally implemented the mtime branch of the code.

[2018-10-10 22:41] swrobel commented on #1439
@ericboehs, I implemented the file hash-based method that's only used if the `CI` env var is set. The original mtime logic was implemented by @gauravtiwari but it seems like he's [open to changing it](https://github.com/rails/webpacker/issues/1611#issuecomment-417745121).

[2018-10-10 22:45] n-rodriguez commented on #1439
@swrobel I've been misunderstood ^^ I meant we should compute files hash instead of modification time as I do with my monkey patch : https://github.com/rails/webpacker/issues/1439#issuecomment-417819964

[2018-10-10 22:46] ericboehs commented on #1439
@swrobel Thanks for the feedback. Looks like https://github.com/rails/webpacker/pull/1743 has been opened to address this issue. Thanks @mdesantis!

[2018-10-10 23:00] jpickwell commented on #1439
I just noticed that `Webpacker::Compiler.watched_files_digest` doesn't memoize the result, so in either case (sha1 or mtime) the files are checked twice; once to check if they're stale, and again to record the digests.

[2018-10-11 00:05] swrobel commented on #1410
possible solution: https://github.com/heroku/heroku-buildpack-ruby/pull/803#issuecomment-428772751

[2018-10-11 01:19] ericboehs commented on #1410
I've started on a solution here: https://github.com/rails/webpacker/compare/master...ericboehs:eb-4-clean-task

[2018-10-11 01:52] ytbryan commented on #1410
looking good! Send a PR!

[2018-10-11 01:56] ericboehs commented on #1410
I don't think it's ready. I believe it needs to keep recent versions of the assets or active user sessions will break after a deploy.

[2018-10-11 02:04] dylangrafmyre commented on #1568
Same problem with running rails in my docker local development.

[2018-10-11 02:55] ericboehs commented on #1410
[It's ready](
https://github.com/rails/webpacker/pull/1744). Or as close to ready as I'm going to get it without some input. cc: @ytbryan @swrobel

[2018-10-11 08:06] #1439 closed

[2018-10-11 09:04] PikachuEXE commented on #1622
I wrote this helper for generating preload tags:
[code]
`sources_from_pack_manifest_entrypoints` is from https://github.com/rails/webpacker/issues/1622#issuecomment-407389401

Should be similar for CSS files
(but preloading CSS is slower on chromium-based browsers)

[2018-10-11 11:12] paulgeisler opened #1745 "Vue with global Sass variables does not extract CSS/SCSS"
I am really having hard times with this problem.

I created kind of style library which has one big `variables-and-mixins.scss` i need in every component of my Vue app. There are working solutions for standalone Vue apps with i used before but this time i had to search hard.

The solution for global Sass functionality is using `sass-resource-loader`.

[code]

It works totally fine with `./bin/webp

[2018-10-11 15:14] jlpereira opened #1746 "Option to select package manager"
Hi guys,

Is there any intention to implement an option to select the package manager? We prefer to use NPM instead Yarn

[2018-10-12 02:20] SophiaAP commented on #1615
Similar problem here. Some of our team does not want the javascript compiling in development but since we can't use environment variables in the YAML this is not an option.

If anyone has advice on a workaround for this, we'd really appreciate it!

Thanks for all your hard work on this gem.

[2018-10-12 06:49] BoleLee opened #1750 "Cannot compile ES6 class"
I have defined a class, but it cannot compile, the error said "Module build failed: SyntaxError: Unexpected token, expected ,(21:2)"  "BabelLoaderError: SyntaxError: Unexpected token, expected ,(21:2)"
my class is:
[code]

Thanks a lot

[2018-10-12 09:58] paulgeisler opened #1751 "'assets:precompile' does not install devDependencies"
What's the reason behind installing node modules only from 'dependencies' through the '--production' flag?
https://github.com/rails/webpacker/blob/227661b546701e107213aa9b6f83451bc89cf7d5/lib/tasks/webpacker/yarn_install.rake#L4

I do have some dependencies which are needed to build the app and are declared as 'devDependencies' (for example 'sass-resources-loader'). Another mate had to put all the

[2018-10-12 10:39] gauravtiwari commented on #1751
@paulgeisler Please see this issue: https://github.com/rails/webpacker/issues/160 and https://github.com/rails/webpacker/issues/117

Also see, https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-production-true-false

We should probably remove the production flag but either way if `NODE_ENV` is set to production only the modules listed in dependencies section would be installed. So, ple

[2018-10-12 10:49] paulgeisler commented on #1751
I see... Thanks! :)

[2018-10-12 10:49] #1751 closed

[2018-10-12 13:59] haffla opened #1752 "Consider removing rack-proxy"
Hello guys,

So I ran into an issue which has already been discussed in #822 and is probably the reason for #1474. The reason is that `rack-proxy` and `webmock` / `fakeweb` are incompatible as they are both doing some nasty monkey patching in `Net::HTTP`. Also see [here](https://github.com/ncr/rack-proxy#warning).

I believe there is a fair amount of people who would like to disable remote http re

[2018-10-12 15:46] jakeNiemiec commented on #1731
Unless you are writing a lib, there is little reason to put things in devDependencies. Depending on your deploy process, ask yourself: `Does this play a role in production code?`
Eg:
- ✅ babel: transpiles code used in production
- ❌ webpack-dev-server: only used in developing, does not touch production code
- ✅ scss/css compiler/loader: compiles styles used in production

[2018-10-12 17:12] #1740 closed

[2018-10-12 17:49] jakeNiemiec commented on #1746
I think it is unlikely. Webpacker was conceived [during the npm@5->6 debacle](https://github.com/npm/npm/issues/16991). I am sure that those conceptions are still fresh in the minds of the maintainers. (rightly so) But, it is _mostly_ all better now.

[2018-10-12 18:09] sitrakary commented on #172
Don't forget to restart your server :trollface:

[2018-10-12 18:16] jakeNiemiec commented on #1752
Back before webpacker was as good as it is today, I made a lightweight version that took the opposite approach: Let `webpack-dev-server` proxy your rails app. I used [browser-sync-webpack-plugin](https://github.com/Va1/browser-sync-webpack-plugin)

Here is a sample of the HTTPS related parts:

[code]
It's not for everyone; but if you work in SCSS & JS all day, it's a snappy dream. Unfortunately, I

[2018-10-12 19:12] rally25rs commented on #1178
I just ran into this with a new install (to an older rails 4 project)

[code]

@rails/webpacker@3.5.5
yarn 1.10.1
node 8.12.0
OS ubuntu trusty 64

[2018-10-12 20:29] ericscottmarquez commented on #1164
Did you guys give up?? I'm having this problem too. Never give up!

[2018-10-12 22:20] AndrewRayCode commented on #1490
I'm seeing webpacker compile on every request, even refreshing the same page.

[2018-10-12 22:52] haffla commented on #1752
Webpacker supports HMR out of the box and it's working like a "snappy dream". Well the issue I created is about something else.

[2018-10-13 04:33] dcmorse opened #1753 "Elm js error: _Main__WEBPACK_IMPORTED_MODULE_0___default.a.Main is undefined"
### with 2-month-old Elm 0.19

With webpacker (4.0.0.pre.3), trying to build a default "Hello World" elm app into an existing rails project, I see in the JS console:
[code]

In `hello_elm-9be43da1a2f13154d519.js` the line that raises the error is the last line of this snippet:
[code]
The last line really wants to be:
[code]
But I'm not sure how to change the code that generates this line.

[2018-10-13 04:46] dcmorse commented on #1753
It's already fixed in master - nevermind & thank you!

[2018-10-13 04:46] #1753 closed

[2018-10-14 11:51] zedtux commented on #1224
@adaam2's solution works fine for me, thank you !!

[2018-10-14 20:27] paulodeon commented on #395
It was a memory issue for me as well

[2018-10-15 14:53] rally25rs commented on #1204
For those that run into this issue later, I found that in my case we were running rails under Apache, so the NVM installed Node wasn't accessible to the user that Apache was running as. Silly mistake :)

[2018-10-15 15:03] rally25rs opened #1756 "Is there a way to reference a pack without appended GUID?"
With sprockets, if you had a file `assets/javascripts/application.js` then at runtime you could git it with a URL with or without the appended ID string:

[code]

(either would work)

with Webpacker it seems that the pack can only be loaded with the appended ID
[code]

I need to be able to have a static url that doesn't change between builds (because external apps can link to it). Is there a way t

[2018-10-16 10:49] 23tux commented on #1615
Same issue here: We are running parallel specs and need to suffix the public path with a test env number to avoid clashes between parallel specs on the file system. Any updates on this?

[2018-10-16 11:35] paulgeisler commented on #1485
Check the options of the first postcss-plugin.
The default option for postcss-pxtorem is `replace: true,` that's becuase it does not replicate the code line but replaces it.

[2018-10-16 11:46] edwinv opened #1758 "Own SSL certificate breaks proxy"
I'd like to use our own .dev SSL certificate for running the `webpack-dev-server`. The `devServer` configuration in webpack.yml mimics the [`devServer`](https://webpack.js.org/configuration/dev-server/) closely, therefore I assumed I can [add my own SSL certificates](https://webpack.js.org/configuration/dev-server/#devserver-https) in the YAML:

[code]

`webpack-dev-server` will start with the cor

[2018-10-16 16:57] jakeNiemiec commented on #1758
More discussion: https://github.com/rails/webpacker/issues/1752 & https://github.com/rails/webpacker/issues/822

[2018-10-16 18:56] seanhealy commented on #1746
It's not too bad to flip webpacker over to npm. (https://github.com/rails/webpacker/issues/1603#issuecomment-410377914)

That being said, an option to use npm out of the box would be very nice. Especially given some of the improvements npm is offering over and above yarn lately.

[2018-10-16 21:27] scottrobertson commented on #1215
@kjleitz We ended up using something similar to your commit hash solution.

However, we have since moved to Kubernetes, and therefor just build the image once so it always has the same ID.

[2018-10-16 21:31] kjleitz commented on #1215
@scottrobertson sounds like we need to move to Kubernetes 😉

[2018-10-16 21:35] scottrobertson commented on #1215
@kjleitz ha, well that is a rather drastic change to fix 1 issue :D

[2018-10-17 14:10] ahbou commented on #619
PSA font-awesome 5 has been [renamed on 5.10](https://github.com/FortAwesome/Font-Awesome/blob/master/UPGRADING.md#renamed-packages)

[code]
Add on application.scss
[code]

[2018-10-17 16:01] wjdhamilton commented on #1711
Guys, this still isn't working on v3.5.5. I get the following error:

[code]

It still appears to be using the elm package command which has been removed.

[2018-10-17 16:03] corymcdonald commented on #1711
I don't think that we released the 3.x stable version since backporting the fix.
https://github.com/rails/webpacker/commits/3-x-stable

@gauravtiwari Can we get a release a new version of 3.x?

[2018-10-18 02:55] sevenseacat commented on #1633
Do you have the same problem in dev? I'm seeing this in dev - Rails just not seeing the dev server running in another window...

[2018-10-18 05:30] apiep commented on #1284
Hi, facing the same problem here (out of heap memory) and after googling I found that it was a problem with webpack-dev-server (in my case), and can be temporary fixed by passing an argument to node. But my `bin/webpack-dev-server` was managed by webpacker, so how do I pass and argument to node?

Here is the issue on webpack-dev-server https://github.com/webpack/webpack-dev-server/issues/1433

[2018-10-18 07:21] djshitcoin opened #1759 "`rails assets:precompile` does not create `/public/packs` directory"
Hello,

I have a pretty straight-forward rails app that I am deploying using dokku. In development it works fine, but in production I get the error

[code]

Here is my `webpacker.yml`

[code]

In the deployment logs I can see

[code]

But when I `ls /app/public`, I only get
[code]

Does anybody know what might be amiss?

[2018-10-18 07:45] djshitcoin commented on #1759
Similarly,

if I `dokku enter app`, and compile manually, I get this

[code]

Locally the packs compile just fine...

[2018-10-18 09:45] yoonwaiyan opened #1760 "`yarn install` not called in `assets:precompile` in production environment"
In one of our project we added webpacker gem to a Rails app that was upgraded to Rails 5.1 from  version 4.x, which is having an issue while deploying to our production environment using capistrano that apparently caused by `yarn install` not being called while precompiling assets. After some research we are stumbled against this rake task which checks if it's Rails 5.1 to decide whether to run `y

[2018-10-18 14:44] ryanscottaudio commented on #1633
no, it works fine in `dev`, just not in `test`

[2018-10-18 19:04] andrewpage commented on #1155
Having the same issue as @jonleighton. My structured logging isn't working! Would love to see a fix for this.

[2018-10-18 19:28] justin808 commented on #1713
I just wrote an article on using the pre-release of v4 with React on Rails, including server-side-rendering and concurrent use of the webpack-dev-server.

[Easy React Server Rendering with rails/webpacker v4 and React on Rails
 ](https://blog.shakacode.com/easy-react-server-rendering-with-rails-webpacker-v4-and-react-on-rails-71602276cf4c)

I included a few github repo examples.

💥

[![image](http

[2018-10-18 19:29] justin808 commented on #119
I just wrote an article on using the pre-release of v4 with React on Rails, including server-side-rendering and concurrent use of the webpack-dev-server.

[Easy React Server Rendering with rails/webpacker v4 and React on Rails
 ](https://blog.shakacode.com/easy-react-server-rendering-with-rails-webpacker-v4-and-react-on-rails-71602276cf4c)

I included a few github repo examples.

[2018-10-18 20:41] Sparkmasterflex opened #1761 "Webpacker 4.x compilation failed"
Environment:
  * ruby 2.4.4
  * rails 5.1.4
  * webpacker-4.0.0.pre.3
  * @rails/webpacker@4.0.0-pre.3

I'm upgrading from 1.x and basically just wiped out all the previous webpack configs and ran the `rails webpacker:install` to allow it to create whatever it needs. I've updated npm packages for new webpack version but when running the rails server I get an error when webpack is compiling:

[code

[2018-10-18 20:55] Sparkmasterflex commented on #1761
Sorry for the false alarm... I ended up finding the fix for this on my own.

I'm using coffeescript and did not add `.coffee` to the `extensions` section of webpacker.yml

[2018-10-18 20:55] #1761 closed

[2018-10-19 14:36] fgblomqvist commented on #619
Didn't have to add the solid svg icons to yarn, but I did have to import both the solid and the regular to be able to use all the "normal" icons:
[code]

[2018-10-19 21:07] valterbarros commented on #1218
@TheRusskiy Man you save my life after 5 days searching for the solution

[2018-10-20 12:13] iamawaisakram commented on #1651
Any solution for this problem?

[2018-10-20 12:14] iamawaisakram commented on #1651
@FFEVER! Solved this issue?

[2018-10-21 16:57] #1319 closed

[2018-10-22 05:49] djshitcoin commented on #1759
I was able to nail the issue down to some npm packages not being installed (probably a messed up yarn.lock file or something similar). Reinstalling all yarn packs locally and committing the lock file to the repo fixed the server-side building. Just in case somebody else has a similar issue.

[2018-10-22 05:49] #1759 closed

[2018-10-23 04:11] lanzhiheng opened #1766 "Api for reset loaders and entry"
I have check the source code about `enviroment.loaders` and `environment.entry`, we don't have the relevent api to reset them.

By default webpacker will auto generate too much entry if I have some js files in `packs` directory

![image](https://user-images.githubusercontent.com/8858472/47334950-66fec080-d6bb-11e8-8d54-69c38705fcd1.png)

But in fact I just want to let `app.js`  as the entry file.

[2018-10-23 09:06] iamawaisakram commented on #1651
I solved this issue by setting:
cache_manifest: false
then compiling webpacker!

[2018-10-23 10:39] Welziewagers2015 commented on #1760
Thanks

[2018-10-23 23:44] qwertme commented on #57
I solved it by enabling erb like this comment describes: https://github.com/nathanvda/cocoon/issues/452#issuecomment-384836675

Once you have access to the JS via ERB you can make a shim, this is what I did for the best_in_place gem:
[code]

[2018-10-24 01:30] i8ramin commented on #1164
Same here. Why issue closed?

[2018-10-24 04:30] jchatel opened #1772 "How to add raw-loader"
Probably a very silly question, apologies in advance, but would appreciate any pointer.

I'm adding PUG (https://pugjs.org) support to my rails project, but for it to work with webpacker, I need to have raw-loader https://github.com/webpack-contrib/raw-loader Otherwise, some expressions like Quoted Attributes (https://pugjs.org/language/attributes.html) are not rendered properly, the attribute dis

[2018-10-24 04:36] jchatel commented on #1772
[code]

removing the extra module level removed the error (Invalid configuration object.), but my pug still doesn't compile properly using raw-loader, probably a pg-html-loader problem. Sorry for the extra issue :)

[2018-10-24 04:36] #1772 closed

[2018-10-24 05:03] ericscottmarquez commented on #1164
Buildpack index 1 should be node.
Buildpack index 2 should be ruby.
Your procfile should tell it where to build each side of the app front end being webpack/node modules and back end being rails.
You can do something like a procfile like this:

# Procfile
web: bundle exec puma -p $PORT
webpack: bin/webpack-dev-server

[2018-10-24 14:16] valterbarros commented on #57
Seems be a good solution @qwertme

[2018-10-24 15:17] guilleiguaran commented on #57
I think we can add an helper to wrap that logic making easier to load assets from gems.

[2018-10-24 17:57] DustinArmstrong opened #1775 "Adding Webpacker to existing application doesn't start with new line when appending .gitignore"
When the bundle task is run to install webpack and the `.gitignore` file is generated, it appends to the last line of the document rather than creating a new line. ie:
[code]
as the last line becomes
[code]

[2018-10-24 17:58] DustinArmstrong commented on #1775
Missed it, turns out this issue already exists.
https://github.com/rails/webpacker/issues/1645

[2018-10-24 17:58] #1775 closed

[2018-10-24 20:04] nerboda commented on #1164
Sorry guys I forgot to come back here and post my solution back when I first figured it out but if I remember correctly @ericscottmarquez is right. The issue was the order of the buildpacks on heroku. Node needs to come first.

[2018-10-24 20:08] Jeremy-Walton commented on #1443
Has a solution that uses webpack 4 been found yet? I am running into this exact same issue and I can't get the new SplitChunksPlugin https://webpack.js.org/plugins/split-chunks-plugin/ to work.

[2018-10-25 15:42] Jeremy-Walton commented on #1443
I was able to figure out how to get this working by adding this into my config/webpack/environment.js

[code]

In my application.html, I added this into the head so it gets included on every page.
`= javascript_pack_tag 'vendor'`

The result is the total file size from all my packs dropped from 65mb to 5mb.

[2018-10-25 22:48] Etregoning commented on #1318
What about for resolving extensions? The docs are still using set there. I tried changing it to append, since that's where file extensions go,  and it says environment.config.append is not a function.

I'm using webpacker 3.5.

[2018-10-26 04:24] Thiago-Cardoso opened #1776 "osoti"

[2018-10-26 15:42] JoshRobertson opened #1778 "undefined method `watch' for Spring:Module (NoMethodError) in 4.0.0-pre.3"
Upgrading the gem to 4.0.0-pre.3 from 4.0.0.pre.pre.2 causes my rails server to crash with the error

[code]

The problematic line of the railtie seems to be
[code]
which was added in this version.

webpacker.yml
[code]

my environment.js looks like this
[code]

and my babel.config.js looks like this:

[code]

I believe this might be related to the addition of Babel 7 in this release, and the chan

[2018-10-26 17:44] JoshRobertson commented on #1778
nvm, fixed here: https://github.com/rails/webpacker/pull/1747

[2018-10-26 17:44] #1778 closed

[2018-10-27 16:47] larissa commented on #1760
Do you have a `bin/yarn`? Older Rails versions didn't add a binstub for yarn, so unless you re-created binstubs after upgrading your Rails version, you're probably missing that file. The `yarn:install` rake task runs yarn using the binstub file, so this task will fail during runtime because `bin/yarn` doesn't exist, causing your node modules to not be installed.

[2018-10-27 23:08] Etregoning opened #1779 "Webpacker is not able to resolve jsx extension?"
So I have just installed webpacker for a react_on_rails project, and out of the box, it automatically errored pointing at a normal div tag, saying unexpected token. I found out right away that this is due to the fact that the hello-world-bundle.js is importing a jsx file but it's expecting a `.jsx` extension on the import statement and by default it's not using the extension.

I tried editing the

[2018-10-28 01:25] lauri865 opened #1780 "ERROR: directory is already being watched!"
On the latest build (4.0.0-pre.3), I get the following error on OS X 10.14 (Mojave):

`** ERROR: directory is already being watched! **

        Directory: /Users/user/dev/userapp/node_modules/@rails/webpacker/node_modules/.bin/mini-css-extract-plugin

        is already being watched through: /Users/name/dev/app/node_modules/mini-css-extract-plugin

        MORE INFO: https://github.com/guard/lis

[2018-10-29 11:28] zernie commented on #1780
@lauri865 that sounds like a rails bug

[2018-10-29 14:58] richseviora commented on #1212
@gauravtiwari I agree this makes sense if you look at the `devDependencies` / `dependencies` distinction as code that's used only locally during the dev workflow (like Prettier, ESLint, etc) vs code that's executed on production. I think what you're hearing from other people (and please count myself in that list) is that they all have different understandings of the term and some of those understa

[2018-10-29 19:08] akshay-soni opened #1782 "Environment based manifest.json with single asset:precompile command"
I am trying to build **environment neutral Docker image**, so that same image can be used across staging and production without performing two asset:precompile (takes a lot of time to build an image).

Is there a way to create two manifest.json files? (each points to asset_host based on environment)

My current hack -
I build a production docker image and create another docker image from productio

[2018-10-30 05:09] yoonwaiyan commented on #1760
Hi @larissa,

I've re-populated the binstubs but it doesn't seem to work. This is the error I get in capistrano:

[code]

[2018-10-30 12:05] dachinat commented on #119
Hi, can I use `Rails 5.2.1` with `webpack:react` and server-side rendering today?
Thanks.

[2018-10-30 14:26] nhbain opened #1784 "javascript_pack_tag pointing to wrong location"
I added webpacker to my rails 5 project in order to utilize a few node modules that are necessary for some of the functionality. I had no issue getting things up and running locally, but when I deploy to production (I'm using Amazon Elastic Beanstalk), the javascript_pack_tag points to the wrong location. For example, at this test deployment (http://production-test.us-west-2.elasticbeanstalk.com),

[2018-10-30 20:18] schuylr opened #1785 "Staging assets:precompile is incredibly slow on 4.0.0-pre.3"
When upgrading from v3.5.5 to v4.0.0.pre.3 to test the pre-release, I noticed that my staging deploy went from taking approx 10-15 minutes **to over 2 hours**, stuck on the `assets:precompile` step after Sprockets has completed.

Production deploy is untested.

Would be happy to share any necessary files. Here's my `.babelrc` if it helps:

[code]

[2018-10-31 19:41] danielpowell4 commented on #1784
@nhbain Did you try changing this line in your webpacker.yml?

[code]

[2018-10-31 19:50] nhbain commented on #1784
Yeah I tried that first. If I change it to public/packs it creates a folder in public called public with packs inside it. The generated url becomes siteurl/public/packs/process_landsat-18191562216c726dbe6a.js but needs to then be siteurl/public/public/packs/process_landsat-18191562216c726dbe6a.js

[2018-10-31 20:03] nhbain commented on #1784
If I try /public/packs, I get this error in the logs
![screen shot 2018-10-31 at 3 03 15 pm](https://user-images.githubusercontent.com/6118838/47815360-2a1b7500-dd1e-11e8-8057-282c908ffdda.png)

[2018-10-31 20:33] danielpowell4 commented on #1784
Ah! Yep, "public" is prefixed to Rails root

here:
https://github.com/rails/webpacker/blob/96144bae327909800263e9ace6329c4cc38987ec/lib/webpacker/configuration.rb#L38-L44

...and here (`root_path == Rails.root`)
https://github.com/rails/webpacker/blob/227661b546701e107213aa9b6f83451bc89cf7d5/lib/webpacker/instance.rb#L6

Have you played around with your ngnix proxy?

I'm no expert but it seems lik

[2018-10-31 20:57] nhbain commented on #1784
I think the issue lies in my nginx settings and I've tried messing around with them, but haven't been able to get anywhere. Unfortunately, I'm no expert either. In fact this is the first time I've had to change the nginx settings at all. I tried your recommendation, but it didn't seem to do anything. Any other ideas?

[2018-10-31 21:36] danielpowell4 commented on #1784
Maybe this?

https://github.com/rails/webpacker/issues/263

[2018-11-01 09:12] sevenseacat commented on #1494
Yep, nothing working here either. Everything is output to public/packs - but public/packs/manifest.json refers to /packs-test which of course doesn't exist so the files aren't found :/

[2018-11-01 09:19] gauravtiwari commented on #1494
@sevenseacat Could you please paste your webpacker.yml?

[2018-11-01 09:29] sevenseacat commented on #1494
webpacker.yml:

[code]

[code]

buuut it's all in public/packs instead. And in public/packs/manifest.json:

[code]

[2018-11-01 09:36] sevenseacat commented on #1494
never mind, I've found my problem in some of the JS config another dev wrote :D

[2018-11-01 10:39] ernsheong commented on #1494
This seems to be working fine now. Can someone else confirm?

[2018-11-01 13:47] pravinl-cuelogic opened #1787 "gems/webpacker-3.5.5/lib/webpacker/env.rb:30:in `available_environments': undefined method `keys' for false:FalseClass (NoMethodError)"
I am trying to configure old ROR project with React-redux using react_on_rails gem(version: gem 'react_on_rails', '~> 11.1', '>= 11.1.8'). Have followed all recommended step from shakacode docs.
Then I have changed the default react structure from app/javascript to client/. Created webpack.config.js file. But when I start the server using Procfile.dev, getting an error for @ruby/webpacker.
The exa

[2018-11-01 14:03] joshalling commented on #1720
I also want to use css modules with react in rails. I shouldn't have to use the `stylesheet_pack_tag` to do this and these [docs](https://github.com/rails/webpacker/blob/master/docs/css.md#css-sass-and-scss) imply that webpacker will import the styles directly. However, when I use that code it also doesn't load the css, only the classNames.

[2018-11-01 15:00] nhbain commented on #1784
So I've actually tried this before. It caused my application to no longer see the entire asset pipeline and it STILL couldn't see that javascript file. Here's what I tried. Maybe I need to edit my puma.rb file as well or have the app serve static files?

[code]

[2018-11-01 15:54] nhbain commented on #1784
Ok so I'm not sure what changed, but I got this to work this time. Took a few deploys, but it's running. There's some weird stuff going on though. Occasionally I'll hit a link and get error 502 (bad gateway) from nginx or a 404 for an asset. Refreshing the page fixes this, but this is obviously undesirable behavior.

[2018-11-02 16:37] Lockyy opened #1789 "ES6 node_modules transpilation issue in production only"
I have a project using ES6 with Webpacker 3.5.5 and Rails 5.2. Compiling Javascript locally in develop works fine, all ES6 code correctly transpiles. When running in Production however does not transpile any ES6 code that comes in via node_modules. My own code still correctly transpiles.

I cannot reproduce this by running in the production environment on my local machine, that functions correctly

[2018-11-02 18:01] Siraris opened #1790 "Webpacker looking for development config file with quotes in filename"
For whatever reason, out of nowhere, I'm getting the following error:

`webpack config /Users/andrewsoep/workspace/config/webpack/“development”.js not found, please run 'bundle exec rails webpacker:install' to install Webpacker with default configs or add the missing config file for your custom environment`

When I do a `foreman start`

I'm not sure why the filename has quotes in the filename, as

[2018-11-03 19:45] sunnmas opened #1791 "I want reuse my styles in vue component with sprite compass features"
The first component of the vue, screwed to an existing rails application. Faced many problems, here is another of them. You must write component styles in the Sass style language, using variables and mixins from the style files used in the application that are not related to webpacker. And it seems that the import of such a file does not cause any problems, except for the use of sprites. Compass r

[2018-11-05 09:32] aruprakshit commented on #1668
I am still getting the same error as the original poster posted.

[2018-11-05 10:00] aruprakshit opened #1792 "Rails webpacker throwing error - "Module build failed: Error: ENOENT: no such file or directory, open '/Users/aruprakshit/elm-apps/elm-rails-todo/elm.json'""
I just created a new Rails app. When I try to start webpack dev server, I get the error as you see below.

[code]

I am on MacOS, and I am using:

-----
elm-rails-todo (master)$ rails -vMy
Rails 5.2.1
elm-rails-todo (master)$ ruby -v
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin16]
elm-rails-todo (master)$
-----

My code is present on github as [elm-rails-todo](https://github.com/arupra

[2018-11-05 21:06] aruprakshit commented on #1792
Just tried to create a brand new app again with the command as `rails new elm-rails-todo -d postgresql --webpack=elm`, and got this error.

[code]

It seems webpacker has a bug with Elm integration.

[2018-11-06 02:38] justin808 commented on #119
@dachinat you need to use either https://github.com/shakacode/react_on_rails or https://github.com/reactjs/react-rails/. Both can get the job done. Besides the docs, check out the CHANGELOGs to get a sense of activity in the projects.

* https://github.com/shakacode/react_on_rails/blob/master/CHANGELOG.md
* https://github.com/reactjs/react-rails/blob/master/CHANGELOG.md

[2018-11-06 06:06] dachinat commented on #119
@justin808 very nice, thank you

[2018-11-06 14:40] xacaxulu commented on #444
+1

[2018-11-06 15:06] r1ckhenry opened #1793 "Heroku compilation error: Couldn't find preset "es2015" relative to directory"
I've currently got a rails app that is deployed on heroku. I am getting an error during webpacker compiling which I don't get locally. Error:

[code]

The correct babel preset is in dev-dependencies in package.json and is referenced in babelrc:

[code]

Any thoughts?

[2018-11-07 08:33] zernie commented on #1785
Can you share the log of `assets:precompile` execution?

[2018-11-07 08:47] howtwizer commented on #1520
In case of Vue.js and production problems.
In my case problem was in content security policy recommendations from webpacker docs.

[code]

Removing `else` part fixing production.

Chrome silently ignoring this. Firefox shows warnings.

[2018-11-07 10:11] HansWurst90 opened #1794 "Only load parts of the packs/multiple pages"
Hi,

I am currently moving a project from using the conventional asset-pipeline with babel to webpacker.
I already moved all components that used to be in our `/app/verstehe/app/assets/javascripts/es6` folder to `/app/verstehe/app/javascript/packs`.

With the old pipeline we had different application.js files for different layouts or use cases (e.g. application.mobile.js or application.embed.js).

[2018-11-07 10:37] #1793 closed

[2018-11-07 10:39] r1ckhenry commented on #1793
The fix for this was due to dependencies in package json. I think Webpacker 3 doesn't depend on presets in devDependencies but rather deps. Therefore, moving them from devDeps to deps worked for me. Maybe someone could confirm that is best course of action?

[2018-11-07 12:38] renchap commented on #1794
`assets/javascript/packs` should only contain your entrypoints.
For each file in this directory Webpack will create a file that you can import in your view using `javascript_pack_tag`.

So you can achieve what you want by creating multiple entrypoints in your `packs` directory and including only the ones you need on a page. The best practice here is to use 1 pack per page (or type of page), and th

[2018-11-07 12:47] HansWurst90 commented on #1794
thanks @renchap for the quick response.

I started to suspect that the components did not belong in there.
Would I just create a new directory in `/app/verstehe/app/javascript` for my components and import them in the `application.js`?

Do you have an example for this and the code splitting?

I keep finding examples for webpack but it seems to work a little different in webpacker.

[2018-11-07 14:12] renchap commented on #1794
Yes, you could for example use `/app/verstehe/assets/javascripts/components/my_component.jsx`

In `packs/application.js` you can then do something like:
[code]

For webpacker 3 (based on Webpack 3) you have a basic config here: https://github.com/rails/webpacker/blob/master/docs/webpack.md#add-common-chunks
You can adapt it using the Webpack 3 docs.

For Webpacker 4 (currently in beta, based on We

[2018-11-07 15:49] koctya opened #1795 "Error supporting Elm 0.19 webpacker somehow injecting 0.18 even though 0.19 is installed."
WEbpacker is throwing errors for 0.19, even though it is installed;
I'm still getting this error in ver 3.5.5 even though the comments in
https://github.com/rails/webpacker/issues/1668 stated the 3.5.x stable was patched for 0.19.
[code]
I only have version 0.19 installed;
[code]
my env;
[code]

[2018-11-07 17:19] koctya commented on #1795
[code]

[2018-11-07 23:48] echan00 opened #1796 "Error with installation: "No LOCATION value given. Please set LOCATION either as path to a file or a URL""
`bundle exec rails webpacker:install`

[code]

No entirely sure what is the issue here. I tried adding a config/webpacker.yml but still no luck.
I'm using Rails 5.1.6

[2018-11-08 06:02] excid3 commented on #1619
Just gonna leave a note here in case anyone else finds this in the future. A common cause of this is a missing `bin/yarn` binstub.

You'll want to add the following to your repo in `bin/yarn`

[code]

[2018-11-08 09:30] codef0rmer opened #1797 "Background images in SCSS"
I'm able to compile background image from the SCSS file

```background: #fff url('~svgs/user-avatar.svg');```

into the following in manifest.json

[code]

However, the path in the compiled CSS is not replaced with the packed one (above):

![image](https://user-images.githubusercontent.com/167227/48189578-87d73f00-e366-11e8-814a-3b4800a398fd.png)

<img width="363" alt="screen shot 2018-11-08 at 2

[2018-11-08 16:58] moalamin commented on #534
Hello, sorry I'm late but running into this issue now on a Rails 4.2 app. We precompile all our assets and serve them from our production machines. I'm a little confused as to why compiled packs generated w/ assets:precompile shouldn't be saved as part of the app? Can you explain how I can approach serving my assets so that the production machines are the ones generating my compiled packs?

Any ex

[2018-11-08 19:04] grantbdev commented on #1215
@kjleitz I was recently able to resolve this by isolating the lines that were causing different hashes in a codebase. Bisect the imports via commenting out and building the Webpack bundle, and then compare on two different machines or the same machine with the codebase copied in two different folders.

It turned out that the default [handlebars-loader](https://github.com/pcardune/handlebars-loader

[2018-11-09 02:47] kjleitz commented on #1215
@grantbdev interesting—I don't know that your solution would have solved our problem specifically, because I believe the build-unique hash appended to the filenames might have been unique regardless since they aren't based on the md5 of the constituent files... so there were no specific lines causing the issue; it was simply that `rake assets:precompile` was being run on four independent machines

[2018-11-09 07:16] Bac3Phi commented on #1697
@kingdonb tks for help, it's working as expected

[2018-11-09 12:05] babakgh opened #1798 "Question: Is there anyway to load manifest.json from a remote source?"

[2018-11-09 18:56] mirageglobe commented on #1374
couple of things about docker installation, which sort of works. try

- to run yarn install **after** copying your folder. yarn needs a few files in your app to run
- make sure nodejs is a newer copy. you can use :

- installing yarn **using npm**:

[2018-11-09 20:05] BassamAziz commented on #1486
Hello, awesome, running through the same thing. but still unsure where to put the .env locally, and how to configure this on heroku. help is a lot appreciated. thanks

[2018-11-12 07:07] imWildCat commented on #518
Here is my solution (reference: https://github.com/rails/webpacker/blob/master/docs/es6.md):

1. Add `@babel/polyfill`:
[code]
2. Add `import "@babel/polyfill"` into your front-end app's entry file (eg. `app/javascript/packs/application.js`)
[code]

Done!

[2018-11-12 21:49] Siraris commented on #1790
@gauravtiwari Any idea about this?  It's causing us considerable issues at my company.

[2018-11-13 09:53] codef0rmer commented on #1797
After some RND, I noticed that `png` files are getting compiled but not svg. Which plugin does this compilation, may be, SVG extension is not added there?

[2018-11-13 14:57] eliank commented on #1677
:+1:
`Open3.capture3` captures all output, as expected, but since it doesn't return the output is never shown.  I patched https://github.com/rails/webpacker/blob/master/lib/webpacker/compiler.rb#L59 so it calls `Webpacker::Runner` inline instead of using open3. This made the errors visible/fixable for us.

[2018-11-13 21:05] alik78 commented on #1619
Having same issue...
I do have `bin/yarn` binstub and I've ran `yarn install`

Actual error:

   unless you are using the `webpack -w` or the webpack-dev-server.

Additional Info:
- Running this on my dev box
- I do have node_modules folder but it has only .yarn-integrity file in it
- I have nothing relevant under my_app/public folder

`$ gem list | grep webpack => webpacker (3.5.5)`
`$ rails -v =

[2018-11-14 03:32] alik78 opened #1799 "Webpacker fails to compile in dev"
I've seen a number of related issues when deploying application to prod but mine happens in dev. I am just getting started with a react project on ruby on rails and here I am :(

I am missing `.bin/webpack` under `node_modules`
Not sure how and when this file is generated...

This is from `development.log` :

[Webpacker] Compilation failed:
/home/alik/.rvm/gems/ruby-2.5.1@sandbox/gems/webpacker-3.

[2018-11-14 09:08] p0wl commented on #1713
Hey, any updates regarding the remaining issues for v4? If they were labeled or assigned to a milestone it would help me for sure.

Thanks for all your work @gauravtiwari, sooo looking forward to v4 (as we can get rid of lots of our customization/plugins)!

[2018-11-14 10:42] amiuhle commented on #1568
Seems like the problem are different bindings for `node-sass` (and possibly other packages that depend on native libs).

`docker exec container yarn check --integrity` fails for me with the message "warning Integrity check: Linked modules don't match".

[code]

[2018-11-14 12:43] jchiefelk commented on #1799
+1

[2018-11-14 12:56] codef0rmer commented on #1797
I was doing a stupid mistake. Was not compiling the CSS including that image via Webpack, hence the path was not updating on run-time.

[2018-11-14 12:56] #1797 closed

[2018-11-14 18:01] biznickman opened #1800 "Foreman Webpacker environment variables not working"
I went through all of the steps outlined in the [Environment Variables document](https://github.com/rails/webpacker/blob/master/docs/env.md) but none of the steps worked for me. Every time I load the app it doesn't show the environment variables in `process.env`. However if I type `rails console` or run console via Foreman and `puts ENV` the environment variables from the `.env` file show up.

I t

[2018-11-15 12:45] sandergroen opened #1803 "[Webpacker] Compilation failed env: node: No such file or directory"
After upgrading my Rails version from 5.1 to 5.2 and Webpacker from 1.2 to 3.5.5 I have an issue with compiling my js stuff:

[Webpacker] Compiling…
[Webpacker] Compilation failed:
env: node: No such file or directory

I think this has something todo with my local dev environment. At first I had Node version 6 installed om my machine later I installed newer Node versions via NVM and I removed Node

[2018-11-15 12:49] sandergroen commented on #1799
@alik78 did you do rails webpack:install OR rails webpacker:install. The later is the correct one. I think it should install all node dependencies.

[2018-11-15 16:20] #1800 closed

[2018-11-15 16:21] biznickman commented on #1800
FYI for anybody who lands on this page...

I identified the issue was that I wasn't using puma in my procfile. Once I switched that over everything worked properly.

[2018-11-15 21:19] sdellis commented on #1745
I'm having the same issue.

[2018-11-16 00:39] stoplion commented on #1800
Puma is required to make this work? 🤔

[2018-11-17 01:49] NARKOZ commented on #1746
master now explicitly requires for yarn: https://github.com/rails/webpacker/blob/bb132d591da35095e3246082cba3d693f847e0b5/lib/webpacker/runner.rb#L13

[2018-11-17 02:40] stoplion opened #1805 "Foreman Webpacker environment variables not working"
Having same issue as https://github.com/rails/webpacker/issues/1800
Not using PUMA..
Using instructions from https://github.com/rails/webpacker/blob/master/docs/env.md
Using Foreman not filling the process.env variables..
https://stackoverflow.com/questions/53355621/rails-webpacker-not-seeing-process-env-variables

[2018-11-17 23:15] #1805 closed

[2018-11-18 05:18] ryanwood commented on #1310
We recently upgraded an app from Rails 4.2 to Rails 5.2 with Webpacker. We were using this gem with the Asset Pipeline: https://github.com/alexspeller/non-stupid-digest-assets. It allowed a white list of files to be generated without hashes.

We have a particular JS file that has hardcoded references so we can't change the file name or location. We are now generating that JS file via Webpack so it

[2018-11-19 14:21] Lockyy commented on #1789
This issue was resolved but not by getting ES6 code from node_modules to transpile in production.

Further tracking narrowed the issue down specifically to Foundation v6.4.x which was including ES6 code when included and @shopify/draggable which was doing the same. Updating Foundation to >=6.5.0 resolved the issue for foundation, further information on the changes made in Foundation 6.5.0 that lea

[2018-11-19 14:42] zealot128 commented on #1789
Unfortunately, there are several more projects that will have that issue.
I've run into the same problem with vue-flag-icon. Copying over the code into my app/javascripts/* solved that, but it's not a good solution for larger projects.
I've tried changing the babel exclude parameter but without success :(

Things i've tried without success:

[code]

Switching ModuleConcatenation mode, changing com

[2018-11-19 18:13] Lockyy commented on #1789
The Babel exclude parameter being removed entirely worked for me @zealot128 but only locally, I wasn't able to get it to take effect in production.

It would be good to find a resolution to this for those packages that don't have an easy work around. If you find out how to solve this it'd be helpful to put that info here for others. Reopening since this issue isn't actually resolved, just papered

[2018-11-19 22:35] survili commented on #1803
@sandergroen did you try creating a new 5.2 app? Maybe it's not related to the upgrade..

[2018-11-20 08:03] zealot128 commented on #1789
Yes, the same with me.

I made sure to have exactly the same nodejs / yarn version in production as in development, started with fresh packs + node_modules and tmp/cache folder, even both systems are 64 bit linux.

But, when compiling locally with

[code]

all things got transpiled correctly and work in IE11. Not so in production :(

[2018-11-20 08:31] sandergroen commented on #1803
@survili yes I did I'm having the same issue there. I don't think it is related to the upgrade but I do think that it has something todo with my NVM installation. I'm no sure how to make Webpacker work correctly with NVM. It is possible that I need some configuration on the NVM stuff but I don't know.

[2018-11-20 22:59] mayordwells opened #1807 "Support for node-sass version that is compatible with node v11"
We upgraded our node version to 11 and our rails + webpacker project stopped compiling afterward.
So we had to downgrade back to node 10 because the version of node-sass that is currently supported in webpacker is not compatitle node 11.

Can we please upgrade to the version of node-sass that supports node 11? - https://www.npmjs.com/package/node-sass (v4.10.0)

Here's the version of node-sass tha

[2018-11-22 01:48] domi91c commented on #1437
Can someone tell me how to get HMR working with Vue?

[2018-11-22 19:20] luisenrike opened #1809 "application.js changes not compiling"
My `javascript/packs/application.js` file contains this: `console.log('Hello World from Webpacker');`

If i change that to: `console.log('Hello World from Webpacker 1');` and reload the page I can see in the rails console that webpack is compiling but I'm still seeing `Hello World from Webpacker` in the browser's console.

[code]

[2018-11-22 19:20] luisenrike opened #1810 "application.js changes not compiling"
My `javascript/packs/application.js` file contains this: `console.log('Hello World from Webpacker');`

If i change that to: `console.log('Hello World from Webpacker 1');` and reload the page I see in the rails console that webpack is compiling but I'm still getting `Hello World from Webpacker` in the browser's console.

[code]

ruby 2.5.0
rails 5.2.1
mac 10.14.1
yarn 1.10.1

[2018-11-22 19:21] #1809 closed

[2018-11-22 20:01] domi91c opened #1811 "How to setup Hot Module Reloading for Vue?"
I've been unsuccessful in getting HMR to work with the default Webpacker + Vue setup, and haven't been able to find any instructions. Is there any extra code that I need to use to get this to work?

[2018-11-22 20:35] luisenrike commented on #1810
So, I had storybook and it was using webpack@4 and I'm using webpacker 3.5.5, I guess it had some conflicts.

[2018-11-22 21:59] ytbryan commented on #1811
did you run webpack-dev-server at a separate terminal?

Open a separate terminal and run `./bin/webpack-dev-server`

[2018-11-22 22:15] domi91c commented on #1811
Yes I did, and tried many different options. I should have mentioned, I get full page reloads instead of the regular HMR functionality.

[2018-11-22 22:18] seuros commented on #1811
Then HMR is working. If your coding don't support hot reloading, webpack will restart the whole page.

[2018-11-24 17:56] etewiah commented on #1650
@bbugh Do you happen to know if it is possible to upgrade an existing vue webpacker install to take advantage of Vue CLI 3?
Thanks

[2018-11-26 08:34] openscript commented on #1476
I'm struggling with the same problem. I cannot load the fonts from the `roboto-fontface`:

    @import '~roboto-fontface/css/roboto/sass/roboto-fontface';

This will result in the following errors:
[code]
My environment looks like this:

[code]

[2018-11-26 09:29] gauravtiwari commented on #1719
Please feel free to make a PR :)

[2018-11-26 09:31] gauravtiwari commented on #1713
Sorry about long silence everyone 🙏 I was away and just got back, will review the remaining issues and PRs. Please give me a few days to settle and make a final release (most probably coming Monday)

[2018-11-26 14:06] BassamAziz commented on #788
mine is just failing on heroku. any insights ?

[2018-11-26 17:01] jejacks0n commented on #348
I would like to add to this a bit. Maybe it's been discussed already, but what I've seen is just pathing issues when used inside a dummy app or in a non-straightforward way. I've written a fairly widely used (maybe less so these days) javascript testing library for rails and so understand some of the nuances of javascripts and engines.

I'm doing this in a non-open source engine for what it's wort

[2018-11-26 19:08] #1810 closed

[2018-11-26 22:51] jaredbeck opened #1812 "Backports to v3 welcome?"
Just a quick question, are backports to v3 welcome? If so, I would like to backport:

- https://github.com/rails/webpacker/pull/1644 - Fixes Browserslist 2 warning
- https://github.com/rails/webpacker/pull/1528 - Fixes "postcss-cssnext has been deprecated" warning

If backports are *not* welcome, what is the ETA on v4?

Thanks for all your work bringing react to rails.

[2018-11-27 01:08] Zyphrax commented on #1212
This is really confusing. I have the following devDependencies:
[code]

It doesn't make sense to me to move all the TypeScript typings and Webpack loaders in dependencies just to make compilation work.

Would it be possible to remove the Yarn install step?

[2018-11-27 12:35] prasanthrubyist commented on #1284
I also faced the same problem, After spending of some hours I find my mistake, The problem is due to importing bulk JSON, like this  `import codes from "./pincode.json";`

Hope this will help someone, Thank you

[2018-11-27 16:53] jakeNiemiec commented on #1212
`devDependencies` has more usefulness in the context of a JS library.

Let's take [`webpack`](https://github.com/webpack/webpack/blob/master/package.json#L70) as an example. Notice that `react` is installed under `devDependencies`.

- If you developing for the [`webpack`](https://github.com/webpack/webpack/blob/master/package.json#L70) library locally, it would install `react`.
- If you developing

[2018-11-27 17:02] chevinbrown commented on #1212
@jakeNiemiec is there some confusion here about what `devDependencies` vs production dependencies means? I feel like many believe that the `dependencies` include something in a production bundle and therefore increase the package size? (if this question/comment is just chatter, thumbs down and I'll delete)

[2018-11-27 17:46] odlp commented on #1212
IMO there are legitimate use cases for `devDependencies` in a Rails app - say you want to have JS testing libraries like Karma, Jasmine etc installed via `yarn` on CI but don't want these when in the production environment (see https://github.com/rails/webpacker/issues/1330 for further context).

Webpacker hardcoding `--production` into a Rake task is disruptive of other `yarn` uses which don't re

[2018-11-27 20:40] andrewpage commented on #1155
Looks like a fix for this has been included in the [Rails 6 version of ActiveSupport](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/tagged_logging.rb#L63). The `ActiveSupport::TaggedLogger` initializer duplicates the logger that is passed in before extending it, therefore removing this undesired behavior.

Here is a snippet of Ruby code that you can use to import this

[2018-11-27 21:43] jakeNiemiec commented on #1212
You _never_ need to worry about downstream `dependencies` in a Rails app, if you come across a `--save-dev` in a README, that was not put there for you (the same problem exists in Node.js-land). @nikolalsvk, What is the purpose for a CI test? To simulate a production environment and programmatically test a bunch of edge cases. Wouldn't you want to test against minified/transpiled production bundle

[2018-11-27 22:22] odlp commented on #1212
@jakeNiemiec sorry if I was unclear, but to clarify:

I'm using `yarn` to install Karma and Jasmine. `webpacker` also happens to use `yarn` to install dependencies, but by hardcodes `--production` in it's rake tasks which interferes with non-weback related tasks.

My suggestion is the webpacker commands should be environment aware.

[2018-11-28 16:48] jakeNiemiec commented on #1212
![image](https://user-images.githubusercontent.com/16782063/49165040-f2402700-f2f5-11e8-9340-e6b7ac9e0f02.png)

- Think of it like this, if you really wanted to, you could hit a nail with the non-flat side of a hammer...it would work, but you would be more prone to problems.

- In the same way setting `NODE_ENV` **comes with side-effects specific to your `dependencies`** and the `dependencies` of

[2018-11-28 17:59] denissellu opened #1813 "Asset file contents"
Hello

I'm not 100% if this is an issue for this repo.

When using asset pipe line with sprockets you can call this command
`Rails.application.assets.find_asset(filename).source`
 to return the contents of the file. If for example this was an SVG you would get
`<svg xmlns=\"http://www.w3.org/2000/svg\" version=\"1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" preserveAspectRatio=\"none\".....`

[2018-11-28 21:20] jakeNiemiec commented on #1813
This may be what you are looking for: https://github.com/rails/webpacker/blob/5476dbbf0df65d7de7a2a412b887cbcd5f298efb/docs/assets.md#link-in-your-rails-views

There is also a newer lookup method in case that's what you needed: https://github.com/rails/webpacker/blob/25768b0525f61c044c51216be45801d08685f650/CHANGELOG.md#added-5

[2018-11-29 01:18] trent-boyd commented on #1212
@gauravtiwari

That's an example of bikeshedding if I ever saw one. Further, this is listed _nowhere_ in the documentation. I should not have to crawl the Webpacker source or track down this exact issue just to find out that your team is imposing their own view on how `devDependencies` should work.

Hundreds of other JS-based open source projects intentionally instruct you to use the `--dev` flag

[2018-11-29 01:46] ytbryan commented on #1212
@trent-boyd Mr Boyd, please feel free to send a PR

Thank you @gauravtiwari for your time contributing to the rails/webpacker project. Webpacker has been a delight and it saves me so much time integrating Vue into Rails <3

[2018-11-29 10:12] xero88 opened #1814 "css module, how to import"
This is a nightmare.

How to add css from lib (like bootstrap)

This :

is not working ! Nothing in the documentation to help

I just want to do this : https://webpack.js.org/loaders/css-loader/#css-modules

[2018-11-29 14:28] AlexKund opened #1815 "import styles in bundles .jsx files doesn't seem work"
Hi,
I have this app structure:
- javascript
  - bundles
     - DatePicker
          DatePicker.jsx
  - packs
     member.js
     public.js
     application.js

in view
  member.html.haml  with  that piece of code
    = stylesheet_pack_tag "member"
    = javascript_pack_tag "application"
    = javascript_pack_tag "common"
    = javascript_pack_tag "member"

If I include import  "react-datepicker/di

[2018-11-29 14:34] lakim commented on #1723
Just had the same issue while deploying with capistrano which symlinks `node_modules`.

@jpickwell's PR https://github.com/rails/webpacker/pull/1738 would solve this issue without having to override the default config which is very cumbersome and fragile.
Would be great if we could merge it.

[2018-11-29 15:06] AlexKund commented on #1815
Sorry,
My Datepicker import was in common.js but style in member. I move that import into member.js and everything became ok

[2018-11-29 15:06] #1815 closed

[2018-11-29 15:15] denissellu commented on #1813
Thanks for that,

That lookup method is great at verifing that the asset exists within Webpack, but what i'm looking for is the `#source` method that is avaliable in [sprockets](https://github.com/rails/sprockets/blob/0cb3314368f9f9e84343ebedcc09c7137e920bc4/lib/sprockets/asset.rb#L92) and it is mostly calling `File.binread`

[2018-11-29 18:53] openscript opened #1817 "Cannot load fonts from npm package"
Dear community

I'm struggling with this for quite a while. I want to load the font Roboto from [`roboto-fontface`](https://www.npmjs.com/package/roboto-fontface). I have `fonts.scss` file in my packs folder, where I try to load this font with `@import '~roboto-fontface/css/roboto/sass/roboto-fontface-medium';`. This scss file I load from my TypeScript app (which works like a charm) with
`import '

[2018-11-29 19:39] quinn commented on #488
@frozenfung

It's great that you feel that way, but this is a frequently used pattern in the rails community. For example, turbolinks is a gem that includes assets that are included via the asset pipeline. Turbolinks also has an npm package you can use, but this is not the case for most rails plugins (gems). Supporting this would be a huge step towards webpacker being a full replacement of the rai

[2018-11-29 23:13] jakeNiemiec commented on #1817
This is highly dependant on how your `stuff` is organized. Could you post the sass where you import the font?

You probably need [`url-loader`](https://github.com/webpack-contrib/url-loader) or [`file-loader`](https://github.com/webpack-contrib/file-loader)

[`resolve-url-loader`](https://www.npmjs.com/package/resolve-url-loader#how-it-works) seems to have a very specific use.

[2018-11-29 23:52] trent-boyd commented on #1212
I don't think you'd like the the voice of my documentation on this one. 😉

It's just frustrating to see a lack of attention to his, especially when dev team has [come up against it themselves](https://github.com/rails/webpacker/issues/117) and there's been an [unaddressed PR](https://github.com/rails/webpacker/pull/1331) about it for nine months. Even closing something as a #wontfix is fine if tha

[2018-11-30 06:03] openscript commented on #1817
The fonts are loaded through a mixin, which doesn't seem to work with `resolve-url-loader` as expected:

see [resolve-url-loader README.md](https://www.npmjs.com/package/resolve-url-loader#limitations--known-issues)

I still looking for a way to get it to work in production. I would love to embed the fonts with base64 blobs in my js file, as I'm creating an offline app the service worker will be a

[2018-11-30 11:42] mayordwells commented on #1535
@quekshuy thanks, this saved me a lot of headaches. Thanks for sharing.

[2018-11-30 16:15] kiramclean opened #1818 "Allow me to specify exactly which paths to load"
Our webpacker config appears to be loading all of our test files and helpers for production builds. I need to exclude any files that end with `.spec.ts` now because since upgrading to rails 5.2.1 dev dependencies are no longer installed, which breaks the build since the spec files are looking for dev dependencies which aren't there. I _do_ need to include any that end with just `.ts`, though (whic

[2018-11-30 16:51] jakeNiemiec commented on #1817
Watch out for a`loader`/`rule`/`plugin` with: `exclude: [/node_modules/],`. This is generally good to do, but for your specific case, it could break the way that `roboto-fontface`[ is loading the package](https://github.com/choffmeister/roboto-fontface-bower/blob/master/css/mixins.scss#L9).

If you use [`file-loader`](https://github.com/webpack-contrib/file-loader#getting-started), it would yank t

[2018-11-30 16:58] joshlarsen commented on #1015
Sorry to keep polluting this issue, but the above solutions **won't** work as new instances of the axios client won't have the header. For anyone still searching for a solution, try something like this to have the header set in future instances of the axios client.

[code]

[code]

[2018-11-30 17:59] jakeNiemiec commented on #1212
The dev team has come up against it? Pretty sure the resolution was the opposite of what you portray:

👆That's bikeshedding if _I_ ever saw it. The WebpackER team is aligning themselves with how Webpack is used by the Node.js community. **This is smart**, it will do a lot to reduce friction between Rails & JS pipelines.

Remember that `package.json` & `devDependencies` are all constructs from the

[2018-11-30 18:17] jakeNiemiec commented on #1818
Do you link to any tests via entry points? Normally you would have a seperate webpack config that links to all the spec.ts files (or a central file that links to all spec.ts files). I remember back from my Angular days that it was especially finicky with tests.

As a stop-gap solution, consider moving your `devDependencies` to `dependencies` with minimal consequences (a longer `yarn install`). The

[2018-11-30 18:32] trent-boyd commented on #1212
Neat. Awesome. I'm on board as long as it's in the docs.

Yes, and that's how I'd prefer it to stay. [Using](https://github.com/rails/webpacker/blob/master/lib/tasks/webpacker/yarn_install.rake#L4) the `--production` flag bypasses that. And the test guy is someone else, but I do agree with you on that.

[2018-11-30 18:56] kiramclean commented on #1818
Thanks for the quick reply! I'm not 100% sure what you mean by "link to tests via entry points". We have two entry points for production builds, `application.js` and `polyfills.js`. I've run dependency graphs on both of those files and neither include any test dependencies.

As far as I understand how webpacker works, the separate webpack configs (including a separate one for dev/test that link to

[2018-11-30 20:42] jakeNiemiec commented on #1818
I must admit, I know more about Webpack than WebpackER. That being said, it sounds like WebpackER is eagerly loading your `*.spec.ts` files or you need a `exclude: /\.spec\.ts$/` on one of your loaders (last one below). The only mechanism I could find that indicates eager loading is:

`ts-loader`/`tsconfig` could also have a missing exclude:
https://github.com/rails/webpacker/blob/eae46c52220a0303

[2018-11-30 20:53] jakeNiemiec commented on #1789
@zealot128 How are you importing (in the JS) the package that is not getting transpiled? Every time I had this issue with vanilla webpack, it came down to:
- I didn't import correctly
- library author didn't export correctly (or did so in an unconventional way)

If either of those are the case, your package may be a casualty to tree-shaking.

[2018-11-30 21:32] kiramclean commented on #1818
Thanks for the tips.. I've tried excluding specs in our `tsconfig.json` and in the typescript loader, but maybe there's something more to look into related to other loaders or somehow getting that config into a webpack config via `webpacker.yml`. I appreciate you answering questions like this was stack overflow! I'll close this since I haven't found a solution and don't plan on pursuing anything l

[2018-12-02 02:15] rickychilcott commented on #1164
Thanks for your note @ericscottmarquez and @nerboda.

https://github.com/rails/webpacker/issues/739#issuecomment-327259829 confirms this.

The following should fix this issue:

[code]

[2018-12-02 08:33] openscript commented on #1817
I've checked that. The `node_modules` is not excluded.

I've

[2018-12-02 10:38] openscript commented on #1817
I think I finally nailed it!

I've removed the `extract-text-webpack-plugin` from the `sass` loader configuration with `environment.loaders.get('sass').use.shift();` in my `environment.js`. It seems like this plugin removes all `@font-face` declarations.

[2018-12-02 21:38] ameft opened #1824 "Compiling in production fails silently and isn't verbose enough"
I have a Rails 5.2 app with Webpacker 4.0.0.pre.3 with runs smoothly in development and instead couldn't compile in production: `[Webpacker] Compiling…` just hanged there for hours (locally and on Heroku, where @schneems helped me a lot), in a similar way as described in #1534, #1217 and #1003.
After many hours of testing and research I found out that the problem was that two dependencies in `pack

[2018-12-02 22:06] georgekettle commented on #749
Thanks so much @gauravtiwari
Worked for me!

[2018-12-03 03:39] khoan opened #1826 "fail to compile on Heroku"
Error about preset stage 2 not found

[code]

[code]

[code]

works locally, but not on heroku.

[code]

[2018-12-03 08:37] jawad-aziz-farhad commented on #1807
having the same issue.

[2018-12-03 08:39] benbonnet commented on #855
Hello guys, is that normal that when I run ` RAILS_ENV=production bundle exec rake assets:precompile`, I'm stuck with the command failing while it looks into .babelrc, which then requires a bunch of things that are located in devdependencies ? I have to move the whole babel related stuff in dependencies, which just sucks

It is just going wrong. What am I supposed to do at this point ?

[2018-12-03 10:20] mayordwells commented on #1807
@jawad-aziz-farhad add this ` "node-sass": "4.9.3",` to your package.json file to override the upgraded version. Then you might need to downgrade back to node 10.

I didn't test the latest version of node-sass and node using this approach.

[2018-12-03 10:23] gauravtiwari commented on #855
@benbonnet Please see this issue - https://github.com/rails/webpacker/issues/160 and https://github.com/rails/webpacker/issues/117

[2018-12-03 13:46] bjankord commented on #1719
This is resolved with this PR: https://github.com/rails/webpacker/pull/1816
The PR has been merged to master.

[2018-12-03 15:56] jakeNiemiec commented on #1817
The following may work better (assuming that you have a loader that can convert this):
[code]

...but, I personally would recommend stashing your fonts in your public directory:
[code]
(we do it this way so our fonts remain static, free from the webpack cache-busting/fingerprinting the files)

[2018-12-03 16:09] jakeNiemiec commented on #1824
[FontAwesome did a writeup on this known issue](https://fontawesome.com/how-to-use/with-the-api/other/tree-shaking#issues). Issue https://github.com/terser-js/terser/issues/50

There is also a webpacker PR to fix this https://github.com/rails/webpacker/issues/1719

[2018-12-03 16:23] jakeNiemiec commented on #1534
[Do you use Font Awesome?](https://fontawesome.com/how-to-use/with-the-api/other/tree-shaking#issues)

[2018-12-03 16:40] jakeNiemiec commented on #1824
It's not that Webpacker is erroring out, uglify is incorrectly trying to minify all of the FA glyphs & exports. In other words, it's trying to do an impossible amount of work (memory & cpu wise). This is an issue that is just as hard to diagnose with vanilla webpack.

[2018-12-03 16:48] ameft commented on #1824
@jakeNiemiec are you sure that that is what it's happening? Why moving the libraries from `devDependencies` to `dependencies` should fix that? Compiling with `./bin/webpack` was giving me errors, but Webpacker didn't.

[2018-12-03 17:30] jakeNiemiec commented on #1824
@ameft Sorry, my mistake, I conflated some of the issues you pointed to with what you were saying. Now my understanding is: FA was in `devDeps` when it needed to be in `deps` and webpacker did not alert you to this error.

It looks like webpacker is configured correctly to display errors:
https://webpack.js.org/configuration/stats/#stats
https://github.com/rails/webpacker/blob/8d496a0b871085648d6e

[2018-12-03 17:40] ameft commented on #1824
I'll try the stats config and to revert the fix to see if the errors are displayed, thank you @jakeNiemiec!

[2018-12-03 17:50] gauravtiwari commented on #1824
@jakeNiemiec I think the issue here is `Open3` is hanging for some reason when there is error returned from the shell command. I am looking into alternatives but if someone has ideas feel free to make a PR.

[2018-12-03 19:18] schneems commented on #1824
A thing I've had to recommend fairly frequently is to manually run `./bin/webpack --progress`.

Can we make this the default output mode of webpacker? Any other documentation or tips on debugging hung or really slow compiles is appreciated.

[2018-12-03 19:35] openscript commented on #1817
@jakeNiemiec You are right, this is cleaner, but I like the convenience of a NPM package.

[2018-12-03 19:35] #1817 closed

[2018-12-03 19:43] Welziewagers2015 commented on #1714
Just saw the release on the yarn add nice work you all.

[2018-12-03 20:09] robikovacs commented on #1785
I had a similar issue. Try to move all your source code files out of `javascript/packs/`, for example `javascript/src`, and just import your main file in packs.

Example commit with the changes:
https://github.com/honeybadger-io/honeybadger-rails-webpacker-example/commit/5a70ed9728624c7f058a31c34602a76856633e9d

[2018-12-03 21:32] jakeNiemiec commented on #1785
Robert is right, webpacker is probably trying to do more work than you want it to. From the docs:
https://github.com/rails/webpacker/blob/227661b546701e107213aa9b6f83451bc89cf7d5/docs/folder-structure.md#L6

[2018-12-03 21:43] jakeNiemiec commented on #1824
@schneems If you also add `--profile`, [this will give you some insight into where the bottlenecks are](https://webpack.js.org/api/cli/#profiling):
![image](https://user-images.githubusercontent.com/16782063/49403330-18106600-f712-11e8-9ac6-57870481ade5.png)

We use a progress plugin that does this on every build, here is one that a lot of `(react/vue/angular)-cli` libraries use:  https://www.npmj

[2018-12-05 02:50] domi91c commented on #1811
Sorry for the delay. The code is literally the default Vue install from Webpacker.

[2018-12-05 08:40] evilcins commented on #203
What solved it for me was `rm -rf tmp/cache/` and restarting the rails server (Rails 5.1).

[2018-12-05 13:03] raldred commented on #1534
Just to be clear I'm seeing this in development with webpack dev server, production is fine.

[2018-12-05 13:19] bazzel commented on #597
I was able to use i18n-js with webpacker and wrote it down in a [gist](https://gist.github.com/bazzel/ecdff4718962e57c2d5569cf01d332fe).

[2018-12-06 10:23] odlp commented on #1330
Closing - fixed in #1331

[2018-12-06 10:23] #1330 closed

[2018-12-06 20:09] joeadcock commented on #1760
@yoonwaiyan Were you able to get this resolved?

For what it is worth, I had the same problem.  It turned out that `yarn install` was failing due to the node version on the server (16.x was installed, but a recently added package required 18.x).

Joe

[2018-12-07 02:00] yoonwaiyan commented on #1760
@joeadcock It's not officially resolved but we did a workaround to call `yarn install` manually during deployment before assets precompile, which seems to work without any side effect for now.

I do hope there's a good fix to avoid the same problem for other apps that does the same thing. It could be the case where we have left out some files or a gem that would call `yarn install` automatically,

[2018-12-07 02:00] #1760 closed

[2018-12-07 04:07] Br3nda commented on #1282
full command that fixed it (for anyone else that ends up here)

[code]

[2018-12-10 00:39] MrHubble commented on #1494
@ernsheong I think this issue can be closed. I ran into the problem when trying to run my tests on CodeShip and following [the above](
https://github.com/rails/webpacker/issues/1494#issuecomment-388308053) allowed it to work for me also.

[2018-12-10 03:37] zdrummond opened #1828 "Hello World for Typescript does not work"
Note: I am very new to Webpacker AND Typescript. So this is likely a problem with user.. however there is so little steps I am not sure what I messed up.

I got Webpacker running with React. Easy peasy.

Then I moved to following the [easy steps](https://github.com/rails/webpacker/blob/master/docs/typescript.md#typescript-with-react) written up to add Typescript.

[code]

However, the `hello_types

[2018-12-10 13:11] HardieBoeve commented on #1828
Did you tried renaming the file to .tsx?

[2018-12-10 16:34] zdrummond commented on #1828
💥 That was it.

I didn't expect that, since the rest of my React code, even with JSX, ends with `.js`

[2018-12-10 16:34] #1828 closed

[2018-12-11 02:19] gnapse opened #1829 "Turn off live code reloading"
From the README

What if I want this option for the second reason stated above (I have enough JavaScript that on-demand compilation is too slow) but I do not want live code reloading? Is there a way to turn it off? I tried to find about it in the documentation but did not find it.

[2018-12-11 11:00] phlegx commented on #1696
We have the same problem! So, why it does not use RAILS_ENV?

[code]

[2018-12-11 16:03] jakeNiemiec commented on #1829
I think the option to do this while running the dev server was removed: https://github.com/rails/webpacker/issues/724

[But, it looks like you could just use this instead of spinning up the dev server](https://github.com/rails/webpacker#development):
[code]

[2018-12-11 16:14] gnapse commented on #1829
But isn't it the server the only option that will stop on-demand compilation? I recall that with the command above on-demand compilation still occurred. Will try again to confirm or deny.

[2018-12-11 16:37] jakeNiemiec commented on #1696
Short Answer: `NODE_ENV` controls different things than `RAILS_ENV`.

Take the `webpacker` gem for example, there is a difference between  developing **on** the gem and developing **with** the gem _(as a tool)_.  You want the JS/browser/packs side of things to think & act as if it was in production _(as a tool)_. When `RAILS_ENV` is `staging` or `test`, you would want `NODE_ENV` to be set to `prod

[2018-12-11 17:49] jakeNiemiec commented on #1829
Did you try `compile: false` in your `webpacker.yml`?

https://github.com/rails/webpacker/blob/aefdf302cf178927147e74425d517688d3fe1434/README.md#L225

[2018-12-12 08:02] marcindrozd opened #1831 "Hanging on compiling during capistrano deploy"
rails: 5.2.1
webpacker: 3.5.5

I have looked through most of the answers on long compile time and tried some suggestions there, but I still did not find the answer so decided to ask.

I have a problem with application hanging on `Compiling...` step during capistrano deployment process on digital ocean droplet. I could probably try compiling locally, but I want to understand why this is happening.

[2018-12-12 14:12] MaikelGG commented on #1141
I tried the above solution with postcss-cssnext as well as the postcss-css-variables plugin, but they didn't work. It does work together with webpack-dev-server, but when it compiles it doesn't output both options. The plugin that does work is postcss-custom-properties. I didn't use any options. This works well in case you want to print both the variable as well as the value for IE11. Maybe this c

[2018-12-12 14:30] marcindrozd commented on #1831
It looks like the issue was that folders that were already inside `app/javascript` were added again through `resolved_paths`. This probably caused some performance issues (maybe including them twice).

I don't know the reason why it was added this way, but everything works fine when they were removed. After removal, compilations started to work a lot faster.

[2018-12-12 14:30] #1831 closed

[2018-12-13 15:35] lucasdeassis commented on #1568
same problem outside docker

[2018-12-13 23:09] zoran commented on #1249
Please do not set `config.public_file_server.enabled = true` but
[code]

and run `RAILS_SERVE_STATIC_FILES=true bin/rails s -e production`

[2018-12-14 00:30] msencenb commented on #1453
@bbugh solution seems to mostly work for me, although I also had to append a new rule into the webpack config that targets vue. But... that custom loader seems like it results in my vue components not respecting my .babelrc plugin of 'transform-class-properties', which causes my app to break on IE11 because of arrow functions. Not sure yet what to do about that.

[code]

[2018-12-14 21:06] TarasBardiuk commented on #1624
I think I found the cause of this problem.
I bet you have the `application.js` and `application.css` files inside the `packs` directory, right?
Webpacker works with styles in a special way, generating a file with the same name as the css-file, but in the format `.js`.
So, I guess, when there is already generated `application.js` for `application.css`, true `application.js` file will be skipped.
So

[2018-12-15 00:12] Zyphrax opened #1835 "[4.0.0-rc.1] Javascript_asset_tag is broken"
I've upgraded from `4.0.0-pre.3` to `4.0.0-rc.1` and now I get a really strange error in my application.slim:

This errors seems to be caused by this call in my project:

_app/views/layout/application.slim_
[code]

It seems that `javascript_pack_tag` generates a hash and is incorrectly converted to a Rails include tag. It seems to think that the hash is the `src`.

----
**Edit: It might have somet

[2018-12-15 04:42] BaiJiafan commented on #634
npm i babel-preset-env

[2018-12-15 13:03] gauravtiwari commented on #1835
Made a new release, please give it a try 🙏

[2018-12-15 13:34] gauravtiwari commented on #1835
great, thanks @seuros

[2018-12-15 13:39] gauravtiwari commented on #1829
Thanks @jakeNiemiec

As suggested, please use watcher if you don't want dev server:

[code]

[2018-12-15 13:39] #1829 closed

[2018-12-15 13:41] gauravtiwari commented on #1826
@khoan Please ensure all build and app dependencies are under `dependencies` section. Are you using the latest version of webpacker? If yes, then `stage-2` isn't needed, we include everything.

[2018-12-15 13:41] #1826 closed

[2018-12-15 13:46] gauravtiwari commented on #1812
Please feel free, but v4 is coming up soon (this weekend)

[2018-12-15 13:47] #1812 closed

[2018-12-15 13:48] gauravtiwari commented on #1811
Closing, since this isn't an issue with Webpacker. Please try asking on SO :)

[2018-12-15 13:48] #1811 closed

[2018-12-15 13:48] gauravtiwari commented on #1807
@mayordwells Please use the latest RC.

[2018-12-15 13:48] #1807 closed

[2018-12-15 13:50] gauravtiwari commented on #1796
@echan00 Please try restarting or disabling spring altogether. Seems to work fine for me.

[2018-12-15 13:50] #1796 closed

[2018-12-15 13:52] gauravtiwari commented on #940
Cleaning up since this is an old issue, please reopen with more details.

[2018-12-15 13:52] #940 closed

[2018-12-15 13:52] gauravtiwari commented on #1084
Please try the latest RC, this is now fixed.

[2018-12-15 13:52] #1084 closed

[2018-12-15 13:53] gauravtiwari commented on #1106
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:53] #1106 closed

[2018-12-15 13:53] #1117 closed

[2018-12-15 13:54] gauravtiwari commented on #1124
Lets track this in #1694

[2018-12-15 13:54] #1124 closed

[2018-12-15 13:54] gauravtiwari commented on #1128
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:54] #1128 closed

[2018-12-15 13:56] #1174 closed

[2018-12-15 13:56] gauravtiwari commented on #1174
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:56] #1175 closed

[2018-12-15 13:57] #1178 closed

[2018-12-15 13:57] gauravtiwari commented on #1178
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:57] gauravtiwari commented on #1186
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:57] #1186 closed

[2018-12-15 13:57] #1204 closed

[2018-12-15 13:58] gauravtiwari commented on #1211
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:58] #1211 closed

[2018-12-15 13:58] #1212 closed

[2018-12-15 13:59] gauravtiwari commented on #1220
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:59] #1220 closed

[2018-12-15 13:59] gauravtiwari commented on #1229
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 13:59] #1229 closed

[2018-12-15 14:00] gauravtiwari commented on #1284
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:00] #1284 closed

[2018-12-15 14:00] #1296 closed

[2018-12-15 14:01] gauravtiwari commented on #1341
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:01] #1341 closed

[2018-12-15 14:02] gauravtiwari commented on #1354
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:02] #1354 closed

[2018-12-15 14:02] #1362 closed

[2018-12-15 14:02] gauravtiwari commented on #1366
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:02] #1366 closed

[2018-12-15 14:03] #1392 closed

[2018-12-15 14:03] gauravtiwari commented on #1411
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:03] #1411 closed

[2018-12-15 14:04] gauravtiwari commented on #1418
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:04] #1418 closed

[2018-12-15 14:04] #1427 closed

[2018-12-15 14:04] #1430 closed

[2018-12-15 14:05] #1441 closed

[2018-12-15 14:05] gauravtiwari commented on #1443
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:05] #1443 closed

[2018-12-15 14:05] gauravtiwari commented on #1452
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:05] #1452 closed

[2018-12-15 14:05] gauravtiwari commented on #1453
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:05] #1453 closed

[2018-12-15 14:06] #1457 closed

[2018-12-15 14:06] #1460 closed

[2018-12-15 14:06] gauravtiwari commented on #1527
Please try the latest RC, otherwise feel free to open a new issue with more details.

[2018-12-15 14:06] #1527 closed

[2018-12-15 14:07] #1470 closed

[2018-12-15 14:08] gauravtiwari commented on #1472
https://github.com/webpack-contrib/webpack-command is deprecated

[2018-12-15 14:08] #1472 closed

[2018-12-15 14:10] #1476 closed

[2018-12-15 14:10] #1479 closed

[2018-12-15 14:10] #1480 closed

[2018-12-15 14:11] #1482 closed

[2018-12-15 14:11] #1483 closed

[2018-12-15 14:12] gauravtiwari commented on #1485
Please use the latest RC, and feel free to open a new issue with more details if this is still an issue.

[2018-12-15 14:12] #1485 closed

[2018-12-15 14:13] gauravtiwari commented on #1486
Please see env docs and consider using the latest RC.

[2018-12-15 14:13] #1486 closed

[2018-12-15 14:13] #1489 closed

[2018-12-15 14:13] #1490 closed

[2018-12-15 14:13] gauravtiwari commented on #1490
Please use the latest RC, and feel free to open a new issue with more details if this is still an issue.

[2018-12-15 14:14] #1494 closed

[2018-12-15 14:14] #1497 closed

[2018-12-15 14:14] #1498 closed

[2018-12-15 14:14] gauravtiwari commented on #1498
Please use the latest RC, and feel free to open a new issue with more details if this is still an issue.